{% extends 'base.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

{{ page.id }}

    <form name="page" method="post">
        <div id="page">
            <div>
                <label for="page_titre_page" class="required">Titre page</label>
                <input type="text" id="page_titre_page" name="page[titre_page]" required="required" maxlength="255" value="{{ titre_page }}">
            </div>
            <div>
                <label for="page_color_titre_page">Color titre page</label>
                <input type="color" id="page_color_titre_page" name="page[color_titre_page]" maxlength="255" value="{{ titre_color }}">
            </div>
            <div>
                <label for="page_bg_color">Bg color</label>
                <input type="color" id="page_bg_color" name="page[bg_color]" maxlength="255" value="{{ bg_color }}">
            </div>
            <div>
                <label for="page_quiz">Quiz</label>
                <select id="page_quiz" name="page[quiz]">
                    <option value="{{ idquiz }}">{{ idquiz }}</option>

                </select>
            </div>
            <input type="hidden" id="page__token" name="page[_token]" value="szHy3tZvZBKU3EKm4dkwu1qTG9nqJIRxqFABsFZWKPU">
        </div>
        <button class="btn">Update</button>
    </form>

{% endblock %}