{% trans_default_domain 'FOSUserBundle' %}
{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}

{% block main %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="panel panel-success">

        <div class="card bg-info text-white">
            <div class="card-body">

                <div class="row">

                    <div class="col-4">
                        <h2> <font color="white">Modifier mot de passe</font></h2>

                    </div>
                </div>



            </div>
        </div>
    <div class="panel-body" style="padding: 20px">

    <div class="row">
    <div class="col">
    <div class="row">
    <div class="col-sm-12">


    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        <div class="row">
            <div class="col-sm-3">
        {{ form_label(form.current_password) }}
            </div>
            <div class="col-sm-4">

            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
<br>

        <div class="row">
            <div class="col-sm-3">
        {{ form_label(form.plainPassword.first) }}
            </div>
            <div class="col-sm-4">

        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-3">
        {{ form_label(form.plainPassword.second) }}
            </div>
            <div class="col-sm-4">

        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
<br>
<br>
<br>


        <div>
        <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" />
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary">Retour</a>
    </div>
{{ form_end(form) }}
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}