<style>
    .navbar {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .mb-5 {
        margin-bottom: 5px ! important;
    }
</style>

{{ form_start(form) }}
{% if question.typeQuestion == "Vrai/faux" %}
    {% for p in question.reponse %}
<div  class="row" >
 <div class="col-sm-10" style="background-color:;">
    {{ form_widget(form.reponse_valide, { 'attr':{'class':'form-control'} }) }}
 </div>
    <div class="col-sm-2" style="background-color:;">

    {{ form_widget(form.etatvf, { 'attr':{'class':'form-control'} }) }}
    </div>


    </div>
        {{ form_widget(form.formule, { 'attr':{'hidden':'hidden'} }) }}
    {{ form_widget(form.destext  , { 'attr':{'hidden':'hidden'} }) }}
    {{ form_widget(form.desnumber  , { 'attr':{'hidden':'hidden'} }) }}
    {{ form_widget(form.resultatformule  , { 'attr':{'hidden':'hidden'} }) }}
    {{ form_widget(form.descriptiondate  , { 'attr':{'hidden':'hidden'} }) }}
    {{ form_widget(form.descriptionformule  , { 'attr':{'hidden':'hidden'} }) }}
    {{ form_widget(form.etatlist  , { 'attr':{'hidden':'hidden'} }) }}
    {{ form_widget(form.etatcaseacocher  , { 'attr':{'hidden':'hidden'} }) }}
    {% endfor %}
{% endif %}


                    {% if question.typeQuestion  == "Date" %}
                        {% for p in question.reponse %}

                                {{ form_widget(form.reponse_valide, { 'attr':{'class':'form-control'} }) }}
                                {{ form_widget(form.formule, { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.destext  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.desnumber  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.resultatformule  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.descriptiondate , { 'attr':{'class':'form-control'} }) }}
                                {{ form_widget(form.descriptionformule  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.etatvf  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.etatlist  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.etatcaseacocher  , { 'attr':{'hidden':'hidden'} }) }}
{% endfor %}
                    {% endif %}

                    {% if question.typeQuestion == "Nombre" %}

                        {% for p in question.reponse %}

                                {{ form_widget(form.desnumber , { 'attr':{'class':'form-control'} } ) }}

                                {{ form_widget(form.reponse_valide, { 'attr':{'class':'form-control'} }) }}
                                {{ form_widget(form.formule, { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.destext  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.resultatformule  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.descriptiondate, { 'attr':{'hidden':'hidden'} } ) }}
                                {{ form_widget(form.descriptionformule  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.etatvf  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.etatlist  , { 'attr':{'hidden':'hidden'} }) }}
                                {{ form_widget(form.etatcaseacocher  , { 'attr':{'hidden':'hidden'} }) }}
{% endfor %}
                    {% endif %}



  {% if question.typeQuestion=='Case à cocher' %}

      {% for p in question.reponse %}
          <div class="row">
              <div class="col-sm-10">
                  {{ form_widget(form.desnumber , { 'attr':{'hidden':'hidden'} } ) }}
                  {{ form_widget(form.reponse_valide, { 'attr':{'class':'form-control'} }) }}
                  {{ form_widget(form.formule, { 'attr':{'hidden':'hidden'} }) }}
                  {{ form_widget(form.destext  , { 'attr':{'hidden':'hidden'} }) }}
                  {{ form_widget(form.resultatformule  , { 'attr':{'hidden':'hidden'} }) }}
                  {{ form_widget(form.descriptiondate, { 'attr':{'hidden':'hidden'} } ) }}
                  {{ form_widget(form.descriptionformule  , { 'attr':{'hidden':'hidden'} }) }}
                  {{ form_widget(form.etatvf  , { 'attr':{'hidden':'hidden'} }) }}
                  {{ form_widget(form.etatlist  , { 'attr':{'hidden':'hidden'} }) }}
              </div>
              <div class="col-sm-2">
                  {{ form_widget(form.etatcaseacocher, { 'attr':{'class':'form-control'} }  ) }}
              </div>
          </div>

      {% endfor %}
    {% endif %}

 {% if question.typeQuestion=='Liste déroulante' %}

     {% for p in question.reponse %}
        <div class="row">
            <div class="col-sm-10">
                 {{ form_widget(form.desnumber , { 'attr':{'hidden':'hidden'} } ) }}

                 {{ form_widget(form.reponse_valide, { 'attr':{'class':'form-control'} }) }}
                 {{ form_widget(form.formule, { 'attr':{'hidden':'hidden'} }) }}
                 {{ form_widget(form.destext  , { 'attr':{'hidden':'hidden'} }) }}
                 {{ form_widget(form.resultatformule  , { 'attr':{'hidden':'hidden'} }) }}
                 {{ form_widget(form.descriptiondate, { 'attr':{'hidden':'hidden'} } ) }}
                 {{ form_widget(form.descriptionformule  , { 'attr':{'hidden':'hidden'} }) }}
                 {{ form_widget(form.etatvf  , { 'attr':{'hidden':'hidden'} }) }}
                 {{ form_widget(form.etatcaseacocher , { 'attr':{'hidden':'hidden'} } ) }}
            </div>
            <div class="col-sm-2">
                {{ form_widget(form.etatlist, { 'attr':{'class':'form-control'} } ) }}
            </div>
        </div>
     {% endfor %}
 {% endif %}

 {% if question.typeQuestion=='Calculée' %}

     {% for p in question.reponse %}
         {{ form_widget(form.desnumber , { 'attr':{'hidden':'hidden'} } ) }}

         {{ form_widget(form.reponse_valide, { 'attr':{'hidden':'hidden', 'class' : 'form-control'} }) }}

         {{ form_widget(form.descriptionformule , { 'attr':{'class':'form-control'} }) }}

         {{ form_widget(form.formule, { 'attr':{'class':'form-control'} }) }}

         {{ form_widget(form.resultatformule , { 'attr':{'class':'form-control'} } ) }}

         {{ form_widget(form.destext  , { 'attr':{'hidden':'hidden'} }) }}
         {{ form_widget(form.descriptiondate, { 'attr':{'hidden':'hidden'} } ) }}
         {{ form_widget(form.etatvf  , { 'attr':{'hidden':'hidden'} }) }}
         {{ form_widget(form.etatlist , { 'attr':{'hidden':'hidden'} } ) }}
         {{ form_widget(form.etatcaseacocher , { 'attr':{'hidden':'hidden'} } ) }}
     {% endfor %}
 {% endif %}

<div class="col-sm-4" style="background-color:; padding-left: 91.5%;">
    <br>
    <button style="color: #31b0d5" class="fa fa-pencil"></button>

</div>
{{ form_end(form) }}
