

{{ form_start(form) }}
    {{ form_label(form.text_question) }}
    {{ form_widget(form.text_question) }}
    {{ form_errors(form.text_question) }}

    {{ form_label(form.info_bulle) }}
{{ form_widget(form.info_bulle) }}


 {{ form_label(form.description_question) }}
{{ form_widget(form.description_question) }}



{{ form_widget(form.type_question, { 'attr':{'hidden':'hidden'} }) }}
<br>
<br>

<center><button class="btn btn-info">{{ button_label|default('Modifier') }}</button></center>
{{ form_end(form) }}


