{% extends 'base.html.twig' %}

{% block title %}Parametre index{% endblock %}

{% block body %}
    <h1>Parametre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>form_text</th>
                <th>nb_caractere</th>
                <th>nb_chiffre</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametres %}
            <tr>
                <td>{{ parametre.id }}</td>
                <td>{{ parametre.formText }}</td>
                <td>{{ parametre.nbCaractere }}</td>
                <td>{{ parametre.nbChiffre }}</td>

                <td>
                    <a href="{{ path('parametre_show', {'id': parametre.id}) }}">show</a>
                    <a href="{{ path('parametre_edit', {'id': parametre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('parametre_new') }}">Create new</a>
{% endblock %}
