{% extends 'base.html.twig' %}

{% block title %}Parametre{% endblock %}

{% block body %}
    <h1>Parametre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametre.id }}</td>
            </tr>
            <tr>
                <th>form_text</th>
                <td>{{ parametre.formText }}</td>
            </tr>
            <tr>
                <th>nb_caractere</th>
                <td>{{ parametre.nbCaractere }}</td>
            </tr>
            <tr>
                <th>nb_chiffre</th>
                <td>{{ parametre.nbChiffre }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('parametre_index') }}">back to list</a>

    <a href="{{ path('parametre_edit', {'id': parametre.id}) }}">edit</a>

    {{ include('parametre/_delete_form.html.twig') }}
{% endblock %}
