{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}


{% block main %}


    <style>
        .aa {
            width: 35px;
            height: 4px;
            background-color: #444444;
            margin: 6px 0;
        }
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 30%;
            height: 10px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        input[type=checkbox] {
            position: relative;
            cursor: pointer;
        }
        input[type=checkbox]:before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            border: 2px solid #555555;
            border-radius: 3px;
            background-color: white;
        }
        input[type=checkbox]:checked:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            border: solid black;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 2px;
            left: 6px;
        }
        .form-group label, .form-group legend.col-form-label {
            align-self: self-start;
            color: var(--text-color);
            flex: 30% 0 0;
            font-size: var(--font-size-base);
            font-weight: 400;
            margin: 5px 5px 0 0;
            text-align: right;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="generator" content="EasyAdmin" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  >

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />


    <div class="panel panel-success">
        <div class="card bg-info text-white">
            <div class="card-body"><b><h4><font color="white">QUIZ / Créer quiz  </font></h4></b></div>
        </div>

        <div class="panel-body">


            <div class="row">
                <div class="col">
                    {{ form_start(form, {'method': 'post' }) }}
                    <br>
                    <div class="row">
                        <div class="col-sm-7">


                                        <div class="row">
                                             <div class="col-sm-2">
                                                   {{ form_label(form.titre) }}
                                                 </div>
                                                <div class="col-sm-7">
                                                 {{ form_widget(form.titre) }}
                                                 </div>




                                            </div>

                                        <small style="color: red">
                                            {{ form_errors(form.titre) }}
                                        </small>
                                          <br>



                                        <div class="col-xs-4">
                                            <div>

                                                {{ form_label(form.gras) }}
                                                {{ form_widget(form.gras) }}
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                {{ form_label(form.italique) }}
                                                {{ form_widget(form.italique) }}
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                {{ form_label(form.color_titre) }}
                                                {{ form_widget(form.color_titre) }}
                                        </div>
                                        </div>
                                        <br>
                                        <br>

                                        <div>
                                            <div class="col-xs-2">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <label> {{ form_label(form.Categorie) }} :</label>
                                                    </div>
                                                    &nbsp;
                                                    &nbsp;
                                                        <div class="col-xs-4" style="width: 300px; height: ">
                                                            {{ form_widget(form.Categorie) }}
                                                            {{ form_errors(form.Categorie) }}
                                                        </div>
                                                    </div>


                                            </div>
                                        </div>


                                        <br>
                                        <br>
                                        <div>
                                            <div class="col-xs-2">
                                                 <label>Choisissez un logo :</label>
                                                      <div>
                                                          {{ form_label(form.brochure) }}
                                                          {{ form_widget(form.brochure) }}
                                                          {{ form_errors(form.brochure) }}
                                                       </div>
                                            </div>
                                        </div>
                                          <br>
                                            <div class="col-xs-2">
                                            </div>



                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.description) }}
                                </div>

                            </div>
                            <div class="col-sm-9">
                                {{ form_widget(form.description) }}
                            </div>

                            <small style="color: red">
                                {{ form_errors(form.description) }}
                            </small>

                            <br>
                             <label style="cursor: default; font-size: 20px; color: #444444">Le type Quiz: modes correction et score :</label>

                            {{ form_widget(form.mode_correction) }}

                              <font size="2">

                               {{ form_label(form.mode_correction)|nl2br }}

                              </font>

<br>

                            <div class="col-xs-2">
                              {{ form_label(form.temps_dispo) }}
                                  {{ form_widget(form.temps_dispo) }}
                              </div>

                            <br>



                            <div class="row">
                                <div class="col-xs-2">
                                    {{ form_label(form.nb_question) }}
                                </div>
                                &nbsp;&nbsp;&nbsp;

                                <div class="col-xs-2">

                                                {{ form_widget(form.nb_question) }}
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                                <div class="col-xs-2">
                                                {{ form_label(form.nb_page) }}
                                </div>
                                &nbsp;&nbsp;&nbsp;

                                <div class="col-xs-2">
                                                {{ form_widget(form.nb_page) }}

                                </div>
                            </div>



                                    <br>

                                        <div class="row">
                                            <div class="col-xs-2">
                                                {{ form_label(form.nb_tentative) }}
                                            </div>&nbsp;&nbsp;
                                            <div class="col-xs-9">
                                                    {{ form_widget(form.nb_tentative) }}

                                            </div>
                                        </div>
                                       <br>
                                            <div>


                                                <div class="col-xs-2">

                                                    {{ form_label(form.melange_question) }}
                                                {{ form_widget(form.melange_question) }}


                                                    {{ form_label(form.send_mail) }}
                                                {{ form_widget(form.send_mail) }}

                                                    {{ form_label(form.imprime_pdf) }}
                                                    {{ form_widget(form.imprime_pdf) }}

                                            </div>
                                            </div>



                            <br>
                            <br>





                    </div>

                        <div class="col-sm-5">
                            <div class="">
                                <div class="form-group col">
                                    <div class="col-xs-2">

                                        {{ form_label(form.ouvrire_quiz) }}

                                        {{ form_widget(form.ouvrire_quiz) }}
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="col-xs-2">

                                        {{ form_label(form.fermer_quiz) }}

                                        {{ form_widget(form.fermer_quiz) }}
                                    </div>
                                    <script>
                                        $('#quiz_ouvrire_quiz').datepicker({
                                            uiLibrary: 'bootstrap4',
                                            format: 'dd-mm-yyyy',
                                        });
                                        $('#quiz_fermer_quiz').datepicker({
                                            uiLibrary: 'bootstrap4',
                                            format: 'dd-mm-yyyy',
                                        });
                                    </script>
                                </div>
                                            <div class="form-group col">
                                                <div class="col-xs-2">
                                                    {{ form_label(form.entete) }}
                                                </div>
                                                    {{ form_widget(form.entete) }}
                                                <small style="color: red">
                                                 <font size="2">
                                                     {{ form_errors(form.entete) }}
                                                 </font>
                                                </small>
                                            </div>

                                                <div class="form-group col">
                                                    <div class="col-xs-2">
                                                        {{ form_label(form.pied) }}
                                                    </div>
                                                    {{ form_widget(form.pied) }}
                                                    <small style="color: red">
                                                        <font size="2">
                                                        {{ form_errors(form.pied) }}
                                                        </font>
                                                    </small>
                                                </div>



                                                <div class="form-group col">
                                                    <div class="col-xs-2">
                                                        {{ form_label(form.message_s) }}
                                                    </div>
                                                    {{ form_widget(form.message_s) }}
                                                    <small style="color: red">
                                                        <font size="2">
                                                        {{ form_errors(form.message_s) }}
                                                        </font>
                                                    </small>
                                                </div>

                                                <div class="form-group col">
                                                    <div class="col-xs-2">
                                                        {{ form_label(form.message_e) }}
                                                    </div>
                                                    {{ form_widget(form.message_e) }}
                                                    <small style="color: red">
                                                        <font size="2">
                                                        {{ form_errors(form.message_e) }}
                                                        </font>
                                                    </small>
                                                </div>

                            </div>
                                <div class="form-group col">
                                    <center>
                                        &nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;

                                        <button class="btn btn-success">{{ button_label|default('Confirmer') }}</button>

                                    </center>
                                </div>
                            </div>

                        </div>
                    {{ form_widget(form._token) }}
                </div>


            </div>

        </div>
    </div>

{% endblock %}