{% extends '@EasyAdmin/default/layout.html.twig' %}


{% set _content_title = 'Espace d administartion' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}

    <div class="form-group row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <div>

            <div class="aa"></div>
            <div class="aa"></div>
            <div class="aa"></div>
        </div>
        &nbsp; &nbsp;
    <h1 class="title">{{ _content_title }}</h1>
    </div>
{% endblock %}
{% block main %}
    <style>
        .aa {
            width: 35px;
            height: 4px;
            background-color: #1f6377;
            margin: 6px 0;
        }



    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <div class="panel panel-success">
        <div class="card bg-info text-white">
            <div class="card-body">QUIZ / Créer</div>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-7">
                            {% if page.question|length < page.quiz.nbQuestion %}
                            {{ form_start(formq, {'method': 'post' }) }}

                            <div id="question"  style="border-radius: 10px;">
                             <table  >
                                <tr>
                                    <td>
                                        {% if page.question|length < page.quiz.nbQuestion %}
                                            <i>Question n° {{ (page.question|length)+1 }} : </i>
                                        {% else %}
                                            <i>Page n°{{ pos }} est épuisé</i>
                                        {% endif %}
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                                    </td>
                                    <td colspan="">
                                        <i> {{ page.question|length }} / {{ quiz.nbQuestion }} questions dans la page {{ pos }}</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <div class="form-group row">

                                            <div class="col-xs-2">
                                                &nbsp;        <label>Importer un question d'un autre Quiz: </label>
                                            </div>
                                            <div class="col-xs-3">
                                                <select id="my_select" name="" class="form-control" >
                                                    <option value="Open sans conseille" selected="selected">Parcourire les Quiz existants</option>
                                                    <option value="volvo">Volvo</option>
                                                    <option value="saab">Saab</option>
                                                    <option value="opel">Opel</option>
                                                    <option value="audi">Audi</option>
                                                </select>

                                            </div> &nbsp; &nbsp;
                                            <i class="fa fa-repeat" id="reset"></i>

                                            <script>
                                                $("#reset").on("click", function () {
                                                    $('#my_select option').prop('selected', function() {
                                                        return this.defaultSelected;
                                                    });
                                                });
                                            </script>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group row">
                                            <div class="col-xs-2">

                                                {{ form_label(formq.text_question) }}
                                                </div>
                                                {{ form_widget(formq.text_question) }}
                                                <small style="color: red">
                                                    <font size="2">
                                                        {{ form_errors(formq.text_question) }}
                                                    </font>
                                                </small>
                                            </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group row">
                                            <div class="col-xs-2">
                                                {{ form_label(formq.type_question) }}
                                            </div>
                                            <div class="col-xs-2">
                                                {{ form_widget(formq.type_question) }}
                                                <small style="color: red">
                                                    <font size="2">
                                                {{ form_errors(formq.type_question) }}
                                                    </font>
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>


                                    <td colspan="2">
                                        <div class="form-group row">
                                            <div class="col-xs-2">
                                                {{ form_label(formq.description_question) }}
                                            </div>
                                            <div class="col-xs-2">
                                                {{ form_widget(formq.description_question) }}
                                                {{ form_errors(formq.description_question) }}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group row">
                                            <div class="col-xs-2">
                                                {{ form_label(formq.info_bulle) }}
                                            </div>
                                            <div class="col-xs-2">
                                                {{ form_widget(formq.info_bulle) }}
                                                {{ form_errors(formq.info_bulle) }}
                                            </div>
                                            <div class="col-xs-2">
                                                &nbsp;     <font size="5"> <i class="fa fa-question-circle"></i></font>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                       <tr>
                                    <td><br>
                                        &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp;


                    <button class="btn btn-info">Ajouter à la page</button>

                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                    </td>
                                    <td>
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;

                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;

                                        <button type="button" style="width: 220px" class="btn btn-success">Terminer la création de Quiz</button>
                                    </td>
                                </tr>
                            </table>
                                </div>
                            {{ form_end(formq) }}
                            {% else %}
                                <div style="border-radius: 10px;"><br><br><br>
                                    <div style="background-color: 	#FF6347">
                                        <br>Vous avez atteint le nombre maximum des question dans cette page !
                                    </div>
                                    <br>
                                    <div class="text-center">
                                        {% if pos == 1 %}
                                            <a type="button"  class="btn btn-primary disabled"><i class="fa fa-chevron-circle-left"></i> Précédent</a>
                                        {% else %}
                                            <a href="{{ path('precedentPage', {'quiz':quiz.id ,'page': page.id}) }}" type="button"  class="btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Précédent</a>
                                        {% endif %}
                                        {% if pos == quiz.page|length %}
                                            <a type="button" class="btn btn-primary disabled">Suivant <i class="fa fa-chevron-circle-right"></i></a>
                                        {% else %}
                                            <a href="{{ path('creatNextPage', {'quiz':quiz.id, 'page': page.id }) }}" type="button" class="btn btn-primary">Suivant <i class="fa fa-chevron-circle-right"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                        <div class="row" style=" width: 629px;border-left: 1.5px solid ;
                             color: #3a87ad;
                                border-right: 1.5px solid ;
                                border-bottom: 1.5px solid;
                             height: 625px; background-color:{{ page.bgColor }};
                                border-radius: 3px;
                                overflow: scroll;
                                ">
                        &nbsp;&nbsp;
                            <div class="col-sm-4"><font size="50">
                                    <i class="fa fa-file-image-o"></i></font>
                            </div>
                            <div class="col-sm-6"><br><b>
                                    <font color="{{ quiz.colorTitre }}" >{{ quiz.titre }}</font></b><br>
                            </div>
                            <div class="col-sm-12" >
                                <div class="list-group">
                                    <label>
                                      <font color="black">
                                         <i>
                                             {{ quiz.entete }}
                                         </i>


                                      </font>
                                    </label>
                                    <label>
                                     <font color="{{ page.colorTitrePage }}" >
                                       <b>
                                           {{ page.titrePage }}
                                       </b>
                                     </font>
                                    </label>

                                </div>
                            </div>



                                    {% for j in listquestion %}
                                            <div class="col-sm-11"  >
                                            <div class="list-group">

                                                <button  type="button" style="background-color: #c0e5d7" class="list-group-item list-group-item-action ">
                                                  <b>
                                                    <a data-target="#myModalDelete" data-toggle="modal">
                                                        Question n° {{ j }}
                                                    </a></b><br>
                                                        {{ j.textQuestion }}<br>


                                                    {% if j.typeQuestion=='Vrai/faux' %}
                                                        <label>Votre reponse :</label>
                                                        <br>
                                                        <label>Choix 1</label>  <input type="checkbox" value="1"><br>
                                                        <label>Choix 2</label>  <input type="checkbox" value="2"><br>
                                                        {{ j.descriptionQuestion }}
                                                        {% else %}
                                                        {% if j.typeQuestion=='Réponse courte' %}
                                                            <label>Votre reponse :</label>
                                                            <br>
                                                            <input type="text" class="form-control">
                                                            {{ j.descriptionQuestion }}
                                                        {% endif %}
                                                    {% endif %}<br>
                                                    {% if j.infoBulle != '' %}

                                                        <div class="container">
                                                            <a href="#" data-toggle="popover" title="INFO !" data-content="{{ j.infoBulle }}"><i style="color:#4bb1cf;" class="fa fa-info-circle"></i></a>
                                                        </div>
                                                    {% endif %}

                                                </button><br>
                                                <div class="modal fade" id="editequestion-{{ j.id }}" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title"></h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                            </div>
                                                            <div class="modal-body">
                                                                {{ render(controller(
                                                                    'App\\Controller\\QuestionController::edit',
                                                                    { 'id': j.id }
                                                                )) }}
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="modal fade" id="removequestion-{{ j.id }}" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title"></h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{ render(controller(
                                                                    'App\\Controller\\QuestionController::delete',
                                                                    { 'id': j.id }
                                                                )) }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                    </div>
                                            </div>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="#" data-target="#removequestion-{{ j.id }}" data-toggle="modal"  class="fa fa-trash-o" ></a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#" data-target="#editequestion-{{ j.id }}" data-toggle="modal" class="fa fa-pencil"></a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        {% if page.question|length < page.quiz.nbQuestion %}
                                                            <a class="fa fa-file-o" href="{{ path('question_dep', {'question': j.id} )}}"></a>
                                                        {% else %}
                                                            <i style="color: grey" class="fa fa-file-o" href="{{ path('question_dep', {'question': j.id} )}}"></i>
                                                        {% endif %}
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        {% if j.actif == false  %}
                                                            <a class="fa fa-circle" href="{{ path('actif', {'question': j.id} )}}" style="color:grey"  ></a>
                                                        {% else %}

                                                                <a class="fa fa-circle" href="{{ path('actif', {'question': j.id} )}}"  style="color: #18835a"></a>

                                                        {% endif %}
                                                     </td>
                                                </tr>
                                            </table>

                                        </div>

                                    {% endfor %}


                            {% if quiz.page|length == page.quiz.nbPage  %}
                            <div class="col-sm-12"   >
                                <div class="list-group">
                                    <label>
                                        <font color="black">

                                         <i>
                                             {{ quiz.pied }}
                                         </i>
                                        </font>
                                    </label>
                                </div>
                            </div>
                        {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Page de quiz "{{ quiz.titre }}"</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            {{ include('page/edit.html.twig') }}
                                        </div>

                                    </div>

                                </div>

                            </div>

                        {% if page.question|length == 0 %}

                            <label>
                                Page vide !
                            </label>
                            {% endif %}



                        </div>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="container" style=" width: 632px; height:52px; border-left: 1.5px solid ;
                             color: #3a87ad; background-color: #9acfea ; border-radius: 5px; " >
                            <!-- Trigger the modal with a button -->
                            <div class="form-group row">
                                <div class="col-xs-2">
                                    <font size="3">

                                        {% if pos == 1 %}
                                        <a style="color: grey" class="fa fa-chevron-circle-left"></a>
                                        {% else %}
                                        <a href="{{ path('precedentPage', {'quiz':quiz.id ,'page': page.id}) }}" class="fa fa-chevron-circle-left"></a>
                                        {% endif %}



                                        {{ pos }} / {{ quiz.nbPage}} page


                                        {% if pos < quiz.page|length %}
                                        <a class="fa fa-chevron-circle-right" href="{{ path('creatNextPage', {'quiz':quiz.id, 'page': page.id}) }}"></a>
                                        {% else %}
                                        <a class="fa fa-chevron-circle-right" style="color: gray"></a>
                                        {% endif %}

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" data-target="#myModal" data-toggle="modal" class="fa fa-pencil"></a>
                                        &nbsp;
                                        <a href="#" class="fa fa-plus-square-o" ></a>
                                        &nbsp;
                                        <a href="#"  class="fa fa-trash-o" data-target="#myModalDelete" data-toggle="modal"></a>
                                    </font>
                                </div>
                            </div>

                        </div>
                </div>





            </div>

        </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
