{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}

{% block main %}
    <style>

        div.sticky {
            position: sticky;
            bottom: 0;
            padding: 5px;
            background-color: #abdde5;
        }
        input[type=text]:focus {
            background-color: lightblue;
        }

        input[type=number]:focus {
            background-color: #7aba7b;
        }
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 220%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;

        }

        #myUL li a {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;

        }

        #myUL li a:hover:not(.header) {
            background-color: #eee;

        }

    </style>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



    <div  class="top-container">
        <div class="card bg-info text-white">
            <div class="card-body"><h2><font color="white"  > QUIZ / Créer quiz</font> </h2></div>
        </div>
        <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-7">

                            {% if page.question|length < page.quiz.nbQuestion %}
                            {{ form_start(formq, {'method': 'post' }) }}

<script>
    function myFunctiona() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function myFunctionaa(p1, p2, p3) {
        var url = '{{ path('infoPage', {'quiz': 'quiz_id' , 'quizactuel': 'quiz_actuel' , 'pageactuel': 'page_actuel'}) }}';
        url = url.replace("quiz_id", p1);
        url = url.replace("quiz_actuel", p2);
        url = url.replace("page_actuel", p3);

        $.ajax({
            url: url,
            method: 'POST',
            success: function(result){
                $("#importe").html(result);
            }
        });

    }




    function importe() {
        document.getElementById("importe").innerHTML = '<div class="row"><div class="col-sm-4" ><h3>Selectionner un quiz</h3></div><div style="padding-left:58%" class="col-sm-4" >' +
            '<h3><a style="padding:%" href="{{ path('creerquiz', {'id':quiz.id , 'page':page.id}) }}"><i class="fa fa-reply"></i></a></h3></div></div><div class="form-group row"> <div class="col-xs-1" >' +
            '<input type="text" id="myInput" onkeyup="myFunctiona()" placeholder="Search for names.." title="Type in a name">' +
            '                                <div style=" width:373px; ">' +
            '                                    <ul id="myUL">' +
            '                                        {% for q in listquiz %}' +
            '                                            {% if q.user == user and q != quiz %}' +
            '                                                <li><a style="width: 220%" href="#" onclick="myFunctionaa( {{ q.id }}, {{ quiz.id }}, {{ page.id }} )" >{{ q.titre }}</a></li>' +
            '                                            {% endif %}' +
            '                                        {% endfor %}' +
            '                                    </ul>' +
            '                                </div>' +
            '</div></div>';
    }

</script>
                                <div id="question"  style="border-radius: 10px ;">


<br>



<div  id="importe">
    <button href="#"  onclick="importe()" style="width: 100%" class="btn btn-outline-info">Importer question d'un autre quiz</button>
<br>
<br>
<br>
    <table>
                                <tr>
                                    <td>
                                        {% if page.question|length < page.quiz.nbQuestion %}Question n° {{ (page.question|length)+1 }} :
                                        {% else %}
                                            Page n°{{ pos }} est épuisé
                                        {% endif %}
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp;

                                    </td>
                                    <td colspan="">
                                    {% if quiz.nbQuestion == 1000 %}
                                        {{ page.question|length }} questions dans la page  {{ pos }}
                                        {% else %}
                                        {{ page.question|length }} / {{ quiz.nbQuestion }} questions dans la page {{ pos }}
                                        {% endif %}
                                    </td>
                                </tr>
                                    <tr>
                                    <td>
                                        <div class="form-group row">
                                            <div class="col-xs-2">

                                                {{ form_label(formq.text_question) }}
                                                </div>
                                                {{ form_widget(formq.text_question) }}
                                                <small style="color: red">
                                                    <font size="2">
                                                        {{ form_errors(formq.text_question) }}
                                                    </font>
                                                </small>
                                            </div>
                                    </td>
                                </tr>
        <tr>
            <td>
                <div class="form-group row">
                    <div class="col-xs-2">

                    {{ form_label(formq.type_question) }}
                    </div>
                    <div class="col-sm-7">
                        {{ form_widget(formq.type_question, { 'id': 'question_type' }) }}
                        <small style="color: red">
                            <font size="2">
                                {{ form_errors(formq.type_question) }}
                            </font>
                        </small>
                    </div>

                </div>
            </td>
        </tr>
                             </table>



                                 <script>

                                     if($('#question_type').val() == ''){
                                         $('#question_type').on('change', function() {
                                             var x = document.getElementById("question_type").value;

                                             var i=0;

                                             if(x == 'Vrai/faux') {
                                                     $('#showType').html(
                                                         '<div id="demo" style="background-color: ">' +
                                                         '<div style="background-color: "><label>Choix réponses de votre question</label></div>' +

                                                         '<div id="hide_0"  class="row">' +
                                                         '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Réponse 1</font></label></div>' +
                                                         '    <div class="col-sm-6" style="background-color:;"><input name="vf[]"  type="text" class="form-control"></textarea> </div>' +
                                                         '    <div class="col-sm-3" style="background-color:;"><select class="form-control"  name="etat[]"><option value="1">Vrai</option><option value="0">Faux</option></select></div>' +
                                                         '    <div style="background-color:;"><font size="5" color="red"><a><i  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                                         ' <br><br>' +
                                                         ' </div>' +
                                                         '<div id="showPlus"> </div>' +

                                                         '<font size="6" color=#228b22><a><i  onclick="fonctiontypevraioufaux()" class="fa fa-plus-square"></i></a></font>' +
                                                         '<label><font size="2"> &nbsp &nbsp<u>Ajouter un élément de réponse</u></font></label>' +
                                                         '</div>');
                                                 }
                                             else {
                                                 if (x=='Case à cocher') {
                                                     $('#showType').html('<div id="demo" style="background-color: ">' +
                                                         '<div  style="background-color: "><label>Choix réponses de votre question</label></div>' +
                                                         '<div id="hide_0" class="row">' +
                                                         '<div class="col-sm-2" style="background-color:;"><label><font size="3"> Répanse 1</font></label></div>' +
                                                         '<div class="col-sm-6"><input name="case[]"  type="text" class="form-control"></div>'+
                                                         '<div style="width: 150px" class="col-sm-3">' +
                                                         '<select class="form-control" name="etatcase[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select></div>' +
                                                         '<font size="5" color=red> <a><i  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font>' +
                                                         '<br> <br></div>' +
                                                         '<div id="showPlus"> </div>' +

                                                         '<font size="6" color=#228b22><a><i  onclick="fonctioncaseacocher()" class="fa fa-plus-square"></i></a></font>' +
                                                         '<label><font size="2"> &nbsp &nbsp  <u>Ajouter un élément de réponse</u></font></label>' +

                                                         '<div id="divPlus"></div>' +
                                                         '</div>');
                                                 }else{
                                                     if (x=='Liste déroulante') {
                                                             $('#showType').html('<div id="demo" style="background-color: ">' +
                                                                 '<div style="background-color: "><label>Choix réponses de votre question</label></div>' +
                                                                 '<div id="hide_0"  class="row" >' +
                                                                 '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Répanse 1</font></label></div>' +
                                                                 '    <div class="col-sm-6" style="background-color:;"><input name="list[]"  type="text" class="form-control"></div>' +
                                                                 '    <div class="col-sm-3" style="background-color:;">' +
                                                                 '<select class="form-control" name="etatlist[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select></div>' +
                                                                 '    <font size="5" color=red><a><i  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font>' +
                                                                 ' <br><br>' +
                                                                 ' </div>'+
                                                                 '<div id="showPlus"> </div>' +

                                                                 '<font size="6" color=#228b22><a><i onclick="fonctionliste()" class="fa fa-plus-square"></i></a></font>' +
                                                                 '<label><font size="2"> &nbsp &nbsp  <u>Ajouter un élément de réponse</u></font></label>' +

                                                                 '<div id="divPlus"></div>' +
                                                                 '</div>');
                                                         }else {
                                                             if (x=='Calculée') {
                                                                 $('#showType').html('<div id="demo" style="background-color: ">' +
                                                                     '<div style="background-color: "><label>Choix réponses de votre question</label></div>' +

                                                                     '<div  style="background-color: "><label>Question calculée</label>' +


                                                                     '<div id="hide_0" >' +
                                                                     '<div  class="row" >' +

                                                                     '    <div class="col-sm-4" style="background-color:;"><label><font size="3"> Description formule 1 </font></label></div>' +
                                                                     '    <div class="col-sm-4" style="background-color:;"><label><font size="3"> Formule </font></label></div>' +
                                                                     '    <div class="col-sm-3" style="background-color:;"><label><font size="3"> Resultat</font></label></div>' +

                                                                        '</div>'+


                                                                     '<div  class="row" >' +

                                                                     '    <div class="col-sm-4" style="background-color:;"><input  name="descriptionF[]" type="text" class="form-control"></div>' +
                                                                     '    <div class="col-sm-4" style="background-color:;"><input  name="formule[]" type="text" class="form-control"></div>' +
                                                                     '    <div class="col-sm-3" style="background-color:;"><input  name="resultatF[]" type="text" class="form-control"></div>' +
                                                                     '    <div style="background-color:;"><font size="5" color=red><a><i  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +

                                                                     '</div>'+

                                                                     ' <br>' +
                                                                     ' </div>'+

                                                                     '<div id="showPlus"> </div>' +

                                                                     '<font size="6" color=#228b22><a><i" onclick="fonctioncalcule()" class="fa fa-plus-square"></i></a></font>' +
                                                                     '<label><font size="2">  &nbsp &nbsp  <u>Ajouter un élément de réponse</u></font></label>' +

                                                                     '<div id="divPlus"></div>' +
                                                                     '</div></div>');

                                                             }else {
                                                                 if (x=='Nombre') {
                                                                     $('#showType').html('<div id="demo" style="background-color: ">' +

                                                                         '<div style="background-color: "><label>Choix réponses de votre question</label></div>' +



                                                                         '<div id="hide_0" >' +
                                                                         '<div  class="row" >' +
                                                                         '    <div class="col-sm-7" style="background-color:;"><label><font size="3"> Description de nombre 1</font></label></div>' +
                                                                         ' <div class="col-sm-3" style="background-color:;"><label><font size="3"> Réponse correcte </font></label></div>' +

                                                                         '</div>'+


                                                                         '<div  class="row" >' +
                                                                         '    <div class="col-sm-7" style="background-color:;"><input  name="desnum[]" type="text" class="form-control"></div>' +
                                                                         ' <div class="col-sm-3" style="background-color:;"><input  name="number[]" type="number" class="form-control"></div>' +
                                                                         ' <div class="col-sm-" style="background-color:;"><font size="5" color=red><a><i  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +

                                                                         '</div><br>'+

                                                                         ' </div>'+

                                                                         '<div id="showPlus"> </div>' +

                                                                         '<font size="6" color=#228b22><a><i  onclick="fonctionnumber()" class="fa fa-plus-square"></i></a></font>' +
                                                                         '<label><font size="2">  &nbsp &nbsp  <u>Ajouter un élément de réponse</u></font></label>' +

                                                                         '<div id="divPlus"></div>' +
                                                                         '</div>'+
                                                                            '</div> ');

                                                                 }
                                                                 else {
                                                                     if (x == 'Date') {
                                                                         $('#showType').html('<div id="demo" style="background-color: ">' +
                                                                             '<div style="background-color: "><label>Choix réponses de votre question</label></div>' +

                                                                             ' <div id="hide_0" class="row"><br><br>' +
                                                                             '    <div class="col-sm-3" style="background-color:;"><label><font size="3">Description date 1</font></label></div>' +
                                                                             '    <div class="col-sm-5" style="background-color:;"><input  type="text" name="desc[]"  class="form-control"> </div>' +
                                                                             '    <div class="col-sm-3" style="background-color:;"><input name="date[]" type="date" class="form-control"></i></a></font></div>' +
                                                                             '    <div style="background-color:;"><font size="5" color=red><a><i   onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                                                             ' <br><br> </div>'+


                                                                             '</div>' +
                                                                             '<div id="showPlus"> </div>' +

                                                                             '<font size="6" color=#228b22><a><i  onclick="fonctiondate()" class="fa fa-plus-square"></i></a></font>' +
                                                                             '<label><font size="2">  &nbsp &nbsp  <u>Ajouter un élément de réponse</u></font></label>' +

                                                                             '<div id="divPlus"></div>' +
                                                                             '</div></div>');
                                                                     }
                                                                 }
                                                             }


                                                         }

                                                     }
                                                 }



                                             });
                                     }else{
                                         $('#showType').html('');
                                     }


                                     function fonction()
                                     {
                                        var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<div id="hide_'+nbr+'" class="row"><br><br>' +
                                             '    <div class="col-sm-3" style="background-color:;"><label><font size="3"> Réponse correcte :</font></label></div>' +
                                             '    <div class="col-sm-8" style="background-color:;"><input name="test[]" type="text" class="form-control"></div>' +
                                             '    <div class="col-sm-" style="background-color:;"><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                                             '  </div>' ;
                                         $("#showPlus").append(innerHTML);

                                     }

                                     function fonctiondate()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         totale = nbr +1;

                                         var innerHTML =
                                             ' <div id="hide_'+nbr+'" class="row">' +
                                             '' +
                                             '    <div class="col-sm-3" style="background-color:;"><label><font size="3"> Description date '+totale+'</font></label></div>' +
                                             '    <div class="col-sm-5" style="background-color:;"><input type="text" name="desc[]"  class="form-control"></div>' +
                                             '    <div class="col-sm-3" style="background-color:;"><input name="date[]" type="date" class="form-control"></i></a></font></div>' +
                                             '    <div style="background-color:;"><font size="5" color=red><a><i   onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                                             ' <br><br> </div>' ;
                                         $("#showPlus").append(innerHTML);
                                     }

                                     function fonctionnumber()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         totale = nbr +1;

                                         var innerHTML ='<div id="hide_'+nbr+'" >' +
                                             '<div  class="row" >' +
                                             ' <div class="col-sm-7" style="background-color:;"><label><font size="3"> Description des nombre '+totale+'</font></label></div>' +
                                             ' <div class="col-sm-3" style="background-color:;"><label><font size="3"> Réponse correcte </font></label></div>' +
                                             '</div>'+


                                             '<div  class="row" >' +
                                             '    <div class="col-sm-7" style="background-color:;"><input  name="desnum[]" type="text" class="form-control"></div>' +
                                             ' <div class="col-sm-3" style="background-color:;"><input  name="number[]" type="number" class="form-control"></div>' +
                                             ' <div class="col-sm-" style="background-color:;"><font size="5" color=red><a><i onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +

                                             '</div><br>'+

                                             '</div>' ;
                                         $("#showPlus").append(innerHTML);
                                     }



                                     function fonctiontypevraioufaux()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;

                                         totale = nbr +1;

                                         var innerHTML =

                                             '<div id="hide_'+nbr+'"  class="row">' +
                                             '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Réponse '+totale+'</font></label></div>' +
                                             '    <div class="col-sm-6" style="background-color:;"><input name="vf[]"  type="text" class="form-control"></textarea> </div>' +
                                             '    <div class="col-sm-3" style="background-color:;"><select class="form-control"  name="etat[]"><option value="1">Vrai</option><option value="0">Faux</option></select></div>' +
                                             '    <div style="background-color:;"><font size="5" color="red"><a><i  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                                             ' <br><br>' +
                                             ' </div>' ;
                                         ;
                                         $("#showPlus").append(innerHTML);
                                     }


                                     function fonctioncaseacocher()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         totale = nbr +1;

                                         var innerHTML =
                                             '<div id="hide_'+nbr+'" class="row">' +
                                             '<div class="col-sm-2"><label><font size="3"> Répanse '+totale+'</font></label></div>' +
                                             '<div class="col-sm-6"><input name="case[]"  type="text" class="form-control"></div>'+
                                             '<div  class="col-sm-3">' +
                                             '<select class="form-control" name="etatcase[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select></div>' +
                                             ' <div style="background-color:;"><font size="5" color=red> <a><i  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                                             '<br><br>' +
                                             '</div>' ;
                                         $("#showPlus").append(innerHTML);
                                     }

                                     function fonctionliste()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         totale = nbr +1;

                                         var innerHTML =
                                             '<div id="hide_'+nbr+'"  class="row" >' +

                                             '    <div class="col-sm-2"><label><font size="3"> Réponse '+totale+'</font></label></div>' +
                                             '    <div class="col-sm-6" ><input name="list[]"  type="text" class="form-control"></div>' +
                                             '    <div class="col-sm-3" >' +
                                             '<select class="form-control" name="etatlist[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select></div>' +
                                             '    <div><font size="5" color="red"><a> <i  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a><font></div>' +
                                             '<br><br>' +
                                             ' </div>' ;

                                         $("#showPlus").append(innerHTML);
                                     }


                                     function fonctioncalcule()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         totale = nbr +1;

                                         var innerHTML =

                                             '<div id="hide_'+nbr+'">' +
                                             '<div  class="row" >' +

                                             '    <div class="col-sm-4" style="background-color:;"><label><font size="3"> Description de formule '+totale+'</font></label></div>' +
                                             '    <div class="col-sm-4" style="background-color:;"><label><font size="3"> Formule </font></label></div>' +
                                             '    <div class="col-sm-3" style="background-color:;"><label><font size="3"> Résultat </font></label></div>' +

                                             '</div>'+

                                             '<div  class="row" >' +

                                             '    <div class="col-sm-4" style="background-color:;"><input  name="descriptionF[]" type="text" class="form-control"></div>' +
                                             '    <div class="col-sm-4" style="background-color:;"><input  name="formule[]" type="text" class="form-control"></div>' +
                                             '    <div class="col-sm-3" style="background-color:;"><input  name="resultatF[]" type="text" class="form-control"></div>' +
                                             '    <div style="background-color:;"><font size="5" color=red><a><i  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +

                                             '</div>'+

                                             ' <br>' +
                                             ' </div>'

                                             $("#showPlus").append(innerHTML);
                                     }




                                     function fonctionhide(nbr) {
                                         $('div#hide_'+nbr).remove();

                                     }

                                 </script>

                                         <div id="showType"></div>

    <tr>
        <td>
            <div class="form-group row">
                <div class="col-xs-2">

                                            <div class="col-xs-7">
                                                {{ form_label(formq.description_question) }}
                                            </div>
                </div>
                                            <div style="width: 650px">
                                                {{ form_widget(formq.description_question) }}
                                                {{ form_errors(formq.description_question) }}
                                            </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group row">

                    <div class="col-xs-2">
                                <br><i class="fa fa-question-circle"></i>
                                {{ form_label(formq.info_bulle) }}
                    </div>

                    <div class="col-xs-4">
                        <div class="col-sm-12" style="background-color:; width: 900px"> {{ form_widget(formq.info_bulle) }}</div>
                    </div>
            </div>
        </td>
    </tr>
  <center>
      <div  class="row" >
        <div class="col-sm-6">  <button class="btn btn-info" >Ajouter à la page</button></div>

        <div class="col-sm-4">  <a href="{{ path('terminerQuiz', {'quiz':quiz.id }) }}" style="width: 240px" class="btn btn-info">Terminer la création de Quiz</a></div>
    </div>
  </center>
    {{ form_end(formq) }}
</div>

   </div>
                            {% else %}
                                <div style="border-radius: 10px;"><br><br><br>
                                    <div style="background-color: 	#b9def0">
                                       <center>
                                           <br>Vous avez atteint le nombre maximum des question dans cette page !


                                       </center>
                                        <br>
                                    </div>

                                    <br>
                                    <div class="text-center">
                                        {% if pos == 1 %}
                                            <a type="button"  class="btn btn-primary disabled"><i class="fa fa-chevron-circle-left"></i> Précédent</a>
                                        {% else %}
                                            <a href="{{ path('precedentPage', {'quiz':quiz.id ,'page': page.id}) }}" type="button"  class="btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Précédent</a>
                                        {% endif %}
                                        {% if pos < quiz.nbPage %}
                                            <a href="{{ path('creatNextPage', {'quiz':quiz.id, 'page': page.id }) }}" type="button" class="btn btn-primary">Suivant <i class="fa fa-chevron-circle-right"></i></a>
                                        {% else %}
                                            <a type="button" class="btn btn-primary disabled">Suivant <i class="fa fa-chevron-circle-right"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <br>
                                <br>
                              <center>
                                  <a href="{{ path('terminerQuiz', {'quiz':quiz.id }) }}" style="width: 240px" class="btn btn-success">Terminer la création de Quiz</a>
                              </center>

                            {% endif %}

                        </div>

                        <div class="col-sm-5" style=" width: 690px;border-left: 1.5px solid ;
                             color: #3a87ad;
                                border-right: 1.5px solid ;
                                border-bottom: 1.5px solid;
                             height: 699px; background-color:{{ page.bgColor }};
                                border-radius: 3px;
                                overflow: scroll;
                                ">

                               <div class="row">
                                   <div class="col-sm-2">
                                       {% if quiz.brochure != "null" %}
                                               <img width="70" height="70" src="{{ asset('uploads/brochures/' ~ quiz.brochure) }}">
                                       {% endif %}
                                   </div>
                                   <div class="col-sm-">
                                       {% if quiz.gras == 1 and quiz.italique==1 %}
                                           <center>
                                               <b>
                                                   <i>

                                                       <font color="{{ quiz.colorTitre }}" >
                                                           <h2>     {{ quiz.titre }}</h2></font>
                                                   </i>
                                               </b>
                                           </center>

                                       {% else %}
                                           {% if  quiz.gras == 1 and quiz.italique==0 %}
                                               <center>
                                                   <b>
                                                       <font color="{{ quiz.colorTitre }}" >
                                                           <h2>     {{ quiz.titre }}</h2></font>

                                                   </b>
                                               </center>
                                           {% else %}
                                               {% if  quiz.gras == 0 and quiz.italique==1 %}
                                                   <center>
                                                       <i>
                                                           <font color="{{ quiz.colorTitre }}" >
                                                               <h2>     {{ quiz.titre }}</h2></font>

                                                       </i>
                                                   </center>
                                               {% else %}
                                                   {% if  quiz.gras == 0 and quiz.italique== 0 %}
                                                       <center>
                                                           <font color="{{ quiz.colorTitre }}" >
                                                               <h2>     {{ quiz.titre }}</h2>    </font>
                                                       </center>
                                                   {% endif %}
                                               {% endif %}
                                           {% endif %}
                                       {% endif %}

                                   </div>
                               </div>

                                <div class="col-sm-6" >
                                    <div class="list-group" style="width: 630px">
                                        {% if pos == 1 %}
                                            <label>
                                                <br>
                                                {{ quiz.description }}
<br>
                                                <font color="black">

                                                    {{ quiz.entete }}

                                                </font>
                                            </label>
                                        {% endif %}
                                        <label>
                                            <font color="{{ page.colorTitrePage }}" >
                                                <b>
                                                   {% if  page.titrePage != "Vide" %}
                                                    {{ page.titrePage }}
                                                    {% endif %}
                                                </b>
                                            </font>
                                        </label>

                                    </div>
                                </div>
                            <div style="border-bottom: 1px solid grey;">

                            </div><br>

                                {% if page.question|length == 0 %}
                                    <center>
                                       <h3>
                                           <label>
                                               <br>
                                               <font color="#1e90ff" >Page vide !</font>
                                           </label>
                                       </h3>
                                    </center>
                                {% else %}
                                    {% for key, j in listquestion %}

                                        <div class="col-sm-12"  >
                                            <div class="list-group">

                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <div  style="background-color: #e1edf7" class="list-group-item">
                                                            <font color="black">

                                                             <b>
                                                                <a data-target="#myModalDelete" data-toggle="modal">
                                                                    Question n°  {{ key + 1 }}
                                                                </a>
                                                            </b>

                                                            <br>

                                                            {% if j.typeQuestion =='Date' %}
                                                                {{ j.textQuestion }}
                                                                <br>
                                                                {{ j.descriptionQuestion }}
                                                                <br>
                                                                {% for p in listreponse %}
                                                                    {% if p.question == j %}
                                                                        <label>{{ p.descriptiondate }}</label>
                                                                        <input type="date" class="form-control">

                                                                    {% endif %}
                                                                {% endfor %}

                                                            {% endif %}

                                                            {% if j.typeQuestion =='Nombre' %}
                                                                {{ j.textQuestion }}
                                                                <br>
                                                                {{ j.descriptionQuestion }}
                                                                <br>
                                                                {% for p in listreponse %}
                                                                    {% if p.question == j %}
                                                                        <label>{{ p.desnumber }}</label>
                                                                        <input type="number" class="form-control">

                                                                    {% endif %}
                                                                {% endfor %}

                                                            {% endif %}


                                                            {% if j.typeQuestion =='Vrai/faux' %}
                                                                <label>
                                                                    <b>Répondre par vrai ou faux</b>
                                                                </label>
                                                                <br>
                                                                {{ j.textQuestion }}
                                                                <br>
                                                                {{ j.descriptionQuestion }}

                                                                {% for p in listreponse %}
                                                                    {% if p.question == j %}

                                                                        <div  class="row" >

                                                                            <div class="col-sm-8" style="background-color:;">
                                                                                <li>{{ p.reponseValide }}</li>
                                                                            </div>
                                                                            <div class="col-sm-4" style="background-color:;">

                                                                                <select style="width: 150px;" class="form-control">
                                                                                    <option>
                                                                                        Vrai
                                                                                    </option>
                                                                                    <option>
                                                                                        Faux
                                                                                    </option>
                                                                                </select>
                                                                            </div>

                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}

                                                            {% endif %}


                                                            {% if j.typeQuestion =='Liste déroulante' %}
                                                                {{ j.textQuestion }}
                                                                <br>

                                                                {{ j.descriptionQuestion }}

                                                                <table>
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <div style="width: 100px;">
                                                                                <select style="width: 350px;" class="form-control">
                                                                                    {% for i in listreponse %}
                                                                                        {% if i.question == j %}

                                                                                            <option>
                                                                                                {{ i.reponseValide }}
                                                                                            </option>

                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                            {% endif %}



                                                            {% if j.typeQuestion == 'Case à cocher' %}
                                                                {{ j.textQuestion }}
                                                                <br>
                                                                {{ j.descriptionQuestion }}

                                                                {% for p in listreponse %}
                                                                    {% if p.question == j %}
                                                                        <div  class="row" >

                                                                            <div class="col-sm-8" style="background-color:;">
                                                                                <li>{{ p.reponseValide }}</li>
                                                                            </div>
                                                                            <div class="col-sm-4" style="background-color:;">
                                                                                <input type="checkbox" >

                                                                            </div>
                                                                        </div>


                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if j.typeQuestion =='Calculée' %}
                                                                {{ j.textQuestion }}
                                                                <br>
                                                                {{ j.descriptionQuestion }}

                                                                {% for p in listreponse %}
                                                                    {% if p.question == j %}
                                                                        <table>
                                                                            <tr>
                                                                                <td colspan="3">
                                                                                    {{ p.descriptionformule }}
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    Formule:
                                                                                </td>
                                                                                <td colspan="3">
                                                                                    <input  style="width: 400px;" class="form-control" type="text">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    Resultat:
                                                                                </td>
                                                                                <td>
                                                                                    <input style="width: 400px;" class="form-control" type="text">
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if j.infoBulle != '' %}

                                                                <div style="padding-left: 500px;" class="container">
                                                                    <a href="#" data-toggle="popover" title="INFO !" data-content="{{ j.infoBulle }}"><i style="color:#4bb1cf;" class="fa fa-info-circle"></i></a>
                                                                </div>
                                                            {% endif %}
                                                            </font>

                                                        </div>

                                                    </div>

                                                    <div class="col-sm-1">

                                                        <div>

                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <font size="3">
                                                                            <a href="#" data-target="#editequestion-{{ j.id  }}" data-toggle="modal" class="fa fa-pencil"></a>
                                                                        </font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <font size="3">
                                                                            <a style="color: red!important;" href="#" data-target="#removequestion-{{ j.id }}" data-toggle="modal" class="fa fa-trash-o" ></a>
                                                                        </font>

                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <font size="3">
                                                                            {% if page.question|length < page.quiz.nbQuestion %}
                                                                                <a class="fa fa-file-o"   href="{{ path('question_dep', {'question': j.id} )}}"></a>
                                                                            {% else %}
                                                                                <i style="color: grey" class="fa fa-file-o" href="{{ path('question_dep', {'question': j.id} )}}"></i>
                                                                            {% endif %}
                                                                        </font>
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <font size="3">
                                                                            {% if j.actif == false  %}
                                                                                <a class="fa fa-circle" href="{{ path('actif', {'question': j.id} )}}" style="color:grey"  ></a>
                                                                            {% else %}

                                                                                <a class="fa fa-circle" href="{{ path('actif', {'question': j.id} )}}"  style="color: #18835a"></a>

                                                                            {% endif %}
                                                                        </font>
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>



                                                <br>
                                                <div  class="modal fade" id="editequestion-{{ j.id }}" role="dialog">
                                                    <div  class="modal-dialog modal-xl">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header" style="background-color: #31b0d5">
                                                                <h4 class="modal-title"><font color="white"> Modifier question</font></h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                            </div>
                                                            <div class="modal-body">
                                                                {{ render(controller(
                                                                    'App\\Controller\\QuestionController::edit',
                                                                    { 'id': j.id }
                                                                )) }}


                                                                <h1>Modifier les reponses </h1>
                                                                {% for i in j.reponse %}
                                                                        {{ render(controller(
                                                                            'App\\Controller\\ReponseController::editReponse',
                                                                            { 'id': i.id }
                                                                        )) }}
                                                                {% endfor %}

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="modal fade" id="removequestion-{{ j.id }}" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header" style="background-color:red">
                                                                <h4 class="modal-title"><font color="white"> Supprimer question</font></h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{ render(controller(
                                                                    'App\\Controller\\QuestionController::delete',
                                                                    { 'id': j.id }
                                                                )) }}
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>


                                    {% endfor %}

                                {% endif %}



                            {% if pos >= quiz.nbPage  %}
                            <div class="col-sm-12"   >
                                <div class="list-group">
                                    <label>
                                        <font color="black">

                                         <i>
                                             {{ quiz.pied }}
                                         </i>
                                        </font>
                                    </label>
                                </div>
                            </div>

                        {% endif %}

                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #31b0d5">
                                            <h1 class="modal-title">Modifier page </h1>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            {{ include('page/edit.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <style>
                                div.sticky {
                                    position: sticky;
                                    bottom: 0;

                                }
                            </style>


                                <div class="sticky"  >

                                    <div>
                                        <div class="col-xs-2">
                                            &nbsp;&nbsp;&nbsp;&nbsp;

                                                <font size="4">


                                                    {% if pos == 1 %}
                                                        <a style="color: grey" class="fa fa-chevron-circle-left"></a>
                                                    {% else %}
                                                        <a href="{{ path('precedentPage', {'quiz':quiz.id ,'page': page.id}) }}" class="fa fa-chevron-circle-left"></a>
                                                    {% endif %}

                                                    {% if quiz.nbPage < 1000 %}
                                                    {{ pos }} / {{ quiz.nbPage}} page
                                                        {% else %}
                                                          Page  {{ pos }}
                                                    {% endif %}

                                                    {% if pos < quiz.nbPage %}
                                                        <a class="fa fa-chevron-circle-right" href="{{ path('creatNextPage', {'quiz':quiz.id, 'page': page.id}) }}"></a>
                                                    {% else %}
                                                        <a class="fa fa-chevron-circle-right" style="color: gray"></a>
                                                    {% endif %}

                                                </font>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;




                                            <font size="4">
                                                <a href="#" data-target="#myModal" data-toggle="modal" class="fa fa-pencil"></a>
                                            </font>
                                                &nbsp;
                                            <font size="4">
                                                <a style="color: green!important;" href="{{ path("page_ajout", { 'id': quiz.id, 'page': page.id } ) }}" class="fa fa-plus-square-o" ></a>
                                            </font>
                                                &nbsp;
                                            <font size="4">
                                                <a href="#" style="color: red!important;"   data-target="#removepage-{{ page.id }}" data-toggle="modal"  class="fa fa-trash-o" ></a>
                                            </font>
                                        </div>

                                    </div>
                                </div>

                            <div class="modal fade" id="removepage-{{ page.id }}" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:red">
                                            <h4 class="modal-title">Supprimer page</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            {{ render(controller(
                                                'App\\Controller\\PageController::deletepage',
                                                { 'page': page.id }
                                            )) }}
                                        </div>
                                    </div>
                                </div>

                            </div>



        </div>

        </div>

    </div>
    </div>




{% endblock %}
