{% extends '/bundles/EasyAdmin/default/layout.html.twig' %}


{% set _content_title = 'Espace administrateur' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}

    <div class="form-group row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">

        &nbsp; &nbsp;

        <h1 class="title">{{ _content_title }}</h1>

    </div>
{% endblock %}
{% block main %}
    <style>
        .aa {
            width: 35px;
            height: 4px;
            background-color: #1f6377;
            margin: 6px 0;
        }
        div.sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: 5px;
            background-color: #cae8ca;
            border: 2px solid #4CAF50;
        }
        input[type=text]:focus {
            background-color: lightblue;
        }

        input[type=number]:focus {
            background-color: #7aba7b;
        }
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 220%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;

        }

        #myUL li a {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;

        }

        #myUL li a:hover:not(.header) {
            background-color: #eee;

        }



    </style>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="panel panel-success">
        <div class="card bg-info text-white">
            <div class="card-body">QUIZ / Créer</div>
        </div>
        <div class="panel-body">
       <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-7">

                            {% if page.question|length < page.quiz.nbQuestion %}
                            {{ form_start(formq, {'method': 'post' }) }}

<script>
    function myFunctiona() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function myFunctionaa(p1, p2, p3) {
        var url = '{{ path('infoPage', {'quiz': 'quiz_id' , 'quizactuel': 'quiz_actuel' , 'pageactuel': 'page_actuel'}) }}';
        url = url.replace("quiz_id", p1);
        url = url.replace("quiz_actuel", p2);
        url = url.replace("page_actuel", p3);

        $.ajax({
            url: url,
            method: 'POST',
            success: function(result){
                $("#importe").html(result);
            }
        });

    }




    function importe() {
        document.getElementById("importe").innerHTML = '<div class="row"><div class="col-sm-4" ><h3>Selectionner un quiz</h3></div><div style="padding-left:58%" class="col-sm-4" >' +
            '<h3><a style="padding:%" href="{{ path('creerquiz', {'id':quiz.id , 'page':page.id}) }}"><i class="fa fa-reply"></i></a></h3></div></div><div class="form-group row"> <div class="col-xs-1" >' +
            '<input type="text" id="myInput" onkeyup="myFunctiona()" placeholder="Search for names.." title="Type in a name">' +
            '                                <div style=" width:373px; ">' +
            '                                    <ul id="myUL">' +
            '                                        {% for q in listquiz %}' +
            '                                            {% if q.user == user and q != quiz %}' +
            '                                                <li><a style="width: 220%" href="#" onclick="myFunctionaa( {{ q.id }}, {{ quiz.id }}, {{ page.id }} )" >{{ q.titre }}</a></li>' +
            '                                            {% endif %}' +
            '                                        {% endfor %}' +
            '                                    </ul>' +
            '                                </div>' +
            '</div></div>';
    }

</script>
                                <div id="question"  style="border-radius: 10px ;">


<br>




<div style="background-color:;" id="importe">
    <a href="#" type="button" onclick="importe()" style="width: 100%" class="btn btn-warning">Importer question d'un autre quiz</a>
<br>
<br>
<br>
    <table>
                                <tr>
                                    <td>
                                        {% if page.question|length < page.quiz.nbQuestion %}Question n° {{ (page.question|length)+1 }} :
                                        {% else %}
                                            Page n°{{ pos }} est épuisé
                                        {% endif %}
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp;

                                    </td>
                                    <td colspan="">
                                        {{ page.question|length }} / {{ quiz.nbQuestion }} questions dans la page {{ pos }}
                                    </td>
                                </tr>
                                    <tr>
                                    <td>
                                        <div class="form-group row">
                                            <div class="col-xs-2">

                                                {{ form_label(formq.text_question) }}
                                                </div>
                                                {{ form_widget(formq.text_question) }}
                                                <small style="color: red">
                                                    <font size="2">
                                                        {{ form_errors(formq.text_question) }}
                                                    </font>
                                                </small>
                                            </div>
                                    </td>
                                </tr>
                             </table>


                                {{ form_label(formq.type_question) }}

                                            <div class="col-sm-7">
                                                {{ form_widget(formq.type_question, { 'id': 'question_type' }) }}
                                                <small style="color: red">
                                                    <font size="2">
                                                {{ form_errors(formq.type_question) }}
                                                    </font>
                                                </small>
                                            </div>



                                 <script>

                                     if($('#question_type').val() == ''){
                                         $('#question_type').on('change', function() {
                                             var x = document.getElementById("question_type").value;

                                             var i=0;

                                             if(x == 'Réponse courte') {

                                             $('#showType').html('<div id="demo" style="background-color: ">' +

                                                 '<div class="col-2"> <br><select name="selecttype" class="form-control" id="mySelect" onchange="myFunction()">' +
                                                 '<option  value="texte" selected>Texte</option>' +
                                                 '<option value="date">Date</option>' +
                                                 '<option value="number">Nombre</option></select></div><br><br>' +


                                                 ' <div class="row"><br>' +
                                                 '    <div class="col-sm-5" style="background-color:;">Nombre de caracteres autorisés - Entre 1 et 1000<br></div><br><br>' +
                                                 '    <div class="col-sm-2" style="background-color:;"><input name="nbcaractere" type="number" min="1" max="1000"  class="form-control"></div>' +
                                                 '  </div>' +

                                                 ' <div id="hide_0" class="row"><br><br>' +
                                                 '    <div class="col-sm-3" style="background-color:;"><label><font size="3"> Reponse correcte :</font></label></div>' +
                                                 '    <div class="col-sm-8" style="background-color:;"><input name="test[]" type="text" class="form-control"></div>' +
                                                 '    <div class="col-sm-" style="background-color:;"><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                                 '  </div>'+

                                                 '<div id="showPlus"> </div>' +

                                                 '<font size="6" color=#228b22><a><i type="button" onclick="fonction()" class="fa fa-plus-square"></i></a></font>' +
                                                 '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                 '</div></div>'

                                                );
                                         }else {

                                                 if (x == 'Vrai/faux') {
                                                     $('#showType').html(
                                                         '<div id="demo" style="background-color: ">' +
                                                         '<div style="background-color: "><label>Choix réponses de votre question</label></div>' +

                                                         '<div id="hide_0"  class="row">' +
                                                         '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Choix :</font></label></div>' +
                                                         '    <div class="col-sm-6" style="background-color:;"><input name="vf[]"  type="text" class="form-control"></textarea> </div>' +
                                                         '    <div class="col-sm-3" style="background-color:;"><select class="form-control"  name="etat[]"><option value="1">Vrai</option><option value="0">Faux</option></select></div>' +
                                                         '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                                         ' <br><br>' +
                                                         ' </div>' +
                                                         '<div id="showPlus"> </div>' +

                                                         '<font size="6" color=#228b22><a><i type="button" onclick="fonctiontypevraioufaux()" class="fa fa-plus-square"></i></a></font>' +
                                                         '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                         '</div>');
                                                 }
                                             else {
                                                 if (x=='Case à cocher') {
                                                     $('#showType').html('<div id="demo" style="background-color: ">' +
                                                         '<div  style="background-color: "><label>Choix des réponses afficher</label></div>' +


                                                         '<div id="hide_0" ><label><font size="3"> Repanse correcte n° :</font></label>' +
                                                         '<div class=""><input name="case[]"  type="text" class="form-control"></div>'+
                                                         '<div style="width: 150px">' +
                                                         '<select class="form-control" name="etatcase[]"><option value="1">Correcte</option><option value="0">Incorrecte</option></select></div>' +
                                                         '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div> <br>' +
                                                         ' </div>' +
                                                         '<div id="showPlus"> </div>' +

                                                         '<font size="6" color=#228b22><a><i type="button" onclick="fonctioncaseacocher()" class="fa fa-plus-square"></i></a></font>' +
                                                         '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                                         '<div id="divPlus"></div>' +
                                                         '</div>');
                                                 }else{
                                                     if (x=='Liste déroulante') {
                                                             $('#showType').html('<div id="demo" style="background-color: ">' +
                                                                 '<div  id="test" style="background-color: "><label>Choix réponses de votre liste</label>' +
                                                                 '<div id="hide_0"  class="row" >' +

                                                                 '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Choix réponse  :</font></label></div>' +
                                                                 '    <div class="col-sm-6" style="background-color:;"><input name="list[]"  type="text" class="form-control"></div>' +
                                                                 '    <div class="col-sm-3" style="background-color:;"><select class="form-control" name="etatlist[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select></div>' +
                                                                 '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                                                 ' <br><br>' +
                                                                 ' </div>'+
                                                                 '<div id="showPlus"> </div>' +

                                                                 '<font size="6" color=#228b22><a><i type="button" onclick="fonctionliste()" class="fa fa-plus-square"></i></a></font>' +
                                                                 '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                                                 '<div id="divPlus"></div>' +
                                                                 '</div></div>');
                                                         }else {
                                                             if (x=='Calculée') {
                                                                 $('#showType').html('<div id="demo" style="background-color: ">' +
                                                                     '<div  style="background-color: "><label>Question calculée</label>' +


                                                                     '<div id="hide_0" >' +
                                                                     '<div  class="row" >' +

                                                                     '    <div class="col-sm-4" style="background-color:;"><label><font size="2"> Description formule n° :</font></label></div>' +
                                                                     '    <div class="col-sm-4" style="background-color:;"><label><font size="2"> Formule :</font></label></div>' +
                                                                     '    <div class="col-sm-3" style="background-color:;"><label><font size="2"> Resultat :</font></label></div>' +

                                                                        '</div>'+


                                                                     '<div  class="row" >' +

                                                                     '    <div class="col-sm-4" style="background-color:;"><input  name="descriptionF[]" type="text" class="form-control"></div>' +
                                                                     '    <div class="col-sm-4" style="background-color:;"><input  name="formule[]" type="text" class="form-control"></div>' +
                                                                     '    <div class="col-sm-3" style="background-color:;"><input  name="resultatF[]" type="text" class="form-control"></div>' +
                                                                     '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +

                                                                     '</div>'+

                                                                     ' <br>' +
                                                                     ' </div>'+

                                                                     '<div id="showPlus"> </div>' +

                                                                     '<font size="6" color=#228b22><a><i type="button" onclick="fonctioncalcule()" class="fa fa-plus-square"></i></a></font>' +
                                                                     '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                                                     '<div id="divPlus"></div>' +
                                                                     '</div></div>');

                                                             }
                                                         }
                                                     }
                                                 }
                                             }


                                             });
                                     }else{
                                         $('#showType').html('');
                                     }

                                     function myFunction() {

                                         var a = document.getElementById("mySelect").value;
                                     //    document.getElementById("demo").innerHTML = ": " + x;
                                         if (a == 'date') {
                                             document.getElementById("demo").innerHTML = a;

                                             document.getElementById("demo").innerHTML = '<div id="demo" style="background-color: ">' +

                                                 '<div class="col-2"> <br><select name="selecttype" class="form-control" id="mySelect" onchange="myFunction()">' +
                                                 '<option  value="texte" >Texte</option>' +
                                                 '<option value="date" selected>Date</option>' +
                                                 '<option value="number">Nombre</option></select></div><br><br>' +



                                                 ' <div id="hide_0" class="row"><br><br>' +
                                                 '    <div class="col-sm-2" style="background-color:;"><label><font size="3">Description date :</font></label></div>' +
                                                 '    <div class="col-sm-6" style="background-color:;"><textarea  type="text" name="desc[]"  class="form-control"></textarea> </div>' +
                                                 '    <div class="col-sm-3" style="background-color:;"><input name="date[]" type="date" class="form-control"></i></a></font></div>' +
                                                 '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                                 ' <br><br><br><br> </div>'+




                                                 '</div>' +
                                                 '<div id="showPlus"> </div>' +

                                                 '<font size="6" color=#228b22><a><i type="button" onclick="fonctiondate()" class="fa fa-plus-square"></i></a></font>' +
                                                 '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                                 '<div id="divPlus"></div>' +
                                                 '</div></div>'
                                         }else {

                                             if (a == 'number') {
                                                 document.getElementById("demo").innerHTML = a;

                                                 document.getElementById("demo").innerHTML = '<div id="demo" style="background-color: ">' +

                                                     '<div class="col-2"> <br><select name="selecttype" class="form-control" id="mySelect" onchange="myFunction()">' +
                                                     '<option  value="texte" >Texte</option>' +
                                                     '<option value="date" >Date</option>' +
                                                     '<option value="number" selected>Nombre</option></select></div><br><br>' +

                                                     ' <div  class="row">' +
                                                     '    <div class="col-sm-4" style="background-color:;">Nombre des chiffres autorisés</div>' +
                                                     '    <div class="col-sm-2" style="background-color:;"><input  name="nbChiffre"  type="number" class="form-control"></div>' +
                                                     '  </div>' +

                                                     '<div id="hide_0" ><br>' +

                                                     ' <div  class="row">' +
                                                     '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Description :</font></label></div>' +
                                                         '    <div class="col-sm-8" style="background-color:;"><textarea  name="desnum[]" type="text" class="form-control"></textarea> </div>' +
                                                     '  </div><br>' +
                                                     '<div class="row"><br>' +
                                                     ' <div class="col-sm-4" style="background-color:;"><label><font size="3"> Reponse correcte n° :</font></label></div>' +
                                                     ' <div class="col-sm-4" style="background-color:;"><input  name="number[]" type="number" class="form-control"></div>' +
                                                     ' <div class="col-sm-" style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +

                                                     '</div>' +
                                                     '</div>'+





                                                     '<div id="showPlus"> </div>' +
                                                     '<font size="6" color=#228b22><a><i type="button" onclick="fonctionnumber()" class="fa fa-plus-square"></i></a></font>' +
                                                     '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                                     '</div></div> ';

                                             }else if (a == 'texte'){
                                                 document.getElementById("demo").innerHTML = '<div id="demo" style="background-color: ">' +

                                                 '<div class="col-2"> <br><select name="selecttype" class="form-control" id="mySelect" onchange="myFunction()">' +
                                                 '<option  value="texte" selected>Texte</option>' +
                                                 '<option value="date">Date</option>' +
                                                 '<option value="number">Nombre</option></select></div><br><br>' +


                                                 ' <div class="row">' +
                                                 '    <div class="col-sm-5" style="background-color:;">Nombre de caracteres autorisés - Entre 1 et 1000<br></div><br><br>' +
                                                 '    <div class="col-sm-2" style="background-color:;"><input name="nbcaractere" type="number" min="1" max="1000"  class="form-control"></div>' +
                                                 '  </div>' +

                                                 ' <div id="hide_0" class="row"><br><br>' +
                                                 '    <div class="col-sm-3" style="background-color:;"><label><font size="3"> Reponse correcte :</font></label></div>' +
                                                 '    <div class="col-sm-8" style="background-color:;"><input name="test[]" type="text" class="form-control"></div>' +
                                                 '    <div class="col-sm-" style="background-color:;"><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                                 '  </div>'+

                                                 '<div id="showPlus"> </div>' +

                                                 '<font size="6" color=#228b22><a><i type="button" onclick="fonction()" class="fa fa-plus-square"></i></a></font>' +
                                                 '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                 '</div></div>' ;

                                             }
                                         }


                                     }

                                     function fonction()
                                     {
                                        var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<div id="hide_'+nbr+'" class="row"><br><br>' +
                                             '    <div class="col-sm-3" style="background-color:;"><label><font size="3"> Reponse correcte :</font></label></div>' +
                                             '    <div class="col-sm-8" style="background-color:;"><input name="test[]" type="text" class="form-control"></div>' +
                                             '    <div class="col-sm-" style="background-color:;"><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                                             '  </div>' ;
                                         $("#showPlus").append(innerHTML);

                                     }

                                     function fonctiondate()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             ' <div id="hide_'+nbr+'" class="row">' +
                                             '' +
                                             '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Date :</font></label></div>' +
                                             '    <div class="col-sm-6" style="background-color:;"><textarea  type="text" name="desc[]"  class="form-control"></textarea> </div>' +
                                             '    <div class="col-sm-3" style="background-color:;"><input name="date[]" type="date" class="form-control"></i></a></font></div>' +
                                             '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                                             ' <br><br><br><br> </div>' ;
                                         $("#showPlus").append(innerHTML);
                                     }

                                     function fonctionnumber()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         var innerHTML ='<div id="hide_'+nbr+'"><br>' +

                                             ' <div  class="row">' +
                                             '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Description  :</font></label></div>' +
                                             '    <div class="col-sm-8" style="background-color:;"><textarea name="desnum[]" type="text" class="form-control"> </textarea></div><br>' +
                                             '  </div><br>' +
                                             '<div class="row"><br><br>' +
                                             ' <div class="col-sm-4" style="background-color:;"><label><font size="3"> Reponse correcte n° :</font></label></div>' +
                                             ' <div class="col-sm-4" style="background-color:;"><input  name="number[]" type="number" class="form-control"></div>' +
                                             ' <div class="col-sm-" style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +

                                             '</div>' +
                                             '</div>' ;
                                         $("#showPlus").append(innerHTML);
                                     }



                                     function fonctiontypevraioufaux()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         var innerHTML =

                                             '<div id="hide_'+nbr+'"  class="row">' +
                                             '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Choix :</font></label></div>' +
                                             '    <div class="col-sm-6" style="background-color:;"><input name="vf[]"  type="text" class="form-control"></textarea> </div>' +
                                             '    <div class="col-sm-3" style="background-color:;"><select class="form-control"  name="etat[]"><option value="1">Vrai</option><option value="0">Faux</option></select></div>' +
                                             '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                                             ' <br><br>' +
                                             ' </div>' ;
                                         ;
                                         $("#showPlus").append(innerHTML);
                                     }


                                     function fonctioncaseacocher()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<div id="hide_'+nbr+'" ><label><font size="3"> Repanse correcte  :</font></label>' +
                                             '<div class=""><input name="case[]"  type="text" class="form-control"></div>'+
                                             '<div style="width: 150px">' +
                                             '<select class="form-control" name="etatcase[]"><option value="1">Correcte</option><option value="0">Incorrecte</option></select></div>' +
                                             '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' ;
                                         $("#showPlus").append(innerHTML);
                                     }

                                     function fonctionliste()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<div id="hide_'+nbr+'"  class="row" >' +

                                             '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Choix réponse  :</font></label></div>' +
                                             '    <div class="col-sm-6" style="background-color:;"><input name="list[]"  type="text" class="form-control"></div>' +
                                             '    <div class="col-sm-3" style="background-color:;"><select class="form-control" name="etatlist[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select></div>' +
                                             '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                                             ' <br><br>' +
                                             ' </div>' ;

                                         $("#showPlus").append(innerHTML);
                                     }


                                     function fonctioncalcule()
                                     {
                                         var nbr = $("#showPlus").children('div').length;
                                         nbr = nbr +1;
                                         var innerHTML =

                                             '<div id="hide_'+nbr+'">' +
                                             '<div  class="row" >' +

                                             '    <div class="col-sm-4" style="background-color:;"><label><font size="2"> Description formule n° :</font></label></div>' +
                                             '    <div class="col-sm-4" style="background-color:;"><label><font size="2"> Formule :</font></label></div>' +
                                             '    <div class="col-sm-3" style="background-color:;"><label><font size="2"> Resultat :</font></label></div>' +

                                             '</div>'+

                                             '<div  class="row" >' +

                                             '    <div class="col-sm-4" style="background-color:;"><input  name="descriptionF[]" type="text" class="form-control"></div>' +
                                             '    <div class="col-sm-4" style="background-color:;"><input  name="formule[]" type="text" class="form-control"></div>' +
                                             '    <div class="col-sm-3" style="background-color:;"><input  name="resultatF[]" type="text" class="form-control"></div>' +
                                             '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +

                                             '</div>'+

                                             ' <br>' +
                                             ' </div>'

                                             $("#showPlus").append(innerHTML);
                                     }




                                     function fonctionhide(nbr) {
                                         $('div#hide_'+nbr).remove();

                                     }

                                 </script>

                                         <div id="showType"></div>


                                            <div class="col-xs-7">
                                                {{ form_label(formq.description_question) }}
                                            </div>
                                            <div class="col-xs-2">
                                                {{ form_widget(formq.description_question) }}
                                                {{ form_errors(formq.description_question) }}
                                            </div>
                                <br><i class="fa fa-question-circle"></i>
                                {{ form_label(formq.info_bulle) }}


                                <div  class="row" >

                                <div class="col-sm-12" style="background-color:;"> {{ form_widget(formq.info_bulle) }}</div>
                                </div> <br>

  <center>
      <div  class="row" >
        <div class="col-sm-6">  <button class="btn btn-info">Ajouter à la page</button></div>

        <div class="col-sm-4">  <a href="{{ path('terminerQuiz', {'quiz':quiz.id }) }}" style="width: 240px" class="btn btn-info">Terminer la création de Quiz</a></div>
    </div>
  </center>
    {{ form_end(formq) }}
</div>






                            </div>
                            {% else %}
                                <div style="border-radius: 10px;"><br><br><br>
                                    <div style="background-color: 	#FF6347">
                                        <br>Vous avez atteint le nombre maximum des question dans cette page !
                                    </div>

                                    <br>
                                    <div class="text-center">
                                        {% if pos == 1 %}
                                            <a type="button"  class="btn btn-primary disabled"><i class="fa fa-chevron-circle-left"></i> Précédent</a>
                                        {% else %}
                                            <a href="{{ path('precedentPage', {'quiz':quiz.id ,'page': page.id}) }}" type="button"  class="btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Précédent</a>
                                        {% endif %}
                                        {% if pos < quiz.nbPage %}
                                            <a href="{{ path('creatNextPage', {'quiz':quiz.id, 'page': page.id }) }}" type="button" class="btn btn-primary">Suivant <i class="fa fa-chevron-circle-right"></i></a>
                                        {% else %}
                                            <a type="button" class="btn btn-primary disabled">Suivant <i class="fa fa-chevron-circle-right"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <br>
                                <br>
                              <center>
                                  <a href="{{ path('terminerQuiz', {'quiz':quiz.id }) }}" style="width: 240px" class="btn btn-success">Terminer la création de Quiz</a>
                              </center>

                            {% endif %}

                        </div>

                        <div class="row" style=" width: 690px;border-left: 1.5px solid ;
                             color: #3a87ad;
                                border-right: 1.5px solid ;
                                border-bottom: 1.5px solid;
                             height: 699px; background-color:{{ page.bgColor }};
                                border-radius: 3px;
                                overflow: scroll;
                                ">

                            {% if quiz.brochure != "null" %}
                                <div class="col-sm-1" style="background-color: ">
                                    <img width="60" height="60" src="{{ asset('uploads/brochures/' ~ quiz.brochure) }}">
                                </div>
                            {% endif %}

                                <div class="col-sm-9" style="background-color: ">


                                    {% if quiz.gras == 1 and quiz.italique==1 %}
                                    <center>
                                        <b>
                                            <i>

                                                <font color="{{ quiz.colorTitre }}" >
                                                    <h1>     {{ quiz.titre }}</h1></font>
                                            </i>
                                        </b>
                                    </center>

                                    {% else %}
                                        {% if  quiz.gras == 1 and quiz.italique==0 %}
                                    <center>
                                            <b>
                                                <font color="{{ quiz.colorTitre }}" >
                                                    <h1>     {{ quiz.titre }}</h1></font>

                                            </b>
                                    </center>
                                        {% else %}
                                            {% if  quiz.gras == 0 and quiz.italique==1 %}
                                    <center>
                                                <i>
                                                    <font color="{{ quiz.colorTitre }}" >
                                                        <h1>     {{ quiz.titre }}</h1></font>

                                                </i>
                                    </center>
                                            {% else %}
                                                {% if  quiz.gras == 0 and quiz.italique== 0 %}
                                    <center>
                                                    <font color="{{ quiz.colorTitre }}" >
                                               <h1>     {{ quiz.titre }}</h1>    </font>
                                    </center>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>



                                <div class="col-sm-6" >
                                    <div class="list-group">
                                        {% if pos == 1 %}
                                            <label>

                                                <font color="black">

                                                    {{ quiz.entete }}

                                                </font>
                                            </label>
                                        {% endif %}
                                        <label>
                                            <font color="{{ page.colorTitrePage }}" >
                                                <b>
                                                   {% if  page.titrePage != "Vide" %}
                                                    {{ page.titrePage }}
                                                    {% endif %}
                                                </b>
                                            </font>
                                        </label>

                                    </div>
                                </div>
                                {% if page.question|length == 0 %}
                                    <label>
                                        Page vide !
                                    </label>
                                {% else %}
                                    {% for key, j in listquestion %}
                                        <div class="col-sm-11"  >
                                            <div class="list-group">

                                                <div  style="background-color: #e1edf7" class="list-group-item list-group-item-action ">
                                                    <b>
                                                        <a data-target="#myModalDelete" data-toggle="modal">
                                                            Question n° : {{ key + 1 }}
                                                        </a>
                                                    </b>
                                                    <br>
                                                    {% if j.typeQuestion =='Vrai/faux' %}
                                                        {{ j.textQuestion }}
                                                        <br>
                                                        {{ j.descriptionQuestion }}

                                                        {% for p in listreponse %}
                                                            {% if p.question == j %}
                                                                <table>
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            {{ p.reponseValide }}
                                                                        </td>
                                                                        <td colspan="3">
                                                                            <div style="width: 100px;">

                                                                                <select style="width: 150px;" class="form-control">
                                                                                    <option>
                                                                                        Vrai
                                                                                    </option>
                                                                                    <option>
                                                                                        Faux
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                            {% endif %}
                                                        {% endfor %}

                                                    {% endif %}


                                                    {% if j.typeQuestion =='Liste déroulante' %}
                                                        {{ j.textQuestion }}
                                                        <br>

                                                        {{ j.descriptionQuestion }}

                                                        <table>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <div style="width: 100px;">
                                                                        <select style="width: 350px;" class="form-control">
                                                                            {% for i in listreponse %}
                                                                                {% if i.question == j %}

                                                                                    <option>
                                                                                        {{ i.reponseValide }}
                                                                                    </option>

                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    {% endif %}



                                                    {% if j.typeQuestion == 'Case à cocher' %}
                                                        {{ j.textQuestion }}
                                                        <br>
                                                        {{ j.descriptionQuestion }}

                                                        {% for p in listreponse %}
                                                            {% if p.question == j %}
                                                                <table>
                                                                    <tr>
                                                                        <td colspan="8">
                                                                            {{ p.reponseValide }}
                                                                        </td>
                                                                        <td>
                                                                            <div style="width: 100px;">
                                                                                <input type="checkbox" >
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if j.typeQuestion =='Calculée' %}
                                                        {{ j.textQuestion }}
                                                        <br>
                                                        {{ j.descriptionQuestion }}

                                                        {% for p in listreponse %}
                                                            {% if p.question == j %}
                                                                <table>
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            {{ p.descriptionformule }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            Formule:
                                                                        </td>
                                                                        <td colspan="3">
                                                                            <input  style="width: 400px;" class="form-control" type="text">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            Resultat:
                                                                        </td>
                                                                        <td>
                                                                            <input style="width: 400px;" class="form-control" type="text">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}



                                                    {% if j.typeQuestion =='Réponse courte' %}
                                                        {{ j.textQuestion }}<br>
                                                        {{ j.descriptionQuestion }}

                                                        {% for p in listparametre %}

                                                            {% if p.question==j and p.formText =='texte' %}

                                                                <textarea class="form-control"></textarea><br>
                                                            {% endif %}

                                                            {% if p.question==j and p.formText =='date' %}
                                                                {% for r in listreponse %}
                                                                    {% if r.question == j %}
                                                                        <br>
                                                                        {{ r.descriptiondate }}
                                                                        <input type="date" class="form-control">
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if p.question==j and p.formText =='number' %}
                                                                {% for r in listreponse %}
                                                                    {% if r.question == j %}

                                                                        {{ r.descriptiondate }}<br>
                                                                        {{ r.desnumber }}
                                                                        <input type="number" class="form-control">
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}




                                                    {% if j.infoBulle != '' %}

                                                        <div style="padding-left: 530px;" class="container">
                                                            <a href="#" data-toggle="popover" title="INFO !" data-content="{{ j.infoBulle }}"><i style="color:#4bb1cf;" class="fa fa-info-circle"></i></a>
                                                        </div>
                                                    {% endif %}

                                                </div><br>
                                                <div  class="modal fade" id="editequestion-{{ j.id }}" role="dialog">
                                                    <div  class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title"></h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                            </div>
                                                            <div class="modal-body">


                                                                {{ render(controller(
                                                                    'App\\Controller\\QuestionController::edit',
                                                                    { 'id': j.id }
                                                                )) }}

                                                                {% for i in j.parametre %}
                                                                    {% if i.formText != "date" %}
                                                                    {{ render(controller(
                                                                        'App\\Controller\\ParametreController::editparametre',
                                                                        { 'id': i.id }
                                                                    )) }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <h1>Edit les reponses </h1>
                                                                {% for i in j.reponse %}
                                                                    {{ render(controller(
                                                                        'App\\Controller\\ReponseController::editReponse',
                                                                        { 'id': i.id }
                                                                    )) }}
                                                                {% endfor %}


                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="modal fade" id="removequestion-{{ j.id }}" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title"></h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{ render(controller(
                                                                    'App\\Controller\\QuestionController::delete',
                                                                    { 'id': j.id }
                                                                )) }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="#" data-target="#removequestion-{{ j.id }}" data-toggle="modal"  class="fa fa-trash-o" ></a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#" data-target="#editequestion-{{ j.id  }}" data-toggle="modal" class="fa fa-pencil"></a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        {% if page.question|length < page.quiz.nbQuestion %}
                                                            <a class="fa fa-file-o" href="{{ path('question_dep', {'question': j.id} )}}"></a>
                                                        {% else %}
                                                            <i style="color: grey" class="fa fa-file-o" href="{{ path('question_dep', {'question': j.id} )}}"></i>
                                                        {% endif %}
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        {% if j.actif == false  %}
                                                            <a class="fa fa-circle" href="{{ path('actif', {'question': j.id} )}}" style="color:grey"  ></a>
                                                        {% else %}

                                                            <a class="fa fa-circle" href="{{ path('actif', {'question': j.id} )}}"  style="color: #18835a"></a>

                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>

                                    {% endfor %}

                                {% endif %}

                            {% if pos >= quiz.nbPage  %}
                            <div class="col-sm-12"   >
                                <div class="list-group">
                                    <label>
                                        <font color="black">

                                         <i>
                                             {{ quiz.pied }}
                                         </i>
                                        </font>
                                    </label>
                                </div>
                            </div>

                        {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title">Page de quiz "{{ quiz.titre }}"</h1>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            {{ include('page/edit.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                            <div class="">
                                <div  class="container" style=" width: 675px; height:52px; border-left: 1.5px solid ;
                             color: #3a87ad; background-color: #9acfea ; border-radius: 5px; " >
                                    <!-- Trigger the modal with a button -->
                                    <div class="form-group row">
                                        <div class="col-xs-2">

                                            <font size="3">





                                                {% if pos == 1 %}
                                                    <a style="color: grey" class="fa fa-chevron-circle-left"></a>
                                                {% else %}
                                                    <a href="{{ path('precedentPage', {'quiz':quiz.id ,'page': page.id}) }}" class="fa fa-chevron-circle-left"></a>
                                                {% endif %}
                                                {{ pos }} / {{ quiz.nbPage}} page


                                                {% if pos < quiz.nbPage %}
                                                    <a class="fa fa-chevron-circle-right" href="{{ path('creatNextPage', {'quiz':quiz.id, 'page': page.id}) }}"></a>
                                                {% else %}
                                                    <a class="fa fa-chevron-circle-right" style="color: gray"></a>
                                                {% endif %}
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                                            </font>
                                            <a href="#" data-target="#myModal" data-toggle="modal" class="fa fa-pencil"></a>
                                            &nbsp;
                                            <a href="{{ path("page_ajout", { 'id': quiz.id, 'page': page.id } ) }}" class="fa fa-plus-square-o" ></a>
                                            &nbsp;
                                            <a href="#"  data-target="#removepage-{{ page.id }}" data-toggle="modal"  class="fa fa-trash-o" ></a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="modal fade" id="removepage-{{ page.id }}" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Supprimer page</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            {{ render(controller(
                                                'App\\Controller\\PageController::deletepage',
                                                { 'page': page.id }
                                            )) }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>



            </div>

        </div>
        </div>



{% endblock %}
