{% extends '@EasyAdmin/default/layout.html.twig' %}


{% set _content_title = 'Espace d administartion' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}

    <div class="form-group row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <div>

            <div class="aa"></div>
            <div class="aa"></div>
            <div class="aa"></div>
        </div>
        &nbsp; &nbsp;
    <h1 class="title">{{ _content_title }}</h1>
    </div>
{% endblock %}
{% block main %}
    <style>
        .aa {
            width: 35px;
            height: 4px;
            background-color: #1f6377;
            margin: 6px 0;
        }



    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="panel panel-success">
        <div class="card bg-info text-white">
            <div class="card-body">QUIZ / Créer</div>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-7">
                            {% if page.question|length < page.quiz.nbQuestion %}
                            {{ form_start(formq, {'method': 'post' }) }}

                            <div id="question"  style="border-radius: 10px;">
                             <table  >
                                <tr>
                                    <td>
                                        {% if page.question|length < page.quiz.nbQuestion %}
                                            <i>Question n° {{ (page.question|length)+1 }} : </i>
                                        {% else %}
                                            <i>Page n°{{ pos }} est épuisé</i>
                                        {% endif %}
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                                    </td>
                                    <td colspan="">
                                        <i> {{ page.question|length }} / {{ quiz.nbQuestion }} questions dans la page {{ pos }}</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <div class="form-group row">

                                            <div class="col-xs-2">
                                                &nbsp;        <label>Importer un question d'un autre Quiz: </label>
                                            </div>
                                            <div class="col-xs-3">
                                                <select id="my_select" name="" class="form-control" >
                                                    <option value="Open sans conseille" selected="selected">Parcourire les Quiz existants</option>

                                                    {% for j in listquiz %}
                                                    <option value="volvo">{{ j.id }}</option>

                                                    {% endfor %}
                                                </select>

                                            </div> &nbsp; &nbsp;
                                            <i class="fa fa-repeat" id="reset"></i>

                                            <script>
                                                $("#reset").on("click", function () {
                                                    $('#my_select option').prop('selected', function() {
                                                        return this.defaultSelected;
                                                    });
                                                });
                                            </script>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group row">
                                            <div class="col-xs-2">

                                                {{ form_label(formq.text_question) }}
                                                </div>
                                                {{ form_widget(formq.text_question) }}
                                                <small style="color: red">
                                                    <font size="2">
                                                        {{ form_errors(formq.text_question) }}
                                                    </font>
                                                </small>
                                            </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group row">
                                            <div class="col-xs-2">
                                                {{ form_label(formq.type_question) }}
                                            </div>
                                            <div class="col-xs-5">
                                                {{ form_widget(formq.type_question, { 'id': 'question_type' }) }}
                                                <div id="showType"></div>
                                                <small style="color: red">
                                                    <font size="2">
                                                {{ form_errors(formq.type_question) }}
                                                    </font>
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                 <script>

                                     if($('#question_type').val() == ''){
                                         $('#question_type').on('change', function() {
                                             var x = document.getElementById("question_type").value;

                                             var i=0;

                                             if(x == 'Réponse courte') {

                                             $('#showType').html('<div id="demo" style="background-color: ">' +
                                                 '<div  id="test" style="background-color: ">'+
                                                 '<div class="form-group row">' +
                                                 '<table >' +
                                                 '<tr>' +
                                                 '<td colspan="3">' +
                                                 '</td>' +
                                                 '<td></td>' +
                                                 '<td></td>' +
                                                 '<td colspan="7">' +
                                                 '<div class="col-15"><select name="selecttype" class="form-control" id="mySelect" onchange="myFunction()">' +
                                                 '<option  value="texte" selected>Texte</option>' +
                                                 '<option value="date">Date</option>' +
                                                 '<option value="number">Nombre</option></select></div>' +
                                                 '</td>' +

                                                 '</tr>'+
                                                 '<tr>' +
                                                 '<td colspan="4"> ' +
                                                 '<font size="3" color="#696969"> Nombre de caracteres autorisés:</font>' +
                                                 '</td>' +
                                                 '<td>' +
                                                 '<div class="col-7"><input name="nbcaractere" type="number" class="form-control"> <i><font size="2" color="#808080">Entre 1 et 1000</font></i></div>' +
                                                 '</td>' +
                                                 '</tr> ' +
                                                 '<tr id="hide_0" >' +
                                                 '<td colspan="4">' +
                                                 '<label><font size="3"> Repanse correcte n° :</font></label>' +
                                                 '</td>' +
                                                 '<td >' +
                                                 '<div class="col-9"><input name="test[]" type="text" class="form-control">' +
                                                 '</div>'+

                                                 '</td>' +
                                                 '<td>' +
                                                 '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font>' +
                                                 '</td>' +
                                                 '</tr>' +
                                                 '<tr id="showPlus"> </tr>' +
                                                 '<tr>' +
                                                 '<td colspan="7">' +

                                                 '<font size="6" color=#228b22><a><i type="button" onclick="fonction()" class="fa fa-plus-square"></i></a></font>' +
                                                 '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                 '</td>' +
                                                 '</tr>' +
                                                 '<div id="divPlus"></div>' +
                                                 '</div></div>' );
                                         }else {

                                                 if (x == 'Vrai/faux') {
                                                     $('#showType').html('<div id="demo" style="background-color: ">' +
                                                         '<div  id="test" style="background-color: "><label>Choix réponses de votre question</label>' +
                                                         '<div class="form-group row">' +
                                                         '<table >' +
                                                         '<tr>' +
                                                         '<td colspan="3">' +
                                                         '</td>' +
                                                         '<td></td>' +
                                                         '<td></td>' +

                                                         '<tr id="hide_0" >' +
                                                         '<td colspan="4">' +
                                                         '<label><font size="3"> Repanse correcte n° :</font></label>' +
                                                         '</td>' +
                                                         '<td >' +
                                                         '<div class="col-9"><input  name="vf[]" type="text" class="form-control">' +
                                                         '</div>' +
                                                         '</td>' +
                                                         '<td>' +
                                                         '<div style="width: 100px">' +
                                                         '<select class="form-control" name="etat[]"><option value="1">Vrai</option><option value="0">Faux</option></select>' +
                                                         '</div>' +
                                                         '</td>' +
                                                         '<td>' +
                                                         '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font>' +
                                                         '</td>' +
                                                         '</tr>' +
                                                         '<tr id="showPlus"> </tr>' +
                                                         '<tr>' +
                                                         '<td colspan="7">' +

                                                         '<font size="6" color=#228b22><a><i type="button" onclick="fonctiontypevraioufaux()" class="fa fa-plus-square"></i></a></font>' +
                                                         '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                         '</td>' +
                                                         '</tr>' +
                                                         '<div id="divPlus"></div>' +
                                                         '</div></div>');
                                                 }
                                             else {
                                                 if (x=='Case à cocher') {
                                                     $('#showType').html('<div id="demo" style="background-color: ">' +
                                                         '<div  id="test" style="background-color: "><label>Choix réponses de votre question</label>' +
                                                         '<div class="form-group row">' +
                                                         '<table >' +
                                                         '<tr>' +
                                                         '<td colspan="3">' +
                                                         '</td>' +
                                                         '<td></td>' +
                                                         '<td></td>' +

                                                         '<tr id="hide_0" >' +
                                                         '<td colspan="4">' +
                                                         '<label><font size="3"> Repanse correcte n° :</font></label>' +
                                                         '</td>' +
                                                         '<td >' +
                                                         '<div class="col-9"><input  name="case[]" type="text" class="form-control">' +
                                                         '</div>' +
                                                         '</td>' +
                                                         '<td >' +
                                                         '<div style="width: 150px">' +
                                                         '<select class="form-control" name="etatcase[]"><option value="1">Repanse correcte</option><option value="0">Repanse incorrecte</option></select>' +
                                                         '</div>' +
                                                         '</td>' +
                                                         '<td>' +
                                                         '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font>' +
                                                         '</td>' +
                                                         '</tr>' +
                                                         '<tr id="showPlus"> </tr>' +
                                                         '<tr>' +
                                                         '<td colspan="7">' +

                                                         '<font size="6" color=#228b22><a><i type="button" onclick="fonctioncaseacocher()" class="fa fa-plus-square"></i></a></font>' +
                                                         '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                         '</td>' +
                                                         '</tr>' +
                                                         '<div id="divPlus"></div>' +
                                                         '</div></div>');
                                                 } else {
                                                     if (x=='Liste déroulante') {
                                                         $('#showType').html('<div id="demo" style="background-color: ">' +
                                                             '<div  id="test" style="background-color: "><label>Choix réponses de votre question</label>' +
                                                             '<div class="form-group row">' +
                                                             '<table >' +
                                                             '<tr>' +
                                                             '<td colspan="3">' +
                                                             '</td>' +
                                                             '<td></td>' +
                                                             '<td></td>' +

                                                             '<tr id="hide_0" >' +
                                                             '<td colspan="4">' +
                                                             '<label><font size="3"> Choix réponse n° :</font></label>' +
                                                             '</td>' +
                                                             '<td >' +
                                                             '<div class="col-9"><input  name="list[]" type="text" class="form-control">' +
                                                             '</div>' +
                                                             '</td>' +
                                                             '<td >' +
                                                             '<div style="width: 150px">' +
                                                             '<select class="form-control" name="etatlist[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select>' +
                                                             '</div>' +
                                                             '</td>' +
                                                             '<td>' +
                                                             '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font>' +
                                                             '</td>' +
                                                             '</tr>' +
                                                             '<tr id="showPlus"> </tr>' +
                                                             '<tr>' +
                                                             '<td colspan="7">' +

                                                             '<font size="6" color=#228b22><a><i type="button" onclick="fonctionliste()" class="fa fa-plus-square"></i></a></font>' +
                                                             '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                             '</td>' +
                                                             '</tr>' +
                                                             '<div id="divPlus"></div>' +
                                                             '</div></div>');
                                                     }
                                                 }
                                             }
                                             }

                                             });
                                     }else{
                                         $('#showType').html('');
                                     }

                                     function myFunction() {

                                         var a = document.getElementById("mySelect").value;
                                     //    document.getElementById("demo").innerHTML = ": " + x;
                                         if (a == 'date') {
                                             document.getElementById("demo").innerHTML = a;

                                             document.getElementById("demo").innerHTML = '<div id="demo" style="background-color: ">' +
                                                 '<div  id="test" style="background-color: ">'+
                                                 '<div class="form-group row">' +
                                                 '<table >' +
                                                 '<tr>' +
                                                 '<td colspan="3">' +
                                                 '</td>' +
                                                 '<td></td>' +
                                                 '<td></td>' +
                                                 '<td colspan="6">' +
                                                 '<div class="col-20"><select  name="selecttype"  class="form-control" id="mySelect" onchange="myFunction()">' +
                                                 '<option  value="texte" >Texte</option>' +
                                                 '<option value="date" selected>Date</option>' +
                                                 '<option value="number">Number</option></select></div>' +
                                                 '</td>' +
                                                 '</tr>' +
                                                 '<tr id="hide_0">' +
                                                 '<td  colspan="4">' +
                                                 '<label><font size="3"> Repanse correcte n° :</font></label>' +
                                                 '</td>' +
                                                 '<td>' +
                                                 '<div class="col-15"><input name="date[]" type="date" class="form-control">' +
                                                 '</div>'+

                                                 '</td>' +
                                                 '<td>' +
                                                 '<font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font>' +
                                                 '</td>' +
                                                 '</tr>' +
                                                 '<tr id="showPlus"> </tr>' +
                                                 '<tr>' +
                                                 '<td colspan="7">' +

                                                 '<font size="6" color=#228b22><a><i type="button" onclick="fonctiondate()" class="fa fa-plus-square"></i></a></font>' +
                                                 '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                 '</td>' +
                                                 '</tr>' +
                                                 '<div id="divPlus"></div>' +
                                                 '</div></div>'
                                         }else {

                                             if (a == 'number') {
                                                 document.getElementById("demo").innerHTML = a;

                                                 document.getElementById("demo").innerHTML = '<div style="background-color: ">' +
                                                     '<div  id="test" style="background-color: ">'+
                                                     '<div class="form-group row">' +
                                                     '<table  >' +
                                                     '<tr>' +
                                                     '<td colspan="3">' +
                                                     '</td>' +
                                                     '<td></td>' +
                                                     '<td></td>' +
                                                     '<td colspan="6">' +
                                                     '<div class="col-20">' +
                                                     '<select  name="selecttype" class="form-control"  id="mySelect" onchange="myFunction()">' +
                                                     '<option  value="texte" >Texte</option>' +
                                                     '<option value="date">Date</option>' +
                                                     '<option value="number" selected>Nombre</option></select></div>' +
                                                     '</td>' +
                                                     '</tr>'+
                                                     '<tr>' +
                                                     '<td colspan="6">' +
                                                     '<font size="3" color="#696969"> Nombre de chiffre autorisés de 1 à 100:</font>' +
                                                     '</td>' +
                                                     '<td>' +
                                                     '<div class="col-6"><input name="nbChiffre" type="number" class="form-control"></div>' +
                                                     '</td>' +
                                                     '</tr> ' +
                                                     '<tr  id="hide_0">' +
                                                     '<td  colspan="6">' +
                                                     '<label><font size="3"> Repanse correcte n° :</font></label>' +
                                                     '</td>' +
                                                     '<td >' +
                                                     '<div class="col-7"><input  name="number[]" type="number" class="form-control"></div>' +
                                                     '</td>' +
                                                     '<td>' +
                                                     '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font>' +
                                                     '</td>' +
                                                     '</tr>' +
                                                     '<tr>' +
                                                     '<tr id="showPlus"> </tr>' +
                                                     '<tr>' +
                                                     '<td colspan="7">' +
                                                     '<font size="6" color=#228b22><a><i type="button" onclick="fonctionnumber()" class="fa fa-plus-square"></i></a></font>' +
                                                     '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                     '</td>' +
                                                     '</tr>' +
                                                     '</div></div> ';

                                             }else if (a == 'texte'){
                                                 document.getElementById("demo").innerHTML = '<div style="background-color: ">' +
                                                     '<div  id="test" style="background-color: ">'+
                                                     '<div class="form-group row">' +
                                                     '<table  >' +
                                                     '<tr>' +
                                                     '<td colspan="3">' +
                                                     '</td>' +
                                                     '<td></td>' +
                                                     '<td></td>' +
                                                     '<td colspan="7">' +
                                                     '<div class="col-15"><select  name="selecttype"  class="form-control"  id="mySelect" onchange="myFunction()">' +
                                                     '<option  value="texte" selected>Texte</option>' +
                                                     '<option value="date">Date</option>' +
                                                     '<option value="number">Number</option></select></div>' +
                                                     '</td>' +
                                                     '</tr>'+
                                                     '<tr >'+
                                                     '<td colspan="4">' +
                                                     '<font size="3" color="#696969"> Nombre de caracteres autorisés:</font>' +
                                                     '</td>' +
                                                     '<td>' +
                                                     '<div class="col-7"><input name="nbcaractere"   type="number" class="form-control"> <i><font size="2" color="#808080">Entre 1 et 1000</font></i></div>' +
                                                     '</td>' +
                                                     '</tr> ' +
                                                     '<tr id="hide_0">' +
                                                     '<td  colspan="4">' +
                                                     '<label><font size="3"> Repanse correcte n° :</font></label>' +
                                                     '</td>' +
                                                     '<td >' +
                                                     '<div class="col-9"><input name="test" type="text" class="form-control"></div>' +
                                                     '</td>' +
                                                     '<td>' +
                                                     '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font>' +
                                                     '</td>' +
                                                     '</tr>' +
                                                     '<tr>' +
                                                     '<tr id="showPlus"> </tr>' +
                                                     '<tr>' +
                                                     '<td colspan="7">' +
                                                     '<font size="6" color=#228b22><a><i type="button" onclick="fonction()" class="fa fa-plus-square"></i></a></font>' +
                                                     '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                                     '</td>' +
                                                     '</tr>' +
                                                     '</div></div> </table>' ;

                                             }
                                         }


                                     }

                                     function fonction()
                                     {
                                        var nbr = $("#showPlus").children('tr').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<tr id="hide_'+nbr+'" ><td colspan="4"><label><font size="3"> Repanse correcte n° :</font></label></td>' +
                                             '<td><div class="col-9"><input type="text" name="test[]" class="form-control"></div></td>' +
                                             '<td><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></td></tr>' ;
                                         $("#showPlus").append(innerHTML);

                                     }

                                     function fonctiondate()
                                     {
                                         var nbr = $("#showPlus").children('tr').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<tr id="hide_'+nbr+'" ><td colspan="4"><label><font size="3"> Repanse correcte n° :</font></label></td>' +
                                             '<td><div class="col-15"><input name="date[]"  type="date" class="form-control"></div></td>' +
                                             '<td><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></td></tr>' ;
                                         $("#showPlus").append(innerHTML);
                                     }

                                     function fonctionnumber()
                                     {
                                         var nbr = $("#showPlus").children('tr').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<tr id="hide_'+nbr+'" ><td colspan="6"><label><font size="3"> Repanse correcte n° :</font></label></td>' +
                                             '<td><div class="col-7"><input name="number[]"  type="number" class="form-control"></div></td>' +
                                             '<td><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></td></tr>' ;
                                         $("#showPlus").append(innerHTML);
                                     }



                                     function fonctiontypevraioufaux()
                                     {
                                         var nbr = $("#showPlus").children('tr').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<tr id="hide_'+nbr+'" ><td colspan="6"><label><font size="3"> Repanse correcte n° :</font></label></td>' +
                                             '<td><div class="col-7"><input name="vf[]"  type="text" class="form-control"></div></td>' +
                                             '<td><div style="width: 100px">' +
                                             '<select class="form-control"  name="etat[]"><option value="1">Vrai</option><option value="0">Faux</option></select>'+
                                             '</div>' +
                                             '</td><td><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></td>' +
                                             '</tr>' ;
                                         $("#showPlus").append(innerHTML);
                                     }


                                     function fonctioncaseacocher()
                                     {
                                         var nbr = $("#showPlus").children('tr').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<tr id="hide_'+nbr+'" ><td colspan="6"><label><font size="3"> Repanse correcte n° :</font></label></td>' +
                                             '<td><div class=""><input name="case[]"  type="text" class="form-control"></div></td>'+
                                             '<td><div style="width: 150px">' +
                                             '<select class="form-control" name="etatcase[]"><option value="1">Repanse correcte</option><option value="0">Repanse incorrecte</option></select></div></td>' +
                                             '<td><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></td></tr>' ;
                                         $("#showPlus").append(innerHTML);
                                     }

                                     function fonctionliste()
                                     {
                                         var nbr = $("#showPlus").children('tr').length;
                                         nbr = nbr +1;
                                         var innerHTML =
                                             '<tr id="hide_'+nbr+'" ><td colspan="6"><label><font size="3"> Choix réponse n° :</font></label></td>' +
                                             '<td><div class=""><input name="list[]"  type="text" class="form-control"></div></td>'+
                                             '<td><div style="width: 150px">' +
                                             '<select class="form-control" name="etatlist[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select></div></td>' +
                                             '<td><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></td></tr>' ;
                                         $("#showPlus").append(innerHTML);
                                     }


                                     function fonctionhide(nbr) {
                                         $('tr#hide_'+nbr).remove();

                                     }

                                 </script>

                                 <tr>
                                    <td colspan="2">
                                        <div class="form-group row">
                                            <div class="col-xs-2">
                                                {{ form_label(formq.description_question) }}
                                            </div>
                                            <div class="col-xs-2">
                                                {{ form_widget(formq.description_question) }}
                                                {{ form_errors(formq.description_question) }}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group row">
                                            <div class="col-xs-2">
                                                {{ form_label(formq.info_bulle) }}
                                            </div>
                                            <div class="col-xs-2">
                                                {{ form_widget(formq.info_bulle) }}
                                                {{ form_errors(formq.info_bulle) }}
                                            </div>
                                            <div class="col-xs-2">
                                                &nbsp;     <font size="5"> <i class="fa fa-question-circle"></i></font>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                       <tr>
                                    <td><br>
                                        &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp;


                    <button class="btn btn-info">Ajouter à la page</button>

                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                    </td>
                                    <td>
                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;

                                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;

                                        <button type="button" style="width: 220px" class="btn btn-success">Terminer la création de Quiz</button>
                                    </td>
                                </tr>
                            </table>
                                </div>
                            {{ form_end(formq) }}
                            {% else %}
                                <div style="border-radius: 10px;"><br><br><br>
                                    <div style="background-color: 	#FF6347">
                                        <br>Vous avez atteint le nombre maximum des question dans cette page !
                                    </div>
                                    <br>
                                    <div class="text-center">
                                        {% if pos == 1 %}
                                            <a type="button"  class="btn btn-primary disabled"><i class="fa fa-chevron-circle-left"></i> Précédent</a>
                                        {% else %}
                                            <a href="{{ path('precedentPage', {'quiz':quiz.id ,'page': page.id}) }}" type="button"  class="btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Précédent</a>
                                        {% endif %}
                                        {% if pos < quiz.nbPage %}
                                            <a href="{{ path('creatNextPage', {'quiz':quiz.id, 'page': page.id }) }}" type="button" class="btn btn-primary">Suivant <i class="fa fa-chevron-circle-right"></i></a>
                                        {% else %}
                                            <a type="button" class="btn btn-primary disabled">Suivant <i class="fa fa-chevron-circle-right"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                        <div class="row" style=" width: 629px;border-left: 1.5px solid ;
                             color: #3a87ad;
                                border-right: 1.5px solid ;
                                border-bottom: 1.5px solid;
                             height: 699px; background-color:{{ page.bgColor }};
                                border-radius: 3px;
                                overflow: scroll;
                                ">
                        &nbsp;&nbsp;
                            <div class="col-sm-4">
                                    <img width="60" height="60" src="{{ asset('uploads/brochures/' ~ quiz.brochure) }}">
                            </div>
                            <div class="col-sm-6">
                                    <font color="{{ quiz.colorTitre }}" >{{ quiz.titre }}</font>
                            </div>
                            <div class="col-sm-12" >
                                <div class="list-group">
                                    {% if pos == 1 %}
                                    <label>
                                      <font color="black">
                                         <i>
                                             {{ quiz.entete }}
                                         </i>
                                      </font>
                                    </label>
                                    {% endif %}

                                    <label>
                                     <font color="{{ page.colorTitrePage }}" >
                                       <b>
                                           {{ page.titrePage }}
                                       </b>
                                     </font>
                                    </label>

                                </div>
                            </div>

                            {% if page.question|length == 0 %}

                                <label>
                                    Page vide !
                                </label>
                            {% else %}


                                    {% for j in listquestion %}
                                            <div class="col-sm-11"  >
                                            <div class="list-group">

                                                <button  type="button" style="background-color: #e1edf7" class="list-group-item list-group-item-action ">
                                                  <b>
                                                    <a data-target="#myModalDelete" data-toggle="modal">
                                                      Question n°
                                                    </a></b><br>
                                                        {{ j.textQuestion }}<br>


                                                   {% if j.typeQuestion=='Réponse courte' %}

                                                        <label>Votre reponse :</label>
                                                        <br>
                                                        <label>Choix 1</label>  <input type="checkbox" value="1"><br>
                                                        <label>Choix 2</label>  <input type="checkbox" value="2"><br>
                                                        {{ j.descriptionQuestion }}
                                                        {% else %}
                                                        {% if j.typeQuestion=='Réponse courte' %}
                                                            <label>Votre reponse :</label>
                                                            <br>
                                                            <input type="text" class="form-control">
                                                            {{ j.descriptionQuestion }}
                                                        {% endif %}
                                                    {% endif %}<br>
                                                    {% if j.infoBulle != '' %}

                                                        <div class="container">
                                                            <a href="#" data-toggle="popover" title="INFO !" data-content="{{ j.infoBulle }}"><i style="color:#4bb1cf;" class="fa fa-info-circle"></i></a>
                                                        </div>
                                                    {% endif %}

                                                </button><br>
                                                <div class="modal fade" id="editequestion-{{ j.id }}" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title"></h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                            </div>
                                                            <div class="modal-body">
                                                                {{ render(controller(
                                                                    'App\\Controller\\QuestionController::edit',
                                                                    { 'id': j.id }
                                                                )) }}
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="modal fade" id="removequestion-{{ j.id }}" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title"></h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{ render(controller(
                                                                    'App\\Controller\\QuestionController::delete',
                                                                    { 'id': j.id }
                                                                )) }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>




                                                    </div>
                                            </div>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="#" data-target="#removequestion-{{ j.id }}" data-toggle="modal"  class="fa fa-trash-o" ></a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#" data-target="#editequestion-{{ j.id }}" data-toggle="modal" class="fa fa-pencil"></a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        {% if page.question|length < page.quiz.nbQuestion %}
                                                            <a class="fa fa-file-o" href="{{ path('question_dep', {'question': j.id} )}}"></a>
                                                        {% else %}
                                                            <i style="color: grey" class="fa fa-file-o" href="{{ path('question_dep', {'question': j.id} )}}"></i>
                                                        {% endif %}
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        {% if j.actif == false  %}
                                                            <a class="fa fa-circle" href="{{ path('actif', {'question': j.id} )}}" style="color:grey"  ></a>
                                                        {% else %}

                                                                <a class="fa fa-circle" href="{{ path('actif', {'question': j.id} )}}"  style="color: #18835a"></a>

                                                        {% endif %}
                                                     </td>
                                                </tr>
                                            </table>

                                        </div>

                                    {% endfor %}
                            {% endif %}


                            {% if pos >= quiz.nbPage  %}
                            <div class="col-sm-12"   >
                                <div class="list-group">
                                    <label>
                                        <font color="black">

                                         <i>
                                             {{ quiz.pied }}
                                         </i>
                                        </font>
                                    </label>
                                </div>
                            </div>
                        {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Page de quiz "{{ quiz.titre }}"</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            {{ include('page/edit.html.twig') }}
                                        </div>

                                    </div>

                                </div>

                            </div>





                        </div>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="container" style=" width: 632px; height:52px; border-left: 1.5px solid ;
                             color: #3a87ad; background-color: #9acfea ; border-radius: 5px; " >
                            <!-- Trigger the modal with a button -->
                            <div class="form-group row">
                                <div class="col-xs-2">
                                    <font size="3">





                                        {% if pos == 1 %}
                                            <a style="color: grey" class="fa fa-chevron-circle-left"></a>
                                        {% else %}
                                            <a href="{{ path('precedentPage', {'quiz':quiz.id ,'page': page.id}) }}" class="fa fa-chevron-circle-left"></a>
                                        {% endif %}
                                        {{ pos }} / {{ quiz.nbPage}} page


                                        {% if pos < quiz.nbPage %}
                                            <a class="fa fa-chevron-circle-right" href="{{ path('creatNextPage', {'quiz':quiz.id, 'page': page.id}) }}"></a>
                                        {% else %}
                                            <a class="fa fa-chevron-circle-right" style="color: gray"></a>
                                        {% endif %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="modal fade" id="removepage-{{ page.id }}" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Supprimer page</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ render(controller(
                                                            'App\\Controller\\PageController::deletepage',
                                                            { 'page': page.id }
                                                        )) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <a href="#" data-target="#myModal" data-toggle="modal" class="fa fa-pencil"></a>
                                        &nbsp;
                                        <a href="{{ path("page_ajout", { 'id': quiz.id, 'page': page.id } ) }}" class="fa fa-plus-square-o" ></a>
                                        &nbsp;
                                        <a href="#"  data-target="#removepage-{{ page.id }}" data-toggle="modal"  class="fa fa-trash-o" ></a>
                                    </font>
                                </div>
                            </div>

                        </div>
                </div>





            </div>

        </div>
        </div>
    </div>
<br>
<br>
<br>
<br>

{% endblock %}
