{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}

{% block main %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>

    <style>

    .center {
        margin: auto;
        width: 60%;
        border: 2px solid gray;
        padding: 10px;
    }
</style>

{% if quiz.page|length == 0 %}

<label>
    Quiz vide !
</label>
{% else %}
    <div style=" padding-left: 1500px;">
        <h2>
            <a href="#" id="pdfDownloader" class="fa fa-print"></a>
            <a href="{{ path('list_quiz', {'quiz': quiz })}}" > <i class="fa fa-reply" ></i>
            </a>
        </h2>
    </div>

    <div class="center" style="background-color: ;padding-left: 10px; width: 740px; " id="printDiv" >

       <h2><font color="{{ quiz.colorTitre }}">
         {% if quiz.gras == 1 and quiz.italique == 1 %}

         <b><i>
            <h1>
                <center>  {{ quiz.titre }}</center>
            </h1>
             </i></b>
       </font>
        {% else %}
            {% if quiz.gras == 1 and quiz.italique == 0 %}
                <b><center>  {{ quiz.titre }}</center></b>
                {% else %}
                 {% if quiz.gras == 0 and quiz.italique == 1 %}
                     <i><center>  {{ quiz.titre }}</center></i>
                 {% else %}
                     <center>  {{ quiz.titre }}</center>
                 {% endif %}
            {% endif %}
        {% endif %}
       </h2>
        <div>
            {{ quiz.description }}
            <h3>
                {{ quiz.entete }}
            </h3>
            {% for p in quiz.page %}
                {% if p.question|length != 0 %}
                    <div style="border-bottom: 1px solid gray;">

                    </div>
                   <div style="background-color:{{ p.bgColor }} ">
                    {% if p.titrePage != "Vide" %}
                     <center>
                         <h4>
                             <font color="{{ p.colorTitrePage }}"> <b> {{ p.titrePage }} </b></font>
                         </h4>
                     </center>
                    {% endif %}

                    <div style="padding-left: 15px">
                        {% for key, j in p.question %}
                            <br>
                            <label><b><font color="">Question n°{{ key+1 }}</font></b></label>
                            <br>
                            {% if j.actif == true %}
                                {% if j.typeQuestion =='Vrai/faux' %}
                                    <label>
                                        Répondre par vrai ou faux aux questions suivantes:
                                    </label>
                                    <br>
                                    {{ j.textQuestion }}
                                    <br>
                                    {{ j.descriptionQuestion }}
                                    <ul>


                                        {% for p in j.reponse %}
                                            {% if p.question == j %}

                                                <div  class="row" >

                                                    <div class="col-sm-7" style="background-color:;">
                                                        <li>{{ p.reponseValide }}</li>
                                                    </div>
                                                    <div class="col-sm-4" style="background-color:;">

                                                        <input type="text"  class="form-control">
                                                    </div>

                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}


                                {% if j.typeQuestion =='Liste déroulante' %}


                                    {{ j.textQuestion }}
                                    <br>

                                    {{ j.descriptionQuestion }}<br>
                                    {% for key1, i in j.reponse %}
                                        {% if i.question == j %}
                                            <ul>
                                                {{ key1+1 }}) {{ i.reponseValide }}
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}



                                {% if j.typeQuestion == 'Case à cocher' %}


                                    {{ j.textQuestion }}
                                    <br>
                                    {{ j.descriptionQuestion }}

                                    {% for p in j.reponse %}
                                        {% if p.question == j %}
                                            <div  class="row" >

                                                <div class="col-sm-9" style="background-color:;">
                                                    <ul>{{ p.reponseValide }}</ul>
                                                </div>
                                                <div class="col-sm-2" style="background-color:;">
                                                    <input type="checkbox" >

                                                </div>
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if j.typeQuestion =='Calculée' %}
                                    {{ j.textQuestion }}
                                    <br>
                                    {{ j.descriptionQuestion }}

                                    {% for p in j.reponse %}
                                        {% if p.question == j %}
                                            <table>
                                                <tr>
                                                    <td colspan="3">
                                                        {{ p.descriptionformule }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Formule:
                                                    </td>
                                                    <td colspan="3">
                                                        <input  style="width: 500px; height: 100px" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Resultat:
                                                    </td>
                                                    <td>
                                                        <input style="width: 500px;" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                            </table>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}


                                {% if j.typeQuestion =='Date' %}
                                    {{ j.textQuestion }}
                                    <br>
                                    {{ j.descriptionQuestion }}
                                    <br>
                                    <ul>

                                        {% for p in j.reponse %}
                                            {% if p.question == j %}
                                                <li>
                                                    <div  class="row" >
                                                        <div class="col-sm-7" style="background-color:;">
                                                            {{ p.descriptiondate }}
                                                        </div>
                                                        <div>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>

                                {% endif %}

                                {% if j.typeQuestion =='Nombre' %}
                                    {{ j.textQuestion }}
                                    <br>
                                    {{ j.descriptionQuestion }}
                                    <br>
                                    <ul>
                                    {% for p in j.reponse %}
                                        {% if p.question == j %}

                                             <li>
                                                 <div  class="row" >

                                                     <div class="col-sm-7" style="background-color:;">
                                                         {{ p.desnumber }}
                                                     </div>
                                                     <div class="col-sm-5" style="background-color:;">

                                                         <input type="text" class="form-control">
                                                     </div>
                                             </li>

                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}


                                {% if j.infoBulle != '' %}

                                    <div class="container">

                                        <font color="#6495ed">
                                            INFO :
                                        </font> {{ j.infoBulle }}
                                    </div>
                                {% endif %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </div>


                       {% endif %}

                <div style="border-bottom: 1px solid gray;">

                </div>
                   </div>
            {% endfor %}
           <h3>
               {{ quiz.pied }}
           </h3>
        </div>
    </div>

{% endif %}

    <script>
        $(document).ready(function(){

            //pdf 다운로드
            $("#pdfDownloader").click(function(){

                html2canvas(document.getElementById("printDiv"), {
                    onrendered: function(canvas) {

                        var imgData = canvas.toDataURL('image/png');
                        console.log('Report Image URL: '+imgData);
                        var width = 215;
                        var height = document.getElementById('printDiv').scrollHeight;
                        console.log(height);

                        var doc = new jsPDF('p', 'mm', [height, width]); //210mm wide and 297mm high

                        doc.addImage(imgData, 'PNG', 10, 10);
                        doc.save('sample.pdf');
                    }
                });

            });


        })
    </script>
{% endblock %}
