

<script>
    $( function() {
        $( "#accordion" ).accordion({
            collapsible: true
        });
    } );
    $( function() {
        $( "#selectable" ).selectable();
    } );
</script>
<script>
    $( function() {
        $( "#menu" ).menu();
    } );
</script>
<style>

    .ui-menu { width: 150px; }
</style>

<div class="w3-panel w3-pale-green" >

        <div class="row">

            <div class="col-sm-8" style=" width: 750px ">


                <div class="modal fade" id="showquiz-{{ quiz.id }}" role="dialog">
                    <div class="modal-dialog modal-xl">

                        <!-- Modal content-->
                        <div class="modal-content" >
                            <div class="modal-header" style="background-color: #31b0d5">
                                <h2 class="modal-title"><font color="white"> Visualiser les pages de quiz <span class="titrequiz">" {% if quiz.titre|length > 50 %}{{ quiz.titre|slice(0, 30) ~ '...' }}{% else %}{{ quiz.titre }}{% endif %}</span> "</font></h2>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body" style=" overflow: scroll;">
                                {{ render(controller(
                                    'App\\Controller\\AdminController::showqAction',{'quiz': quiz.id}
                                )) }}
                            </div>
                        </div>
                    </div>

                </div>

                            <div class="container" >

                                  <div class="row">
                                    <div class="col-1">
                                        <h4>
                                            <font color="red"> <a href="{{ path('showq',{ 'quiz': quiz.id }) }}" style="font-size:35px;color:	#1E90FF;" class="fa fa-eye" data-target="#showquiz-{{ quiz.id }}"  data-toggle="modal" ></a></font>
                                        </h4>
                                    </div>
                                    <div class="col-1">
                                        <h4>
                                            <a href="{{ path('dupliqueAction',{ 'quiz': quiz.id }) }}" style="font-size:35px;color:#1E90FF;" class="fa fa-files-o"></a>
                                        </h4>
                                    </div>
                                    <div class="col-1" >
                                        <h4>
                                            {% if quiz.sendMail == 1 %}
                                                <a href="{{ path('send', {'quiz': quiz.id})}}" style="font-size:35px;color:#1E90FF;" class="fa fa-paper-plane"></a>
                                            {% else %}
                                                <i style="color: grey" style="font-size:35px;color:#1E90FF;"  class="fa fa-paper-plane"></i>
                                            {% endif %}

                                        </h4>
                                    </div>

                                    <div class="col-1">
                                        {% if quiz.imprimePdf == 1 %}
                                            <h4>
                                                <a href="{{ path('imprimerquiz', {'quiz': quiz.id }) }}" style="font-size:35px;color:#1E90FF;" class="fa fa-print"></a>
                                            </h4>
                                        {% else %}
                                            <h4>
                                                <i style="color: grey"  style="font-size:35px;color:#1E90FF;" class="fa fa-print"></i>
                                            </h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>



                <div class="w3-panel w3-pale-green">

                    <div class="w3-panel w3-pale-green">
                        <div class="card-body">



                            <div class="row">
                                {% if quiz.brochure != "null" %}

                                <div class="col-sm-3">
                                    <img width="150" height="150" src="{{ asset('uploads/brochures/' ~ quiz.brochure) }}">
                                </div>
                                    <div class="col-sm-9" style="padding-left:20px">
                                        <h2>  {{ quiz.titre }}</h2>
                                    </div>
                                    {% else %}
                                        <div class="" style="padding-left:20px">
                                            <h2>  {{ quiz.titre }}</h2>
                                        </div>
                                {% endif %}


                            </div>
                            <br>
                            <br>


                                 <label>
                                   <font color="black">
                                       Description
                                   </font>
                                 </label>
                                   <div>
                                            <label>{{ quiz.description }}</label>
                                        </div>

                            <table class="table" >
<tbody>
                                <tr>
                                    <th>Date création de quiz</th>
                                    <td>
                                        <div>
                                            <font size="5"> {{ quiz.datecreerquiz ? quiz.datecreerquiz|date('Y-m-d') : '' }}</font>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Nombre actuel des pages</th>
                                    <td> <label>{{ quiz.page|length }}</label></td>

                                </tr>
                                <tr>
                                    <th>Nombre maximum des pages</th>
                                    <td> <label><div id="value-max-page">{{ quiz.nbPage }}</div></label> &nbsp;&nbsp;<a id="update-max-page"   style="font-size:25px;color:#1E90FF;"  data-id="{{ quiz.id }}" href="javascript:;" class="fa fa-pencil"></a>
                                        <div class="modal fade" id="moodal-update-max-page" role="dialog">
                                            <div class="modal-dialog modal-xm">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header" style="background: #7aba7a;">
                                                        {#<h4 class="modal-title">{{ quiz.titre }}</h4>#}
                                                        <h5 class="modal-title">
                                                            <font color="white"> Modifier Nombre maximum des pages</font>
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body-update-max-page">

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-success" data-id="{{ quiz.id }}" id="btn-update-max-page">Update</button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </td>

                                </tr>
                                </tbody>
                            </table>

                            <script>
                                $(document).ready(function(){
                                    $("#update-max-page").click(function(){
                                        var  id = $(this).data('id');
                                        var url = "{{ path('form_update_max_page', {'quiz': 'id_quiz'}) }}";
                                        url = url.replace('id_quiz', id);
                                        $.ajax({
                                            type: "POST",
                                            url: url,
                                            success: function(content){
                                                $('.modal-body-update-max-page').html(content);
                                                $("#moodal-update-max-page").modal('show');
                                            }
                                        });

                                    });
                                    $('#btn-update-max-page').click(function(){
                                        var  id = $(this).data('id');
                                        var  max = $('#form_max').val();
                                        var url = "{{ path('update_max_page', {'quiz': 'id_quiz', 'max': 'max_value'}) }}";
                                        url = url.replace('id_quiz', id);
                                        url = url.replace('max_value', max);
                                        $.ajax({
                                            type: "POST",
                                            url: url,
                                            data: {id: id, max: max},
                                            success: function(response){
                                                $('#value-max-page').html(max);
                                                $("#moodal-update-max-page").modal('hide');
                                                myFunction(id);

                                            }
                                        });

                                    });
                                    $('#add-page-to-quiz').click(function(){
                                        var  id = $(this).data('id');
                                        var url = "{{ path('add_page_to_quiz', {'quiz': 'id_quiz'}) }}";
                                        url = url.replace('id_quiz', id);
                                        $.ajax({
                                            type: "POST",
                                            url: url,
                                            data: {id: id},
                                            success: function(response){
                                                myFunction(id);
                                            }
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-4" style="background-color: ;">

                 <div style="background-color: #b9def0; width: 410px;">
                        <div class="card-body" style="background-color: #b9def0; width: 400px; ">

                            <div class="row">
                                <div class="col-2">
                                    {% if(quiz.nbPage  > quiz.page|length) %}
                                        <button style=" width: 40px; height: 40" data-id="{{ quiz.id }}" class="btn btn-info" id="add-page-to-quiz">
                                            <i class="fa fa-plus-square-o" ></i>
                                        </button>
                                    {% else %}
                                        <button disabled style="background-color: ; width: 40px; height: 40px">
                                            <i class="fa fa-plus-square-o" ></i>
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="col-8">
                                    <center><h3>PAGES</h3></center>

                                </div>
                            </div>

                            <div id="accordion">

                                {% for page in quiz.page %}


                                  {% if page.titrePage == "Vide" %}
                                <center>  Titre de page est vide</center>
                                    {% else %}
                                        <center>  {{ page.titrePage }}</center>
                                        {% endif %}
                                    <div>
                                       <center> <label>Titre de page:</label>
                                           {% if page.titrePage == null %}
                                            <h3>VIDE</h3>
                                    {% else %}
                                         <h3>{{ page.titrePage }}</h3>
                                           {% endif %}

                                       <label>Nombre des questions :   {{ page.question|length }}</label>

                                       </center>

                                        <div class="modal fade" id="showpagequestion-{{ page.id }}" role="dialog">
                                            <div class="modal-dialog modal-lg">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header" style="background-color: #33b5e5">
                                                        <h4 class="modal-title"><font color="white"> Visualiser la page</font></h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body" style=" background-color: {{ page.bgColor }}; overflow: scroll;">
                                                        {{ render(controller(
                                                            'App\\Controller\\AdminController::showpagequestion',{'page': page.id}
                                                        )) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="modal fade" id="removepage-{{ page.id }}" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header" style="background-color:red">
                                                        <h4 class="modal-title"><font  color="white">Supprimer page</font></h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ render(controller(
                                                            'App\\Controller\\AdminController::deletepage2',
                                                            {  'page': page.id,'quiz': quiz.id }
                                                        )) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <br>
                                        <br>
                                       <center>
                                           <button style="background-color: #b9def0; width: 40px; height: 40px">
                                               <a href="{{ path('modifier_page', {'quiz':quiz.id ,'page': page.id}) }}" class="fa fa-pencil"></a>
                                           </button>
                                           <button style="background-color: #b9def0; width: 40px; height: 40px">
                                               <a  href="#"  data-target="#removepage-{{ page.id }}" data-toggle="modal" class="fa fa-trash-o"></a>
                                           </button>
                                           <button style="background-color: #b9def0; width: 40px; height: 40px">
                                               <i class="fa fa-eye" data-target="#showpagequestion-{{ page.id }}"  data-toggle="modal"></i>
                                           </button>

                                       </center>

                                    </div>


                                {% endfor %}

                            </div>
                        </div>
                    </div>
            </div>


        </div>
    </div>
