{% extends '/bundles/EasyAdmin/default/layout.html.twig' %}


{% set _content_title = 'Espace d administartion' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}
<style>
    .aa {
        width: 35px;
        height: 4px;
        background-color: #444444;
        margin: 6px 0;
    }

</style>
    <div class="form-group row">
        <div>
            <div class="aa"></div>
            <div class="aa"></div>
            <div class="aa"></div>
        </div>
        &nbsp; &nbsp;
        <h1 class="title">{{ _content_title }}</h1>
    </div>
{% endblock %}
{% block main %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  >



    <div class="panel panel-success">

        <div class="row">
            <div class="col-sm-3" style="background-color: ">
                <div class="panel panel-success">
                    <div class="card bg-info text-white">
                        <div class="card-body"><center>LISTE QUIZ</center></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" style="background-color: ">
                <div class="panel panel-success">
                    <div class="card bg-info text-white">
                        <div class="card-body"> <center>CONTINUE DE QUIZ</center></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-3" >
                            <table>

                                <tr>
                                    <td colspan="" >
                                        <div class="form-group row">
                                            <div class="col-xs-1" >

                                                {% for q in listequiz %}
                                                    <div style=" width:373px;border-bottom: 1px solid ;
                                                             color: #3a87ad; ">
                                                        <button style="width: 373px" class="list-group-item" href="#" onclick="myFunction( '{{ q.id }}','{{ q.description }}', '{{ q.brochure }}', '{{ q.titre }}' )" >{{ q.titre }}</button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                            <script>

                                function myFunction(p1,p2,p3,p4) {
                                    var url = '{{ path('get_info_quiz', {'quiz': 'quiz_id'}) }}';
                                    url = url.replace("quiz_id", p1);

                                    $.ajax({
                                        url: url,
                                        method: 'POST',
                                        success: function(result){
                                            $("#test").html(result);
                                        }
                                    });

                                }



                            </script>


                        </div>
                        <div class="col-sm-9">

                            <div class="form-group col">
                                <center>
                                    <div id="test" style="background-color:  ; width: auto; height: auto"></div>
                                    <br>
                                    <div id="test2" style="background-color:  ; width: auto; height: auto">


                                    </div>

                                </center>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




{% endblock %}