
{% block main %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>


    .aa {
        width: 35px;
        height: 4px;
        background-color: #1f6377;
        margin: 6px 0;
    }
    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 5px;
        background-color: #cae8ca;
        border: 2px solid #4CAF50;
    }
    input[type=text]:focus {
        background-color: lightblue;
    }

    input[type=number]:focus {
        background-color: #7aba7b;
    }
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 220%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;

    }

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;

    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;

    }

</style>


    <div class="">

        {% if page.question|length < page.quiz.nbQuestion %}
            {{ form_start(formq, {'method': 'post' }) }}


        <script>
            function myFunctiona() {
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }

            function myFunctionaa(p1, p2, p3) {
                var url = '{{ path('infoPage2', {'quiz': 'quiz_id' , 'quizactuel': 'quiz_actuel' , 'pageactuel': 'page_actuel'}) }}';
                url = url.replace("quiz_id", p1);
                url = url.replace("quiz_actuel", p2);
                url = url.replace("page_actuel", p3);

                $.ajax({
                    url: url,
                    method: 'POST',
                    success: function(result){
                        $("#importe").html(result);
                    }
                });

            }




            function importe() {
                document.getElementById("importe").innerHTML = '<div class="row"><div class="col-sm-4" ><h3>Selectionner un quiz</h3></div><div style="padding-left:58%" class="col-sm-4" >' +
                    '<h3><a style="padding:%" href="{{ path('newQuestion', {'quiz':quiz.id , 'page':page.id}) }}"><i class="fa fa-reply"></i></a></h3></div></div><div class="form-group row"> <div class="col-xs-1" >' +
                    '<input type="text" id="myInput" onkeyup="myFunctiona()" placeholder="Search for names.." title="Type in a name">' +
                    '                                <div style=" width:373px; ">' +
                    '                                    <ul id="myUL">' +
                    '                                        {% for q in listquiz %}' +
                    '                                            {% if q.user == user and q != quiz %}' +
                    '                                                <li><a style="width: 220%" href="#" onclick="myFunctionaa( {{ q.id }}, {{ quiz.id }}, {{ page.id }} )" >{{ q.titre }}</a></li>' +
                    '                                            {% endif %}' +
                    '                                        {% endfor %}' +
                    '                                    </ul>' +
                    '                                </div>' +
                    '</div></div>';
            }

        </script>
        <div id="question"  style="border-radius: 10px ;">


            <br>




            <div style="background-color:;" id="importe">
                <button href="#" type="button" onclick="importe()" style="width: 100%" class="btn btn-outline-info">Importer question d'un autre quiz</button>
                <br>
                <br>
                <br>






            <div id="question"  style="border-radius: 10px;">
                <table  >
                    <tr>
                        <td>
                            {% if page.question|length < page.quiz.nbQuestion %}
                                <i>Question n° {{ (page.question|length)+1 }} : </i>
                            {% else %}
                                <i>Page n°{{ pos }} est épuisé</i>
                            {% endif %}
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp;

                        </td>
                        <td colspan="">
                            <i> {{ page.question|length }} / {{ quiz.nbQuestion }} questions dans la page {{ pos }}</i>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="form-group row">
                                <div class="col-xs-2">

                                    {{ form_label(formq.text_question) }}
                                </div>
                                {{ form_widget(formq.text_question) }}
                                <small style="color: red">
                                    <font size="2">
                                        {{ form_errors(formq.text_question) }}
                                    </font>
                                </small>
                            </div>
                        </td>
                    </tr>
                </table>

                {{ form_label(formq.type_question) }}
                <div class="col-sm-7">
                    {{ form_widget(formq.type_question, { 'id': 'question_type' }) }}
                    <small style="color: red">
                        <font size="2">
                            {{ form_errors(formq.type_question) }}
                        </font>
                    </small>
                </div>



                <script>

                    if($('#question_type').val() == ''){
                        $('#question_type').on('change', function() {
                            var x = document.getElementById("question_type").value;

                            var i=0;

                            if(x == 'Vrai/faux') {
                                $('#showType').html(
                                    '<div id="demo" style="background-color: ">' +
                                    '<div style="background-color: "><label>Choix réponses de votre question</label></div>' +

                                    '<div id="hide_0"  class="row">' +
                                    '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Choix :</font></label></div>' +
                                    '    <div class="col-sm-6" style="background-color:;"><input name="vf[]"  type="text" class="form-control"></textarea> </div>' +
                                    '    <div class="col-sm-3" style="background-color:;"><select class="form-control"  name="etat[]"><option value="1">Vrai</option><option value="0">Faux</option></select></div>' +
                                    '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                    ' <br><br>' +
                                    ' </div>' +
                                    '<div id="showPlus"> </div>' +

                                    '<font size="6" color=#228b22><a><i type="button" onclick="fonctiontypevraioufaux()" class="fa fa-plus-square"></i></a></font>' +
                                    '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +
                                    '</div>');
                            }
                            else {
                                if (x=='Case à cocher') {
                                    $('#showType').html('<div id="demo" style="background-color: ">' +
                                        '<div  style="background-color: "><label>Choix des réponses afficher</label></div>' +


                                        '<div id="hide_0" ><label><font size="3"> Repanse correcte n° :</font></label>' +
                                        '<div class=""><input name="case[]"  type="text" class="form-control"></div>'+
                                        '<div style="width: 150px">' +
                                        '<select class="form-control" name="etatcase[]"><option value="1">Correcte</option><option value="0">Incorrecte</option></select></div>' +
                                        '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div> <br>' +
                                        ' </div>' +
                                        '<div id="showPlus"> </div>' +

                                        '<font size="6" color=#228b22><a><i type="button" onclick="fonctioncaseacocher()" class="fa fa-plus-square"></i></a></font>' +
                                        '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                        '<div id="divPlus"></div>' +
                                        '</div>');
                                }else{
                                    if (x=='Liste déroulante') {
                                        $('#showType').html('<div id="demo" style="background-color: ">' +
                                            '<div  id="test" style="background-color: "><label>Choix réponses de votre liste</label>' +
                                            '<div id="hide_0"  class="row" >' +

                                            '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Choix réponse  :</font></label></div>' +
                                            '    <div class="col-sm-6" style="background-color:;"><input name="list[]"  type="text" class="form-control"></div>' +
                                            '    <div class="col-sm-3" style="background-color:;"><select class="form-control" name="etatlist[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select></div>' +
                                            '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                            ' <br><br>' +
                                            ' </div>'+
                                            '<div id="showPlus"> </div>' +

                                            '<font size="6" color=#228b22><a><i type="button" onclick="fonctionliste()" class="fa fa-plus-square"></i></a></font>' +
                                            '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                            '<div id="divPlus"></div>' +
                                            '</div></div>');
                                    }else {
                                        if (x=='Calculée') {
                                            $('#showType').html('<div id="demo" style="background-color: ">' +
                                                '<div  style="background-color: "><label>Question calculée</label>' +


                                                '<div id="hide_0" >' +
                                                '<div  class="row" >' +

                                                '    <div class="col-sm-4" style="background-color:;"><label><font size="2"> Description formule n° :</font></label></div>' +
                                                '    <div class="col-sm-4" style="background-color:;"><label><font size="2"> Formule :</font></label></div>' +
                                                '    <div class="col-sm-3" style="background-color:;"><label><font size="2"> Resultat :</font></label></div>' +

                                                '</div>'+


                                                '<div  class="row" >' +

                                                '    <div class="col-sm-4" style="background-color:;"><input  name="descriptionF[]" type="text" class="form-control"></div>' +
                                                '    <div class="col-sm-4" style="background-color:;"><input  name="formule[]" type="text" class="form-control"></div>' +
                                                '    <div class="col-sm-3" style="background-color:;"><input  name="resultatF[]" type="text" class="form-control"></div>' +
                                                '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +

                                                '</div>'+

                                                ' <br>' +
                                                ' </div>'+

                                                '<div id="showPlus"> </div>' +

                                                '<font size="6" color=#228b22><a><i type="button" onclick="fonctioncalcule()" class="fa fa-plus-square"></i></a></font>' +
                                                '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                                '<div id="divPlus"></div>' +
                                                '</div></div>');

                                        }else {
                                            if (x=='Nombre') {
                                                $('#showType').html('<br><div id="demo" style="background-color: ">' +



                                                    '<div id="hide_0" ><br>' +

                                                    ' <div  class="row">' +
                                                    '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Description :</font></label></div>' +
                                                    '    <div class="col-sm-8" style="background-color:;"><textarea  name="desnum[]" type="text" class="form-control"></textarea> </div>' +
                                                    '  </div><br>' +
                                                    '<div class="row"><br>' +
                                                    ' <div class="col-sm-4" style="background-color:;"><label><font size="3"> Reponse correcte n° :</font></label></div>' +
                                                    ' <div class="col-sm-4" style="background-color:;"><input  name="number[]" type="number" class="form-control"></div>' +
                                                    ' <div class="col-sm-" style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +

                                                    '</div>' +
                                                    '</div>'+
                                                    '<div id="showPlus"> </div>' +
                                                    '<font size="6" color=#228b22><a><i type="button" onclick="fonctionnumber()" class="fa fa-plus-square"></i></a></font>' +
                                                    '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                                    '</div></div> ');

                                            }
                                            else {
                                                if (x == 'Date') {
                                                    $('#showType').html('<br><div id="demo" style="background-color: ">' +

                                                        ' <div id="hide_0" class="row"><br><br>' +
                                                        '    <div class="col-sm-2" style="background-color:;"><label><font size="3">Description date :</font></label></div>' +
                                                        '    <div class="col-sm-6" style="background-color:;"><textarea  type="text" name="desc[]"  class="form-control"></textarea> </div>' +
                                                        '    <div class="col-sm-3" style="background-color:;"><input name="date[]" type="date" class="form-control"></i></a></font></div>' +
                                                        '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide(0)" class="fa fa-trash-o"></i></a></font></div>' +
                                                        ' <br><br><br><br> </div>'+




                                                        '</div>' +
                                                        '<div id="showPlus"> </div>' +

                                                        '<font size="6" color=#228b22><a><i type="button" onclick="fonctiondate()" class="fa fa-plus-square"></i></a></font>' +
                                                        '<label><font size="2"> <i><u>Cliquez pour ajouter une autre élément</u></i></font></label>' +

                                                        '<div id="divPlus"></div>' +
                                                        '</div></div>');
                                                }
                                            }
                                        }


                                    }

                                }
                            }



                        });
                    }else{
                        $('#showType').html('');
                    }


                    function fonction()
                    {
                        var nbr = $("#showPlus").children('div').length;
                        nbr = nbr +1;
                        var innerHTML =
                            '<div id="hide_'+nbr+'" class="row"><br><br>' +
                            '    <div class="col-sm-3" style="background-color:;"><label><font size="3"> Reponse correcte :</font></label></div>' +
                            '    <div class="col-sm-8" style="background-color:;"><input name="test[]" type="text" class="form-control"></div>' +
                            '    <div class="col-sm-" style="background-color:;"><font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                            '  </div>' ;
                        $("#showPlus").append(innerHTML);

                    }

                    function fonctiondate()
                    {
                        var nbr = $("#showPlus").children('div').length;
                        nbr = nbr +1;
                        var innerHTML =
                            ' <div id="hide_'+nbr+'" class="row">' +
                            '' +
                            '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Date :</font></label></div>' +
                            '    <div class="col-sm-6" style="background-color:;"><textarea  type="text" name="desc[]"  class="form-control"></textarea> </div>' +
                            '    <div class="col-sm-3" style="background-color:;"><input name="date[]" type="date" class="form-control"></i></a></font></div>' +
                            '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                            ' <br><br><br><br> </div>' ;
                        $("#showPlus").append(innerHTML);
                    }

                    function fonctionnumber()
                    {
                        var nbr = $("#showPlus").children('div').length;
                        nbr = nbr +1;
                        var innerHTML ='<div id="hide_'+nbr+'"><br>' +

                            ' <div  class="row">' +
                            '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Description  :</font></label></div>' +
                            '    <div class="col-sm-8" style="background-color:;"><textarea name="desnum[]" type="text" class="form-control"> </textarea></div><br>' +
                            '  </div><br>' +
                            '<div class="row"><br><br>' +
                            ' <div class="col-sm-4" style="background-color:;"><label><font size="3"> Reponse correcte n° :</font></label></div>' +
                            ' <div class="col-sm-4" style="background-color:;"><input  name="number[]" type="number" class="form-control"></div>' +
                            ' <div class="col-sm-" style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +

                            '</div>' +
                            '</div>' ;
                        $("#showPlus").append(innerHTML);
                    }



                    function fonctiontypevraioufaux()
                    {
                        var nbr = $("#showPlus").children('div').length;
                        nbr = nbr +1;
                        var innerHTML =

                            '<div id="hide_'+nbr+'"  class="row">' +
                            '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Choix :</font></label></div>' +
                            '    <div class="col-sm-6" style="background-color:;"><input name="vf[]"  type="text" class="form-control"></textarea> </div>' +
                            '    <div class="col-sm-3" style="background-color:;"><select class="form-control"  name="etat[]"><option value="1">Vrai</option><option value="0">Faux</option></select></div>' +
                            '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                            ' <br><br>' +
                            ' </div>' ;
                        ;
                        $("#showPlus").append(innerHTML);
                    }


                    function fonctioncaseacocher()
                    {
                        var nbr = $("#showPlus").children('div').length;
                        nbr = nbr +1;
                        var innerHTML =
                            '<div id="hide_'+nbr+'" ><label><font size="3"> Repanse correcte  :</font></label>' +
                            '<div class=""><input name="case[]"  type="text" class="form-control"></div>'+
                            '<div style="width: 150px">' +
                            '<select class="form-control" name="etatcase[]"><option value="1">Correcte</option><option value="0">Incorrecte</option></select></div>' +
                            '<font size="5" color=#00bfff> <a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' ;
                        $("#showPlus").append(innerHTML);
                    }

                    function fonctionliste()
                    {
                        var nbr = $("#showPlus").children('div').length;
                        nbr = nbr +1;
                        var innerHTML =
                            '<div id="hide_'+nbr+'"  class="row" >' +

                            '    <div class="col-sm-2" style="background-color:;"><label><font size="3"> Choix réponse  :</font></label></div>' +
                            '    <div class="col-sm-6" style="background-color:;"><input name="list[]"  type="text" class="form-control"></div>' +
                            '    <div class="col-sm-3" style="background-color:;"><select class="form-control" name="etatlist[]"><option value="1">Choix correcte</option><option value="0">Choix incorrecte</option></select></div>' +
                            '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +
                            ' <br><br>' +
                            ' </div>' ;

                        $("#showPlus").append(innerHTML);
                    }


                    function fonctioncalcule()
                    {
                        var nbr = $("#showPlus").children('div').length;
                        nbr = nbr +1;
                        var innerHTML =

                            '<div id="hide_'+nbr+'">' +
                            '<div  class="row" >' +

                            '    <div class="col-sm-4" style="background-color:;"><label><font size="2"> Description formule n° :</font></label></div>' +
                            '    <div class="col-sm-4" style="background-color:;"><label><font size="2"> Formule :</font></label></div>' +
                            '    <div class="col-sm-3" style="background-color:;"><label><font size="2"> Resultat :</font></label></div>' +

                            '</div>'+

                            '<div  class="row" >' +

                            '    <div class="col-sm-4" style="background-color:;"><input  name="descriptionF[]" type="text" class="form-control"></div>' +
                            '    <div class="col-sm-4" style="background-color:;"><input  name="formule[]" type="text" class="form-control"></div>' +
                            '    <div class="col-sm-3" style="background-color:;"><input  name="resultatF[]" type="text" class="form-control"></div>' +
                            '    <div style="background-color:;"><font size="5" color=#00bfff><a><i type="button"  onclick="fonctionhide('+nbr+')" class="fa fa-trash-o"></i></a></font></div>' +

                            '</div>'+

                            ' <br>' +
                            ' </div>'

                        $("#showPlus").append(innerHTML);
                    }




                    function fonctionhide(nbr) {
                        $('div#hide_'+nbr).remove();

                    }

                </script>
                <div id="showType"></div>


                <div class="col-xs-7">
                    {{ form_label(formq.description_question) }}
                </div>
                <div class="col-xs-2">
                    {{ form_widget(formq.description_question) }}
                    {{ form_errors(formq.description_question) }}
                </div>
                <br><i class="fa fa-question-circle"></i>
                {{ form_label(formq.info_bulle) }}


                <div  class="row" >

                    <div class="col-sm-12"> {{ form_widget(formq.info_bulle) }}</div>
                </div>
                <br>




                <table>
                    <tr>
                        <td>

                            <button class="btn btn-info">Ajouter </button>

                        </td>
                        <td>
                            <div style=" padding-left: 720px;">

                                <a href="{{ path('modifier_page', { 'quiz': quiz.id,  'page': page.id}) }}">
                                    <font size="4">
                                        <i class="fa fa-reply" ></i>
                                    </font>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>



            </div>
            {{ form_end(formq) }}
        {% else %}
            <div><br><br><br>
                <center>
                    <div style="width: 700px">
                        <br><center>Vous avez atteint le nombre maximum des question dans cette page !</center><br>
                    </div>
                    <br>
                </center>
                <div style=" padding-left: 720px;">

                    <a href="{{ path('modifier_page', { 'quiz': quiz.id,  'page': page.id}) }}">
                        <font size="4">
                            <i class="fa fa-reply" ></i>
                        </font>
                    </a>
                </div>

            </div>
        {% endif %}

    </div>

{% endblock %}