{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}


{% set _content_title = 'Espace d administartion' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <div class="form-group row">
        <div>
            <div class="aa"></div>
            <div class="aa"></div>
            <div class="aa"></div>
        </div>
        &nbsp; &nbsp;
        <h1 class="title">{{ _content_title }}</h1>
    </div>
{% endblock %}
{% block main %}


    {{ form_start(form) }}
    E-mail : {{ form_widget(form.email) }}
    <br>
    <br>
    Description : <br> {{ form_widget(form.description) }}
    <br>
    <input type="submit" value="Envoyer" class="btn btn-info">

    <div style=" padding-left: 98%;">

        <a href="{{ path('list_quiz') }}">
            <font size="4">
                <i class="fa fa-reply" ></i>
            </font>
        </a>
    </div>

    {{ form_end(form) }}


{% endblock %}