<div style="background-color:{{ p.bgColor }}; padding-left: -200px">

   <center>
       <h2>Titre page :<br><font color="{{ p.colorTitrePage }}">{{ p.titrePage }}</font></h2>
   </center>
{% if p.question|length == 0 %}

    <center>
     <div style="background-color: #e5e5e5">
         <h1>
             Page vide !
         </h1>
     </div>
    </center>
{% else %}
    {% for key,j in p.question %}
       <div style="padding-left: 10px ; border-top: 1px solid ">
           <h3>Question n° {{ key+1 }}</h3>
       </div>

        <div style="padding-left: 20px">

        {% if j.typeQuestion =='Vrai/faux' %}
            {{ j.textQuestion }}
            <br>
            {{ j.descriptionQuestion }}
<br>
            {% for p in j.reponse %}
                {% if p.question == j %}

                    <div class="row" >
                        <div class="col-8">
                            {{ p.reponseValide }}

                        </div>
                        <div class="col-1">
                            <div style="width: 100px;">

                                <select style="width: 150px;" class="form-control">
                                    <option>
                                        Vrai
                                    </option>
                                    <option>
                                        Faux
                                    </option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>




                {% endif %}
            {% endfor %}

        {% endif %}


        {% if j.typeQuestion =='Liste déroulante' %}
            {{ j.textQuestion }}
            <br>
            <div class="row" >
                <div class="col">
            {{ j.descriptionQuestion }}
                </div>
            </div>

                <div style="width: 100px;">
                            <select style="width: 350px;" class="form-control">
                                {% for i in j.reponse %}
                                    {% if i.question == j %}

                                        <option>
                                            {{ i.reponseValide }}
                                        </option>

                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
    <br>
    <br>
    <br>

        {% endif %}



        {% if j.typeQuestion == 'Case à cocher' %}

            {{ j.textQuestion }}
            <br>
            {{ j.descriptionQuestion }}

            {% for p in j.reponse %}
                {% if p.question == j %}
                    <div class="row" >
                        <div class="col-8">
                                {{ p.reponseValide }}
                        </div>
                        <div class="col-4">

                        <div style="width: 100px;">
                                    <input type="checkbox" >
                                </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        {% endif %}

        {% if j.typeQuestion =='Calculée' %}
            {{ j.textQuestion }}
            <br>
            {{ j.descriptionQuestion }}

            {% for p in j.reponse %}
                {% if p.question == j %}
                    <table>
                        <tr>
                            <td colspan="3">
                                {{ p.descriptionformule }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b> Formule:</b>
                            </td>
                            <td colspan="3">
                                <input  style="width: 400px;" class="form-control" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Resultat:</b>
                            </td>
                            <td>
                                <input style="width: 400px;" class="form-control" type="text">
                            </td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        {% endif %}


        {% if j.typeQuestion =='Date' %}
            {{ j.textQuestion }}
            <br>
            {{ j.descriptionQuestion }}
            <br>
            <br>
            {% for p in j.reponse %}
                {% if p.question == j %}
            <div class="row" >
                <div class="col-8">
                    {{ p.descriptiondate }}<br>
                </div>
                <div class="col-3">
                    <input type="date" class="form-control">
                </div>
            </div>
                {% endif %}
            {% endfor %}
            <br>
        {% endif %}

        {% if j.typeQuestion =='Nombre' %}
            {{ j.textQuestion }}
            <br>
            {{ j.descriptionQuestion }}
            <br>
            {% for p in j.reponse %}
                {% if p.question == j %}
            <div class="row" >
                <div class="col-8">
                    {{ p.desnumber }}<br><br>
                </div>
                <div class="col-3">

                <input type="number" class="form-control">
                </div>
            </div>
                {% endif %}
            {% endfor %}
        {% endif %}





        {% if j.infoBulle != '' %}
<br>
            <div style="padding-left: 700px;" class="container">
                <a href="#" data-toggle="popover" title="{{ j.infoBulle }}" data-content="{{ j.infoBulle }}"><i style="color:#4bb1cf;" class="fa fa-info-circle"></i></a>
            </div>
        {% endif %}

</div>
    {% endfor %}


{% endif %}

</div>