
{% block main %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {font-family: Arial;}

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
    <div class="tab">
        {% for key, p in quiz.page %}
        <button class="tablinks" onclick="openCity(event, '{{ p.ordre }}')" id="defaultOpen">Titre page {{ key+1 }}: {{ p.titrePage }}  </button>
         {% endfor %}
    </div>
    {% for aa in quiz.page %}

    <div id="{{ aa.ordre }}" class="tabcontent" >
        {% if aa != "Vide" %}
        <center><h3> <font color="{{ aa.colorTitrePage }}"> {{ aa }}</font></h3></center>
            {% else %}
            <center><h3>Titre de page : Vide</h3></center>
        {% endif %}
                {% for p in quiz.page %}

                        <div style="background-color: {{ p.bgColor  }};" >
                            {% if p == aa %}
                                {% if p.question|length == 0 %}

                                    <center>
                                        <div style="background-color: #e5e5e5">
                                            <h1>
                                                <center> Page vide !</center>
                                            </h1>
                                        </div>
                                    </center>
                                {% else %}
                                    {% for key,j in p.question %}
                                        <div style="padding-left: 10px ;width: 100%; border-top: 1px solid ">
                                            <h3>Question n° {{ key+1 }}</h3>
                                        </div>

                                        <div style="padding-left: 20px">

                                            {% if j.typeQuestion =='Vrai/faux' %}
                                                {{ j.textQuestion }}
                                                <br>
                                                {{ j.descriptionQuestion }}
                                                <br>
                                                {% for p in j.reponse %}
                                                    {% if p.question == j %}

                                                        <div class="row" >
                                                            <div class="col-8">
                                                                {{ p.reponseValide }}

                                                            </div>
                                                            <div class="col-1">
                                                                <div style="width: 100px;">

                                                                    <select style="width: 150px;" class="form-control">
                                                                        <option>
                                                                            Vrai
                                                                        </option>
                                                                        <option>
                                                                            Faux
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <br>
                                                            <br>
                                                        </div>




                                                    {% endif %}
                                                {% endfor %}

                                            {% endif %}


                                            {% if j.typeQuestion =='Liste déroulante' %}
                                                {{ j.textQuestion }}
                                                <br>
                                                <div class="row" >
                                                    <div class="col">
                                                        {{ j.descriptionQuestion }}
                                                    </div>
                                                </div>

                                                <div style="width: 100px;">
                                                    <select style="width: 350px;" class="form-control">
                                                        {% for i in j.reponse %}
                                                            {% if i.question == j %}

                                                                <option>
                                                                    {{ i.reponseValide }}
                                                                </option>

                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <br>
                                                <br>
                                                <br>

                                            {% endif %}



                                            {% if j.typeQuestion == 'Case à cocher' %}

                                                {{ j.textQuestion }}
                                                <br>
                                                {{ j.descriptionQuestion }}

                                                {% for p in j.reponse %}
                                                    {% if p.question == j %}
                                                        <div class="row" >
                                                            <div class="col-8">
                                                                {{ p.reponseValide }}
                                                            </div>
                                                            <div class="col-4">

                                                                <div style="width: 100px;">
                                                                    <input type="checkbox"  >
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                            {% if j.typeQuestion =='Calculée' %}
                                                {{ j.textQuestion }}
                                                <br>
                                                {{ j.descriptionQuestion }}

                                                {% for p in j.reponse %}
                                                    {% if p.question == j %}
                                                        <table>
                                                            <tr>
                                                                <td colspan="3">
                                                                    {{ p.descriptionformule }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> Formule:</b>
                                                                </td>
                                                                <td colspan="3">
                                                                    <input  style="width: 400px;" class="form-control" type="text" >
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b>Resultat:</b>
                                                                </td>
                                                                <td>
                                                                    <input style="width: 400px;" class="form-control" type="text">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}


                                            {% if j.typeQuestion =='Date' %}
                                                {{ j.textQuestion }}
                                                <br>
                                                {{ j.descriptionQuestion }}
                                                <br>
                                                <br>
                                                {% for p in j.reponse %}
                                                    {% if p.question == j %}
                                                        <div class="row" >
                                                            <div class="col-8">
                                                                {{ p.descriptiondate }}<br>
                                                            </div>
                                                            <div class="col-3">
                                                                <input type="date" class="form-control">
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <br>
                                            {% endif %}

                                            {% if j.typeQuestion =='Nombre' %}
                                                {{ j.textQuestion }}
                                                <br>
                                                {{ j.descriptionQuestion }}
                                                <br>
                                                {% for p in j.reponse %}
                                                    {% if p.question == j %}
                                                        <div class="row" >
                                                            <div class="col-8">
                                                                {{ p.desnumber }}<br><br>
                                                            </div>
                                                            <div class="col-3">

                                                                <input type="number" class="form-control">
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}





                                            {% if j.infoBulle != '' %}
                                                <br>
                                                <div style="padding-left: 95%;" class="container">
                                                    <a href="#" data-toggle="popover" title="{{ j.infoBulle }}" data-content="{{ j.infoBulle }}"><i style="color:#4bb1cf;" class="fa fa-info-circle"></i></a>
                                                </div>
                                            {% endif %}

                                        </div>
                                    {% endfor %}


                                {% endif %}
                            {% endif %}
                        </div>

                {% endfor %}

    </div>
{% endfor %}

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";

        }
        document.getElementById("defaultOpen").click();

    </script>

{% endblock %}