{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}

{% set _content_title = 'Historique' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}
    <div class="form-group row">

        <h1 class="title">{{ _content_title }}</h1>
    </div>

{% endblock %}


{% block main %}
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div style="background-color: beige" class="text-center">
        <h3>Tentative {{ tentative+1 }} de participant <u>{{ par }}</u> pour le quiz {{ quiz }}</h3>
    </div>
<br>
  <h5 style="padding-left: 15px">
      <font color="#6495ed">
          Nombre de réponses
      </font>
  </h5>

    <div style="padding-left:20px">
        <table class="table table-hover">
            <thead>
            <tr style="background-color: beige">
                <th>Réponse correcte</th>
                <th>10</th>
            </tr>
            </thead>
            <thead>
            <tr style="background-color: beige">
                <th>Réponse incorrecte</th>
                <th>3</th>

            </tr>
            </thead>
        </table>
    </div>
<br>



    <h5 style="padding-left: 20px">
        <font color="#6495ed">
    Suivi des réponses de quiz
        </font>
    </h5>

    <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <div class="col-md-6 mb-4">

            <div class="card">

                <div class="card-body">

              <center>Question correcte</center>

                </div>

            </div>

        </div>

        <div class="col-md-6 mb-4">

            <div class="card">

                <div class="card-body">

                    <center>Question incorrecte</center>


                </div>

            </div>

        </div>

    </div>
    <br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>

{% endblock %}