{% block body %}

    <style>
        .quiz-score-nb span {
            display: inline-block;
            border-radius: 50%;
            background: #626262;
            padding: 0;
            color: #fff;
            width: 2.6em;
            height: 2.6em;
            line-height: 2.6em;
            text-align: center;
        }
        .gqwVxY {
            position: relative;
            font-family: inherit;
            font-weight: 700;
            cursor: pointer;
            white-space: nowrap;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
            min-height: 48px;
            background-color: rgb(159, 207, 103);
            color: rgb(29, 42, 13);
            transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
            outline: none;
            border-width: 1px;
            border-style: solid;
            border-image: initial;
            padding: 8px 18px;
            border-color: transparent;
            border-radius: 4px;
        }
        .gqwVxY:hover {
            position: relative;
            font-family: inherit;
            font-weight: 700;
            cursor: pointer;
            white-space: nowrap;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
            min-height: 48px;
            color: rgb(29, 42, 13);
            background-color: rgb(173, 214, 126);
            transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
            outline: none;
            border-width: 1px;
            border-style: solid;
            border-image: initial;
            padding: 8px 18px;
            border-color: transparent;
            border-radius: 4px;
        }
        .star-rating {
            direction: rtl;
            display: inline-block;
            padding: 20px
        }
        .star-rating input[type=radio] {
            display: none
        }
        .star-rating label {
            color: #bbb;
            font-size: 50px;
            padding: 0;
            cursor: pointer;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out
        }
        .star-rating label:hover,
        .star-rating label:hover ~ label,
        .star-rating input[type=radio]:checked ~ label {
            color: #f2b600
        }
        .invalid-select-choice{
            color: red;
            text-decoration: line-through;
        }
        .valid-select-choice{
            color: #87a800;
        }
        .numberCircle {
            width: 90px;
            line-height: 90px;
            border-radius: 50%;
            text-align: center;
            font-size: 18px;
            border: 2px solid #666;
            background: #626262;
            color: #fff;
            display: inline-block;
        }
    </style>


    <div style="background-color: ">

        <center>
            <h3><b> Résultats du tentative {{ tentative }}  </b></h3>
        </center>

        <div class="quiz-score">
            <h3><p style="display: inline-block"> Score</p> <div class="numberCircle">{{ score }} / {{ totale }}</div></h3>

        </div>
        {% set key = 0 %}

        <div>
            <button type="button" id="prevBtn" class="btn btn-info" style="float: left;" onclick="nextPrev(-1)">Page précédente</button>
            <button type="button" id="nextBtn" class="btn btn-info" style="float: right;" onclick="nextPrev(1)">Page suivante</button>
        </div>
        {% for page in pages %}
            <div  class="tab" style="display: none ;padding: 20px">
                {% for key,question in page %}


                    {% if question.type_question =="Case à cocher" %}
                        <div style="background-color: white; padding: 20px">
                            <b> Question n° {{ key+1 }} </b><br>

                            {{ question.text_question }}<br>
                            <ul style="list-style-type: circle;">
                                {% for v in question.reponseValid %}

                                    <li>
                                        <b class="{% if v.repParticipant == v.etatcaseacocher %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                            <input type="checkbox" disabled="disabled" {% if v.repParticipant %}checked{% endif %}> {{ v.reponse_valide }}
                                        </b>
                                    </li>

                                    <br>

                                {% endfor %}
                            </ul>
                            <div style="background-color: #f3f3f3; padding: 20px ">
                                La bonne reponse est :
                                <ul>
                                    {% for key, k in question.reponseValid %}
                                        {% if k.etatcaseacocher  == true %}
                                            <br>  <li>  {{ (k.reponse_valide) }}&nbsp;</li>

                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if question.type_question =="Liste déroulante" %}
                        {% set repcorrect = null %}
                        {% for key, q in question.reponsesQuestion %}

                            {% if  q.etatlist == true %}
                                {% set repcorrect =  q.reponse_valide %}
                            {% endif %}
                        {% endfor %}

                        <div style="background-color: white; padding: 20px">
                            <b> Question n° {{ key+1 }} </b><br>

                            {{ question.text_question }}<br>
                            <ul style="list-style-type: circle;">
                                <li>
                                    <b class="{% if question.reponsesParticipant[0].reponse == repcorrect %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                        {{ question.reponsesParticipant[0].reponse }}
                                    </b>
                                </li>
                            </ul>


                            <div style="background-color: #f3f3f3; padding: 20px ">
                                La bonne reponse est :
                                <select class="form-control">
                                    {% for key, q in question.reponsesQuestion %}
                                        <option {% if q.etatlist %} selected {% endif %}>{{ q.reponse_valide }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    {% if question.type_question =="Date" %}
                        <div style="background-color: white">
                            <div style="background-color: white; padding: 20px">
                                <b> Question n° {{ key+1 }} </b><br>
                                {{ question.text_question }}<br>
                                <ul style="list-style-type: circle;">
                                    {% for key,l in question.reponsesParticipant %}
                                        <li>
                                            <b class="{% if question.reponsesQuestion[key].reponse_valide == l.reponse %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                                {{ (l.reponse) }}
                                                {% if question.reponsesQuestion[key].reponse_valide == l.reponse %}
                                                    ( Correct )
                                                {% else %}
                                                    ( Faux )
                                                {% endif %}
                                            </b>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <div style="background-color: #f3f3f3; padding: 20px ">
                                    La bonne reponse est :
                                    <ul>
                                        {% for k in question.reponsesQuestion %}
                                            <br>
                                            <li> {{ k.reponse_valide }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if question.type_question =="Nombre" %}
                        <div style="background-color: white; padding: 20px">
                            <b> Question n° {{ key+1 }} </b><br>

                            {{ question.text_question }}<br>
                            <ul style="    list-style-type: circle;">
                                {% for key,l in question.reponsesParticipant %}
                                    <b class="{% if question.reponsesQuestion[key].reponse_valide == l.reponse %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                        {{ (l.reponse) }}
                                        {% if question.reponsesQuestion[key].reponse_valide == l.reponse %}
                                            ( Correct )
                                        {% else %}
                                            ( Faux )
                                        {% endif %}
                                    </b>
                                {% endfor %}
                            </ul>
                            <div style="background-color: #f3f3f3; padding: 20px ">
                                La bonne reponse est :
                                <ul>
                                    {% for key, m in question.reponsesQuestion %}
                                        <li>
                                            {{ (question.reponsesQuestion[key].reponse_valide) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if question.type_question =="Vrai/faux" %}
                        <div style="background-color: white; padding: 20px">
                            <b> Question n° {{ key+1 }} </b><br>
                            {{ question.text_question }}<br>
                            <ul style="list-style-type: circle;">
                                {% for key, k in question.reponsesQuestion %}
                                    {% if question.reponsesParticipant[key].reponse == 'Faux' %}
                                        {% set repParticip = false %}
                                    {% else %}
                                        {% set repParticip = true %}
                                    {% endif %}
                                    <li>
                                        <b>
                                            {{ k.reponse_valide }} :
                                            <span class="{% if k.etatvf == repParticip %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                            ( {{ question.reponsesParticipant[key].reponse }} )
                                        </span>
                                        </b>
                                    </li>
                                    </b>
                                    <br>
                                {% endfor %}
                            </ul>

                            <div style="background-color: #f3f3f3; padding: 20px ">
                                La bonne reponse est :
                                <ul>
                                    {% for key, k in question.reponsesQuestion %}
                                        <br> <li>   {{ (k.reponse_valide) }} : ( <b>{{ k.etatvf ? 'Vrai':'Faux' }}</b> )</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        {% endfor %}


    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('template/front/jquery.js') }}" ></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "white";
        }
        var currentTab = 0;
        showTab(currentTab);
        function showTab(n) {
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                $('#nextBtn').css('display', 'none');
//                document.getElementById("nextBtn").innerHTML ='valider';
            } else {
                $('#nextBtn').css('display', 'inline');
                document.getElementById("nextBtn").innerHTML = "Page suivante";
            }
        }
        function nextPrev(n) {
            var x = document.getElementsByClassName("tab");
            if (n == 1 && !validateForm())
                return false;
            x[currentTab].style.display = "none";
            currentTab = currentTab + n;
            if (currentTab >= x.length) {
                alert('Are you sur !!');
                document.getElementById("regForm").submit();
                // return false;
            }
            showTab(currentTab);
        }
        function validateForm() {
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            return valid;
        }
    </script>
{% endblock %}
