
{% block main %}
   <table>
    <tr>

    {% for p in quiz.page %}
            <td style="vertical-align: top;">
                <div style="background-color: {{ p.bgColor  }}; width: 600px; height: auto;" >

                        <div style="">

                            {% if p.titrePage == "Vide" %}
                            <center>
                                <label>
                                    <b>
                                        <h2>
                                            Titre est vide
                                        </h2>
                                    </b>
                                </label>
                            </center>
                        {% else %}
                            <center>
                                <font color="{{ p.colorTitrePage }}">
                                    <b>
                                        <h2>
                                            {{ p.titrePage }}
                                        </h2>
                                    </b>
                                </font>
                            </center>
                        {% endif %}
                        {% if p.question|length == 0 %}

                        <label>
                            Page vide !
                        </label>
                        {% else %}
                        {% for key, j in p.question %}



                            <div class="list-group" style="padding: 10px">
                                        <h4>
                                           <label>Question n° : {{ key + 1 }}</label>
                                        </h4>

                                    {% if j.typeQuestion =='Vrai/faux' %}
                                        {{ j.textQuestion }}
                                        <br>
                                        {{ j.descriptionQuestion }}

                                        {% for p in j.reponse %}
                                            {% if p.question == j %}
                                                <table>
                                                    <tr>
                                                        <td colspan="3">
                                                            {{ p.reponseValide }}
                                                        </td>
                                                        <td colspan="3">
                                                            <div style="width: 100px;">

                                                                <select style="width: 150px;" class="form-control">
                                                                    <option>
                                                                        Vrai
                                                                    </option>
                                                                    <option>
                                                                        Faux
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}


                                    {% if j.typeQuestion =='Liste déroulante' %}
                                        {{ j.textQuestion }}
                                        <br>

                                        {{ j.descriptionQuestion }}

                                        <table>
                                            <tr>
                                                <td colspan="3">
                                                    <div style="width: 100px;">
                                                        <select style="width: 350px;" class="form-control">
                                                            {% for i in j.reponse %}
                                                                {% if i.question == j %}

                                                                    <option>
                                                                        {{ i.reponseValide }}
                                                                    </option>

                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    {% endif %}



                                    {% if j.typeQuestion == 'Case à cocher' %}
                                        {{ j.textQuestion }}
                                        <br>
                                        {{ j.descriptionQuestion }}

                                        {% for p in j.reponse %}
                                            {% if p.question == j %}
                                                <table>
                                                    <tr>
                                                        <td colspan="8">
                                                            {{ p.reponseValide }}
                                                        </td>
                                                        <td>
                                                            <div style="width: 100px;">
                                                                <input type="checkbox" >
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if j.typeQuestion =='Calculée' %}
                                        {{ j.textQuestion }}
                                        <br>
                                        {{ j.descriptionQuestion }}

                                        {% for p in j.reponse %}
                                            {% if p.question == j %}
                                                <table>
                                                    <tr>
                                                        <td colspan="3">
                                                            {{ p.descriptionformule }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Formule:
                                                        </td>
                                                        <td colspan="3">
                                                            <input  style="width: 400px;" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Resultat:
                                                        </td>
                                                        <td>
                                                            <input style="width: 400px;" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                </table>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}




                                {% if j.typeQuestion =='Date' %}
                                    {{ j.textQuestion }}
                                    <br>
                                    {{ j.descriptionQuestion }}
                                    <br>
                                    {% for p in j.reponse %}
                                        {% if p.question == j %}
                                            {{ p.descriptiondate }}<br>
                                            {{ p.desnumber }}
                                            <input type="date" class="form-control">
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if j.typeQuestion =='Nombre' %}
                                    {{ j.textQuestion }}
                                    <br>
                                    {{ j.descriptionQuestion }}
                                    <br>
                                    {% for p in j.reponse %}
                                        {% if p.question == j %}
                                            {{ p.descriptiondate }}<br>
                                            {{ p.desnumber }}
                                            <input type="number" class="form-control">
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}



                                    {% if j.infoBulle != '' %}
                                        <div style="padding-left: 570px;" class="container">
                                            <a href="#" data-toggle="popover" title="{{ j.infoBulle }}" data-content="{{ j.infoBulle }}"><i style="color:#4bb1cf;" class="fa fa-info-circle"></i></a>
                                        </div>
                                    {% endif %}
                            </div>

                        {% endfor %}

                        {% endif %}
                        </div>
                </div>
            </td>
    {% endfor %}
    </tr>
   </table>
{% endblock %}