<h2>Tentative : {{ t }}</h2><br>

{{ dump(resultat) }}
{{ dump(reponseparticipant)}}


{{ dump(resultat.participantquiz) }}

//***********************************************************

{% for i in resultat.participantquiz.resultat %}

    {% if i.tentative == t %}
    {{ dump(i) }}
    {% endif %}
{% endfor %}