{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}

{% set _content_title = 'ESPACE ADMINISTRATEUR' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}

    <div class="form-group row">
        <h1 class="title">{{ _content_title }}</h1>
    </div>
{% endblock %}
{% block main %}
    <style>

    </style>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>

            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            .flip-card {
                background-color: transparent;
                width: 300px;
                height: 300px;
                perspective: 1000px;
            }

            .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.6s;
                transform-style: preserve-3d;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }

            .flip-card:hover .flip-card-inner {
                transform: rotateY(180deg);
            }

            .flip-card-front, .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }

            .flip-card-front {
                background-color: white;
                color: black;
                z-index: 2;
            }

            .flip-card-back {
                background-color: #2980b9;
                color: white;
                transform: rotateY(180deg);
                z-index: 1;
            }
            .font-family: Verdana,sans-serif;

        </style>
    </head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="generator" content="EasyAdmin" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  >

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myDIV *").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    {% set nb = 0 %}
{% set nbquiz=1 %}
{% set usernb=0 %}
{% set total=0 %}
    {% set idquiz = 0 %}
            <br>
    <div style="padding-left: 20px  " class="row">
           <div  class="col-0">
               <h2>   <font color="#a9a9a9"  ><i class="fa fa-search" ></i></font></h2>
           </div>
           <div class="col-5">
               <input id="myInput" class="form-control" type="text" placeholder="Recherche..">

           </div>
       </div>
        <br>
    <center>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



            {% if quiz|length != 0 %}
                <div class="row" id="myDIV"><br><br>

                {% for p in quiz %}
                    <div class="modal fade" id="show-{{ p.id }}" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:	#87CEEB">
                                    <h2 class="modal-title text-white">Détail quiz</h2>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body" style="text-align: left;     font-family: Verdana,sans-serif;">
                                    <b>Titre : </b> <font color="{{p.colorTitre}}">{{ p }}</font><br><br>
                                    <b>Déscription : </b>{{ p.description }}<br><br>
                                    <b> Nombre des tentatives : </b>{% if p.nbTentative ==1000 %}
                                    Illimité
                                    {% else %}
                                        {{ p.nbTentative }}
                                        {% endif %}
                                    <br>
                                    <br>
                                    <b>Date céartion :</b> {{ p.datecreerquiz ? p.datecreerquiz|date('Y-m-d') : '' }}<br><br>

                                    <b>Date ouverture de quiz : </b>
                                    {% if p.ouvrireQuiz == null %}
                                        Illimité
                                    {% else %}
                                    {{ p.ouvrireQuiz ? p.ouvrireQuiz|date('Y-m-d') : '' }}
                                    {% endif %}
                                    <br>
                                    <br>
                                    <b>Date fermeture de quiz : </b>
                                    {% if p.fermerQuiz == null %}
                                        Illimité
                                    {% else %}
                                        {{ p.fermerQuiz ? p.fermerQuiz|date('Y-m-d') : '' }}<br><br>
                                    {% endif %}

                                    {% if p.brochure == "null" %}


                                      <center>  <img width="180" height="180" src="{{ asset('logoquiz/logonull.png' ) }}"></center>
                                {% else %}
                                    <center>
                                    <img src="{{ asset('uploads/brochures/' ~ p.brochure) }}" alt="Avatar" style="width:180px;height:180px;">
                                    </center>
                                {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>


                    {% if p.user == user %}
                        {% set nb = nb+1 %}
                        <div class="col-sm-3"  >
                            <div class="flip-card" style="background-color:;" >

                                <div class="flip-card-inner">

                                    <div class="flip-card-front">
                                        {% if p.brochure == "null" %}
                                            <br>
                                            <div class="container"  >

                                                <div style="height: px; background-color: #ADD8E6; ">
                                                    <div class="card-body" style="height: 59px; ">
                                                        <p class="titrequiz">{% if p.titre|length > 21 %}{{ p.titre|slice(0, 20) ~ '...' }}{% else %}{{ p.titre }}{% endif %}</p>
                                                    </div>
                                                </div><br>
                                                <img width="180" height="180" src="{{ asset('logoquiz/logonull.png' ) }}">

                                            </div>
                                            {% else %}
                                                <br>
                                        <div class="container" >
                                            <div style="height: px;background-color: #ADD8E6; ">
                                                <div class="card-body" style="height: 60px; ">
                                                    <p class="titrequiz">{% if p.titre|length > 21 %}{{ p.titre|slice(0, 20) ~ '...' }}{% else %}{{ p.titre }}{% endif %}</p>
                                                </div>
                                            </div><br>
                                            <img src="{{ asset('uploads/brochures/' ~ p.brochure) }}" alt="Avatar" style="width:180px;height:180px;">
                                        </div>
                                                {% endif %}
                                    </div>
                                    <div class="flip-card-back">
<br><br>
                                        <p class="titrequiz">{% if p.titre|length > 21 %}{{ p.titre|slice(0, 20) ~ '...' }}{% else %}{{ p.titre }}{% endif %}</p>

                                            {% for h in participant %}

                                                {% if p.id == h.idQuiz %}
                                                    <b>{{ h.NbParticipant }} participants</b>

                                                {% endif %}

                                            {% endfor %}

                                        <p> {% if p.description|length > 21 %}{{ p.description|slice(0, 200) ~ '...' }}{% else %}{{ p.description }}{% endif %}</p>
                                      <div>
                                          <a href="#" class="btn btn-success"  data-target="#show-{{ p.id }}" data-toggle="modal"   >Voir</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>

                    {% endif %}
                {% endfor %}

                </div>

            {% endif %}
    </center>

    {% for quiz in quiz %}

        {% if quiz.user == user %}
        {% set nb = nb+1 %}
        {% endif %}
    {% endfor %}
    {% if nb == 0 %}
        <center><h1>Aucun résultat trouvé
            </h1></center><br>
    {% endif %}

{% endblock %}