<html lang="en">

<head>

    <style>
        .center {
            margin: auto;
            width: 60%;
            border: 0.5px solid #eeeeee ;
            padding: 10px;
        }
        .img2 {
            float: right;
        }
        body {
            font-family: "Lato", sans-serif;
            transition: background-color .5s;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #2a85a0;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

        .pagination a.active {
            background-color: dodgerblue;
            color: white;
        }

        .pagination a:hover:not(.active) {background-color: #ddd;}

    </style>

    <style>
        .card {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            max-width: 500px;
            margin: auto;
            text-align: center;
            font-size: 20px;
            font-family: "Tlwg Typo";
        }

        .titrequiz {
            color: #31b0d5;
            font-size: 25px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #3a87ad;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .card button:hover {
            opacity: 0.7;
        }


    </style>


</head>
<head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"  href="{{ path('index') }}"> Quiz </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <span style="color:white;  font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>
            </li>


            <li><a href="{{ path('index') }}">Accueil</a></li>

            <style>
                .dropdown-submenu{position:relative;}
                .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
                .dropdown-submenu:hover>.dropdown-menu{display:block;}
                .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
                .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
                .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
            </style>


            <li class="dropdown-submenu"> <a href="#" tabindex="-1">  Toutes nos catégories</a>
                <ul class="dropdown-menu">

                    <li>
                        <a href="{{ path('listerquiz', {'categorie': 'Education'}) }}">

                            Education
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('listerquiz', {'categorie': 'Santé'}) }}">

                            Santé
                        </a>
                    </li>
                    <li>
                        <a  href="{{ path('listerquiz', {'categorie': 'Ressources Humaines'}) }}">

                            Ressources Humaines
                        </a>
                    </li>
                    <li>
                        <a  href="{{ path('listerquiz', {'categorie': 'Evenementiel'}) }}">

                            Evenementiel
                        </a>
                    </li>
                    <li>
                        <a  href="{{ path('listerquiz', {'categorie': 'Autre'}) }}">

                            Autre
                        </a>
                    </li>
                </ul>
            </li>



        </ul>



    </div>
</nav>

{% set nb =0 %}
<div style="padding:; background-color: #f0ad4e">
    <div style="padding: 20px; background-color:">
       <div class="row" style="background-color: ">

        <div class="col-sm-5" style="background-color:;">

            <font size="10" color="white">
                {{ categorie }}
            </font>
        </div>

       </div>

    </div>
</div>
<div class="row">

    <div style="padding: 80px">


        {% for q in listquiz %}
            {% if q.categorie == categorie %}
                {% set nb = nb + 1 %}
            {% endif %}
        {% endfor %}

        {% if nb == 0 %}

            <h1>Cette categorie est vide :( </h1>
        {% endif %}
            <div class="row">

            {% for key, q in listquiz %}

                    <div class="modal fade" id="test_{{ key }}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">


                                    Voulez vous vraiment participer au quiz  "<font color="blue"><b>{{ q.titre }}  </b></font>" ??<br><br>
                                    {{ q.description }}

                                </h4>



                                {% if q.nbTentative < 100 %}
                                    Nombre de tentative maximum est :<font color="blue"><b>{{ q.nbTentative }} </b></font><br>

                                {% else %}
                                    Nombre de tentative ilimiter !<br>
                                {% endif %}

                                {% if q.tempsDispo == 1 %}

                                    Temps disponible pour passer le quiz est :<font color="blue"><b> {{ q.timequiz }} minutes   </b></font><br>
                                {% else %}
                                    {% if q.tempsDispo == 0   %}
                                        Temps disponible pour passer le quiz est :<font color="blue"><b> illimiter  </b></font><br>

                                    {% endif %}
                                {% endif %}


                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">

                              <center>
                                 <a href="#"><img width="60" height="60" src="{{ asset('logoFB_Gmail/fb.png' ) }}"></a>
                                  &nbsp;
                                  &nbsp;
                                  &nbsp;
                                  <a href="#"> <img width="60" height="60" src="{{ asset('logoFB_Gmail/gmail.png' ) }}"></a>
                                  <br>
                                  <br>
                                  <br>
                                  <br>
OU
                              </center>
                                <br>
                                <br>
                                <label>Entre votre email</label>
                                {{ render(controller(
                                    'App\\Controller\\ParticipantController::newparticipant',{'quiz':q }

                                )) }}

                            </div>

                        </div>
                    </div>

                </div>
                {% if q.categorie == categorie and q.terminer == 1%}

                                <div class="col-sm-3" style="background-color:;">
                                    <div class="card">
                                        {% if q.brochure == "null" %}
                                            <img width="150" height="150" src="{{ asset('logoquiz/logonull.png' ) }}">

                                        {% else %}

                                            <img src="{{ asset('uploads/brochures/' ~ q.brochure) }}" alt="Avatar" style="width:150px;height:150px;">
                                        {% endif %}
                                        <p class="titrequiz">{{ q.titre }}</p>
                                        <p> {{ q.description }}</p>
                                        <p><button data-target="#test_{{ key }}  " data-toggle="modal" style="width: px;" class="menu-level-1">Go</button></p>
                                    </div>
                                </div>

                {% endif %}
            {% endfor %}
            </div>

    </div>

</div>




<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
    }


</script>


<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            tr = tr[i].getElementsByTagName("tr")[0];
            if (tr) {
                txtValue = tr.textContent || tr.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>






