{% extends '/front_end/base_front.html.twig' %}

{% block body %}


    {% set nb =0 %}
    <div class="col-md-12" style="margin-top: -40px; margin-bottom: -20px;">
        <div class="nav-tabs-custom">
            <div class="tab-content" style="text-align: center;">
                <div class="alert alert-warning">{{ categorie }}</div>
            </div>
        </div>
    </div>

    <div class="row">

        <div style="padding: 80px">

            {% for q in listquiz %}
                {% if q.categorie == categorie %}
                    {% set nb = nb + 1 %}
                {% endif %}
            {% endfor %}

            {% if nb == 0 %}

                <div style="text-align: center">
                    <h1>Il n'y a pas des quiz avec cette catégorie pour le moment !</h1>
                    <h3>Merci <i class="fa fa-smile-o" aria-hidden="true"></i></h3>
                </div>

            {% endif %}
            <div class="row">

                {% for key ,q in listquiz %}
                    <div class="modal fade" id="test_{{ key }}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header " style="background: #87CEEB;">
                                    <h4 class="modal-title col-xs-11">
                                        <font color="white">  Voulez vous vraiment participer au quiz
                                            <br>
                                            <b>{{ q.titre }}  </b> ??</font>
                                    </h4>
                                    <button type="button" class="close col-xs-1" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ q.description }}</p>
                                    {% if q.nbTentative < 100 %}
                                        Nombre de tentative maximum est : {{ q.nbTentative }}  <br>

                                    {% else %}
                                        Nombre de tentative ilimiter !<br>
                                    {% endif %}

                                    {% if q.tempsDispo == 1 and q.timequiz != 0 %}

                                        Temps disponible pour passer le quiz est :  {{ q.timequiz }} minutes   <br>
                                    {% else %}
                                        Temps disponible pour passer le quiz est : Illimité    <br>

                                    {% endif %}
                                    <br><br>
                                    <button type="button" class="btn btn-block btn-social btn-facebook m-b-5">
                                        <span class="fa fa-facebook"></span> Sign in with Facebook
                                    </button>
                                    <button type="button" class="btn btn-block btn-social btn-google m-b-5">
                                        <span class="fa fa-google"></span> Sign in with Google
                                    </button>
                                    <br><br>
                                    <center>OU</center>
                                    <br><br>
                                    <center><label>Entre votre email</label></center>
                                    {{ render(controller(
                                    'App\\Controller\\ParticipantController::newparticipant',{'quiz':q }

                                    )) }}
                                </div>

                            </div>
                        </div>

                    </div>
                    {% if q.terminer == 1 %}


                        {% if q.ouvrireQuiz <= date() and date() < q.fermerQuiz  %}

                            <div class="col-sm-3" >
                                <div class="card">
                                    {% if q.brochure == "null" %}
                                        <img width="150" height="150" src="{{ asset('logoquiz/logonull.png' ) }}">

                                    {% else %}

                                        <img src="{{ asset('uploads/brochures/' ~ q.brochure) }}" alt="Avatar" style="width:150px;height:150px;">
                                    {% endif %}
                                    <p class="titrequiz">{% if q.titre|length > 17 %}{{ q.titre|slice(0, 16) ~ '...' }}{% else %}{{ q.titre }}{% endif %}</p>
                                    <p> {% if q.description|length > 17 %}{{ q.description|slice(0, 16) ~ '...' }}{% else %}{{ q.description }}{% endif %}</p>
                                    <p><button data-target="#test_{{ key }}  " data-toggle="modal" style="width: px;" class="menu-level-1">Commencer ?
                                        </button></p>
                                </div>

                            </div>

                        {% endif %}


                        {% if q.ouvrireQuiz <= date() and q.fermerQuiz == null and q.ouvrireQuiz != null %}
                            <div class="col-sm-3" >
                                <div class="card">
                                    {% if q.brochure == "null" %}
                                        <img width="150" height="150" src="{{ asset('logoquiz/logonull.png' ) }}">

                                    {% else %}

                                        <img src="{{ asset('uploads/brochures/' ~ q.brochure) }}" alt="Avatar" style="width:150px;height:150px;">
                                    {% endif %}
                                    <p class="titrequiz">{% if q.titre|length > 17 %}{{ q.titre|slice(0, 16) ~ '...' }}{% else %}{{ q.titre }}{% endif %}</p>
                                    <p> {% if q.description|length > 17 %}{{ q.description|slice(0, 16) ~ '...' }}{% else %}{{ q.description }}{% endif %}</p>
                                    <p><button data-target="#test_{{ key }}  " data-toggle="modal" style="width: px;" class="menu-level-1">Commencer ?
                                        </button></p>
                                </div>

                            </div>
                        {% endif %}

                    {% endif %}
                {% endfor %}
            </div>

        </div>

    </div>



{% endblock %}