{% extends '/front_end/base_front.html.twig' %}

{% block body %}

<html lang="en">


<head>

</head>
<body>


<div>
    {% set repv = "" %}
    {% set rp = "" %}

    {% for page in pages %}

        {% for key,question in page %}
            Question n° {{ key+1 }} : <br>
            {{ question.text_question }}<br>
            {% if question.type_question =="Case à cocher" %}
                {% for v in question.reponseValid %}
                {{ v.reponse_valide }}
                    {% if v.etatcaseacocher == v.repParticipant %}
                   <font color="green">true</font>
                    {% else %}

                        <font color="red">false</font>

                    {% endif %}
                    <br>

                {% endfor %}
            {% endif %}


            {% if question.type_question =="Liste déroulante" %}


            La bonne reponse est :
                {% for key, q in question.reponsesQuestion %}

                    {% if  q.etatlist == true %}
                        <font color="green"> {{ q.reponse_valide }}</font>
                        {% set repv =  q.reponse_valide  %}
                    {% endif %}

                {% endfor %}
<br>
                <select>
                {% for key, q in question.reponsesQuestion %}

                    <option>

                            {{ q.reponse_valide }}

                    </option>


                {% endfor %}
                </select>
                <br>  Votre reponse :
                {% for l in question.reponsesParticipant %}
                    <font color="green"> {{ (l.reponse) }}</font>
                    {% set rp = l.reponse %}
                {% endfor %}

                {% if rp == repv %}
                    Correcte
                {% else %}
                    Incorrecte
                {% endif %}
            {% endif %}


            {% if question.type_question =="Date" %}
            Votre Reponse :<br>
            {% for key,l in question.reponsesParticipant %}

                {% if question.reponsesQuestion[key].reponse_valide ==l.reponse %}
                    <font color="green">{{ (l.reponse) }}</font> &nbsp; &nbsp;<b>Correcte</b>
                    {% else %}
                        <font color="red">{{ (l.reponse) }}</font> &nbsp; &nbsp;<b>Incorrecte</b><br>

                {% endif %}
                {% set rp = l.reponse %}
            {% endfor %}



            {% endif %}

            {{ dump(question) }}

        {% endfor %}


        <hr><hr>

    {% endfor %}


</div>

</body>
</html>
{% endblock %}
