{% extends '/front_end/base_front.html.twig' %}

{% block body %}

<style>
    .gqwVxY {
        position: relative;
        font-family: inherit;
        font-weight: 700;
        cursor: pointer;
        white-space: nowrap;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
        min-height: 48px;
        background-color: rgb(159, 207, 103);
        color: rgb(29, 42, 13);
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
        outline: none;
        border-width: 1px;
        border-style: solid;
        border-image: initial;
        padding: 8px 18px;
        border-color: transparent;
        border-radius: 4px;
    }
    .gqwVxY:hover {
        position: relative;
        font-family: inherit;
        font-weight: 700;
        cursor: pointer;
        white-space: nowrap;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
        min-height: 48px;
        color: rgb(29, 42, 13);
        background-color: rgb(173, 214, 126);
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
        outline: none;
        border-width: 1px;
        border-style: solid;
        border-image: initial;
        padding: 8px 18px;
        border-color: transparent;
        border-radius: 4px;
    }
    .star-rating {
        direction: rtl;
        display: inline-block;
        padding: 20px
    }

    .star-rating input[type=radio] {
        display: none
    }

    .star-rating label {
        color: #bbb;
        font-size: 50px;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label,
    .star-rating input[type=radio]:checked ~ label {
        color: #f2b600
    }
    .invalid-select-choice{
        color: red;
        text-decoration: line-through;
    }
    .valid-select-choice{
        color: #87a800;
    }
    .numberCircle {
        width: 120px;
        line-height: 120px;
        border-radius: 50%;
        text-align: center;
        font-size: 24px;
        border: 2px solid #666;
        background: #626262;
        color: #fff;
        display: inline-block;
    }
</style>
<body style="background-color: #f3f3f3">


<div style="background-color: #f3f3f3">
    {% set repv = "" %}
    {% set rp = "" %}

    <h1><b> Résultats du Quiz {{ quiz }}</b></h1>

    <div style="text-align: center">
        <div class="">
            <div class="">
                <div style="padding-bottom: 30px;">
                    <img class="" alt="" src="https://images.typeform.com/images/2dpnUBBkz2VN/image/default" style="width: 120px; height: 120px;">
                </div>
            </div>
            <div>
                <h3 class="_Text-sc-1t2ribu-0-h1 iHImDD" color="#3D3D3D">Merci d'avoir participé au quiz<br>Vous pouvez <strong>evoluer</strong> ce quiz — C'est simple</h3>
            </div>

            <div class="star-rating">
                <input type="hidden" id="participant" data-id="{{ par.id }}">
                <input type="hidden" id="quiz" data-id="{{ quiz.id }}">
                <input type="hidden" id="rating" data-id="{{ rate ? rate.rate : 0 }}" value="{{ rate ? rate.rate : 0 }}">
                <div id="rating-block">
                    {% if(rate) %}
                        <input id="star-5" type="radio" name="rating" value="star-5" {% if(rate.rate == 5) %}checked{% endif %}>
                        <label for="star-5" title="5 stars" class="rate" data-rate="5">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                        <input id="star-4" type="radio" name="rating" value="star-4" {% if(rate.rate == 4) %}checked{% endif %}>
                        <label for="star-4" title="4 stars" class="rate" data-rate="4">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                        <input id="star-3" type="radio" name="rating" value="star-3" {% if(rate.rate == 3) %}checked{% endif %}>
                        <label for="star-3" title="3 stars" class="rate" data-rate="3">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                        <input id="star-2" type="radio" name="rating" value="star-2" {% if(rate.rate == 2) %}checked{% endif %}>
                        <label for="star-2" title="2 stars" class="rate" data-rate="2">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                        <input id="star-1" type="radio" name="rating" value="star-1" {% if(rate.rate == 1) %}checked{% endif %}>
                        <label for="star-1" title="1 star" class="rate" data-rate="1">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                    {% else %}
                        <input id="star-5" type="radio" name="rating" value="star-5">
                        <label for="star-5" title="5 stars" class="rate" data-rate="5">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                        <input id="star-4" type="radio" name="rating" value="star-4">
                        <label for="star-4" title="4 stars" class="rate" data-rate="4">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                        <input id="star-3" type="radio" name="rating" value="star-3">
                        <label for="star-3" title="3 stars" class="rate" data-rate="3">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                        <input id="star-2" type="radio" name="rating" value="star-2">
                        <label for="star-2" title="2 stars" class="rate" data-rate="2">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                        <input id="star-1" type="radio" name="rating" value="star-1">
                        <label for="star-1" title="1 star" class="rate" data-rate="1">
                            <i class="active fa fa-star" aria-hidden="true"></i>
                        </label>
                    {% endif %}
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="ratingModal-alredy" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background: #5bc0de; color: #fff;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Info !</h4>
                        </div>
                        <div class="modal-body">
                            <p>Vous avez déjà évolué ce quiz.</p>
                            <p>Merci <i class="fa fa-smile-o" aria-hidden="true"></i></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="ratingModal-success" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background: #5bc0de; color: #fff;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Info !</h4>
                        </div>
                        <div class="modal-body">
                            <p>votre note a été enregistré avec succès.</p>
                            <p>Merci <i class="fa fa-smile-o" aria-hidden="true"></i></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- ---- -->

        </div>
    </div>

    {% for page in pages %}
    <div  class="tab" style="display: none ;padding: 20px">
        {% for key,question in page %}


            {% if question.type_question =="Case à cocher" %}
                <div style="background-color: white; padding: 20px">
                    <b> Question n° {{ key+1 }} </b><br>

                    {{ question.text_question }}<br>
                    <ul style="list-style-type: circle;">
                        {% for v in question.reponseValid %}

                            <li>
                                <b class="{% if v.repParticipant == v.etatcaseacocher %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                    <input type="checkbox" disabled="disabled" {% if v.repParticipant %}checked{% endif %}> {{ v.reponse_valide }}
                                </b>
                            </li>

                            <br>

                        {% endfor %}
                    </ul>
                    <div style="background-color: #f3f3f3; padding: 20px ">
                        La bonne reponse est :
                        <ul>
                            {% for key, k in question.reponseValid %}
                                {% if k.etatcaseacocher  == true %}
                                    <br>  <li>  {{ (k.reponse_valide) }}&nbsp;</li>

                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    </div>
            {% endif %}

            {% if question.type_question =="Liste déroulante" %}
                {% set repcorrect = null %}
                {% for key, q in question.reponsesQuestion %}

                    {% if  q.etatlist == true %}
                        {% set repcorrect =  q.reponse_valide %}
                    {% endif %}
                {% endfor %}

                <div style="background-color: white; padding: 20px">
                    <b> Question n° {{ key+1 }} </b><br>

                    {{ question.text_question }}<br>
                    <ul style="list-style-type: circle;">
                        <li>
                            <b class="{% if question.reponsesParticipant[0].reponse == repcorrect %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                {{ question.reponsesParticipant[0].reponse }}
                            </b>
                        </li>
                    </ul>


                    <div style="background-color: #f3f3f3; padding: 20px ">
                    La bonne reponse est :
                        <select class="form-control">
                            {% for key, q in question.reponsesQuestion %}
                                <option {% if q.etatlist %} selected {% endif %}>{{ q.reponse_valide }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}

            {% if question.type_question =="Date" %}
                <div style="background-color: white">
                    <div style="background-color: white; padding: 20px">
                        <b> Question n° {{ key+1 }} </b><br>
                        {{ question.text_question }}<br>
                        <ul style="list-style-type: circle;">
                            {% for key,l in question.reponsesParticipant %}
                                <li>
                                    <b class="{% if question.reponsesQuestion[key].reponse_valide == l.reponse %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                        {{ (l.reponse) }}
                                        {% if question.reponsesQuestion[key].reponse_valide == l.reponse %}
                                            ( Correct )
                                        {% else %}
                                            ( Faux )
                                        {% endif %}
                                    </b>
                                </li>
                            {% endfor %}
                        </ul>

                        <div style="background-color: #f3f3f3; padding: 20px ">
                            La bonne reponse est :
                            <ul>
                                {% for k in question.reponsesQuestion %}
                                    <br>
                                    <li> {{ k.reponse_valide }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if question.type_question =="Nombre" %}
                <div style="background-color: white; padding: 20px">
                    <b> Question n° {{ key+1 }} </b><br>

                    {{ question.text_question }}<br>
                    <ul style="    list-style-type: circle;">
                        {% for key,l in question.reponsesParticipant %}
                            <b class="{% if question.reponsesQuestion[key].reponse_valide == l.reponse %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                {{ (l.reponse) }}
                                {% if question.reponsesQuestion[key].reponse_valide == l.reponse %}
                                    ( Correct )
                                {% else %}
                                    ( Faux )
                                {% endif %}
                            </b>
                        {% endfor %}
                    </ul>
                    <div style="background-color: #f3f3f3; padding: 20px ">
                        La bonne reponse est :
                        <ul>
                            {% for key, m in question.reponsesQuestion %}
                            <li>
                                {{ (question.reponsesQuestion[key].reponse_valide) }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if question.type_question =="Vrai/faux" %}
                <div style="background-color: white; padding: 20px">
                    <b> Question n° {{ key+1 }} </b><br>
                    {{ question.text_question }}<br>
                    <ul style="list-style-type: circle;">
                        {% for key, k in question.reponsesQuestion %}
                        {% if question.reponsesParticipant[key].reponse == 'Faux' %}
                            {% set repParticip = false %}
                        {% else %}
                            {% set repParticip = true %}
                        {% endif %}
                                <li>
                                    <b>
                                        {{ k.reponse_valide }} :
                                        <span class="{% if k.etatvf == repParticip %}valid-select-choice{% else %}invalid-select-choice{% endif %}">
                                            ( {{ question.reponsesParticipant[key].reponse }} )
                                        </span>
                                    </b>
                                </li>
                               </b>
                               <br>
                        {% endfor %}
                    </ul>

                    <div style="background-color: #f3f3f3; padding: 20px ">
                          La bonne reponse est :
                        <ul>
                           {% for key, k in question.reponsesQuestion %}
                               <br> <li>   {{ (k.reponse_valide) }} : ( <b>{{ k.etatvf ? 'Vrai':'Faux' }}</b> )</li>
                           {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    </div>
    {% endfor %}

        <div>
            <button type="button" id="prevBtn" class="btn btn-warning" style="float: left;" onclick="nextPrev(-1)">Page précédente</button>
            <button type="button" id="nextBtn" class="btn btn-warning" style="float: right;" onclick="nextPrev(1)">Page suivante</button>
        </div>

    <br><br>
    <div style="text-align: center" class="quiz-eval">

        <div class="quiz-score">
            <h1><p style="display: block"> Score</p> <div class="numberCircle">{{ score }} / {{ totale }}</div></h1>
            <br><br>
            <div class="col-md-12" style="margin-top: -40px; margin-bottom: -20px;">
                <div class="nav-tabs-custom">
                    <div class="tab-content" style="text-align: center;">
                        {% if score >= totale/2 %}
                            <div class="alert alert-success">{{ quiz.messageS }}</div>
                        {% else %}
                            <div class="alert alert-danger">{{ quiz.messageE }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <hr><hr>

    <br><br>
    <div style="text-align: center">
        <header class="sc-ktHwxA gnJjUH">
            <div class="Spacer-sc-11bdvt0-0 jZlsIf">
                <a href="{{ path('index') }}"><button class="gqwVxY" color="#9FCF67">Retour à la page d'accueil</button></a>
            </div>
        </header>
    </div>

</div>

</body>
</html>
{% endblock %}

{% block js %}
    <script>
        $( ".rate" ).on('click', function() {
            var quiz = $('#quiz').data('id');
            var participant = $('#participant').data('id');
            var rate = $(this).data('rate');

            var url = '{{ path('rate_quiz', {'quiz': 'quiz_id', 'participant': 'participant_id', 'rate': 'rate_value'}) }}';
            url = url.replace("quiz_id", quiz);
            url = url.replace("participant_id", participant);
            url = url.replace("rate_value", rate);

            var rating = $('#rating').val();
            if(rating == 0){
                $.ajax({
                    url: url,
                    method: 'POST',
                    success: function(result){
                        $('#ratingModal-success').modal('show');
                        $('#rating').val(rate);
                    }
                });
            }else{
                $('#ratingModal-alredy').modal('show');
            }
        });

        $('#ratingModal-alredy').on('hidden.bs.modal', function (e) {
            location.reload();
        })
    </script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "white";
        }
        var currentTab = 0;
        showTab(currentTab);
        function showTab(n) {
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                $('#nextBtn').css('display', 'none');
//                document.getElementById("nextBtn").innerHTML ='valider';
            } else {
                $('#nextBtn').css('display', 'inline');
                document.getElementById("nextBtn").innerHTML = "Page suivante";
            }
        }
        function nextPrev(n) {
            var x = document.getElementsByClassName("tab");
            if (n == 1 && !validateForm())
                return false;
            x[currentTab].style.display = "none";
            currentTab = currentTab + n;
            if (currentTab >= x.length) {
                alert('Are you sur !!');
                document.getElementById("regForm").submit();
                // return false;
            }
            showTab(currentTab);
        }
        function validateForm() {
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            return valid;
        }

    </script>
{% endblock %}
